Awful All Flow.json
[{"id":"6c0b059e.5388b4","type":"tab","label":"Demo here","disabled":false,"info":""},{"id":"40305aab.d7dff4","type":"tab","label":"Model","disabled":false,"info":"The Model of a MVC architecture\n\n* Gets XBee Transmission from XBee RX node\n    * Add 16 bit to memory\n* Re-format dataframe for simple MQTT transition\n* Send to MQTT\n* Get from MQTT\n* Transfrom JSON String back into Javascript Object\n* Sort the message's source to the matching player\n* Sent to Player's MQTT\n* Get From Player MQTT (note that topic stays unchanged unless explicitly changed)\n    * Eg MQTT: 'Player/P1' will stay that until changed at the end\n* Transfrom JSON String back into Javascript Object\n* Sort message type : Data or Request\n    * Request types need reply\n    * Data types update existing data\n* If its a Request:\n    * Sort if its a User Validation or Magazine Request \n    * Save gun addr and query database\n    * Update data and send to Dashboard via MQTT\n    * Reply to Xbee\n* If it is Data:\n    * Sort Data types {B:Bullet data, G:GPS,I:IMU}\n    * Process data\n    * Send updates to Dashboard via MQTT\n\nAlso process user interaction with Dashboard like the profile view, timer and the logout\n\nProfile:\n    Get P1|P2|P3|P4 from Profile MQTT\n    Find user id\n    Query DB\n    Update Dashboard via MQTT\n\nTime Logging\n    Calculate time between clicks\n    Query Results DB for player stats\n    Get existing gametime from DB\n    Add old time + this.time\n    Update DB\n    Clear session data (Bullets fired, speed, etc but not players)\n\nLog everyone Out:\n    Force Clear\n        Reset Player list, session data, everything"},{"id":"b5b83123.ab91a8","type":"tab","label":"View","disabled":false,"info":"The View of a MVC Architecture\n\n * Specialised MQTT subscribe outputs data to UI with minimal processing\n * Map is imported as a iframe from localhost:PORT/worldmap\n * Buttons to change from Single to ALL views\n * "},{"id":"d79956c1.9bacc","type":"tab","label":"Simulators","disabled":false,"info":"DATA FAKER CENTRAL"},{"id":"30cc5a77.69092e","type":"tab","label":"Login","disabled":false,"info":""},{"id":"b477776d.bdebb","type":"tab","label":"simplified Xbee messager","disabled":true,"info":""},{"id":"31185375.b7bfcc","type":"tab","label":"Bullet Dash Gen + Map","disabled":true,"info":"Contains:\n    Shooter profiles and automator\n    Bullet counters\n    CSS changer\n    Map /worldmap\n    Show/Hide profiles"},{"id":"ccdfb1e5.1e28f","type":"tab","label":"luke thing","disabled":true,"info":""},{"id":"2c3b1c4e.4e87fc","type":"ui_tab","z":"","name":"Demo","icon":"dashboard","order":3,"disabled":true,"hidden":true},{"id":"7474cba4.f9428c","type":"ui_group","z":"","name":"1","tab":"2c3b1c4e.4e87fc","order":2,"disp":true,"width":"12","collapse":false},{"id":"1a0466ef.ccd0a9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#1c499d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#1c499d","edited":true},"page-titlebar-backgroundColor":{"value":"#1c499d","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#2c69d9","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#1c499d","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":1,"gy":6,"cx":1,"cy":6,"px":0,"py":0}}},{"id":"1cec672c.d6e859","type":"ui_tab","z":"","name":"Demo-Dashboard","icon":"dashboard","order":4,"disabled":true,"hidden":true},{"id":"2b7841ca.e9488e","type":"ui_group","z":"","name":"P2","tab":"38ae2bbe.a18a24","order":3,"disp":true,"width":8,"collapse":false},{"id":"dcf14767.7e892","type":"xbee-config","z":"","apiMode":"2","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"COM6","lock":false,"baudRate":"115200","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":false,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"b01a53e4.18b59","type":"xbee-config","z":"","apiMode":"2","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"COM6","lock":true,"baudRate":"9600","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":false,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"d8e022db.84c69","type":"serial-port","z":"","serialport":"COM15","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"1000","bin":"false","out":"interbyte","addchar":"","responsetimeout":"10000"},{"id":"a25bbccf.2428d8","type":"ui_group","z":"31185375.b7bfcc","name":"Demo Dash 1","tab":"1cec672c.d6e859","order":2,"disp":true,"width":"6","collapse":false},{"id":"b61b713f.43f798","type":"ui_group","z":"","name":"Demo Dash 2","tab":"1cec672c.d6e859","order":3,"disp":true,"width":"6","collapse":false},{"id":"f52011a0.88ede8","type":"ui_group","z":"","name":"Demo Dash 3","tab":"1cec672c.d6e859","order":4,"disp":true,"width":"6","collapse":false},{"id":"44fa9b4e.446fd4","type":"ui_group","z":"","name":"Demo Dash 4","tab":"1cec672c.d6e859","order":5,"disp":true,"width":"6","collapse":true},{"id":"7f1fad64.2038cc","type":"json-db-collection","z":"","name":"Users","collection":"myDatas","save":true},{"id":"4a39a197.00c2f","type":"ui_group","z":"","name":"Menu","tab":"38ae2bbe.a18a24","order":1,"disp":true,"width":3,"collapse":false},{"id":"bedf0c31.21571","type":"mongodb2","z":"","uri":"mongodb://leanne:aaaa@smartenerf-shard-00-00-cwxdv.mongodb.net:27017,smartenerf-shard-00-01-cwxdv.mongodb.net:27017,smartenerf-shard-00-02-cwxdv.mongodb.net:27017/capstone?ssl=true&replicaSet=SmartENerf-shard-0&authSource=admin&retryWrites=true&w=majority","name":"capstonedb","options":"","parallelism":"-1"},{"id":"30076b62.06030c","type":"mqtt-broker","z":"","name":"ME","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5873157.9c5a98","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":"DB"},{"id":"38ae2bbe.a18a24","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"221bcfcf.6ebb4","type":"ui_group","z":"","name":"P1","tab":"38ae2bbe.a18a24","order":2,"disp":true,"width":8,"collapse":false},{"id":"541e7bbf.84c99c","type":"ui_group","z":"","name":"P3","tab":"38ae2bbe.a18a24","order":4,"disp":true,"width":8,"collapse":false},{"id":"ba9105f8.7c9208","type":"ui_group","z":"","name":"P4","tab":"38ae2bbe.a18a24","order":5,"disp":true,"width":8,"collapse":false},{"id":"4be17c6.e34b404","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"24"},{"id":"648778d9.13a46","type":"ui_group","z":"","name":"Mappp","tab":"38ae2bbe.a18a24","order":7,"disp":false,"width":"15","collapse":false},{"id":"22222e53.74617a","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"b4118bef.179d08","type":"ui_group","z":"","name":"Inputs","tab":"cb8250d7.106b18","order":1,"disp":false,"width":"20","collapse":false},{"id":"412a3566.70fecc","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"f9fbea06.e31f58","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"cb8250d7.106b18","type":"ui_tab","z":"","name":"Signup","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5abf8915.3e04a8","type":"ui_group","z":"","name":"Profile","tab":"38ae2bbe.a18a24","order":6,"disp":false,"width":"8","collapse":false},{"id":"3a667824.df73d8","type":"mqtt-broker","z":"","name":"test","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb938c2f.627778","type":"xbee-config","z":"","apiMode":"2","rawFrames":false,"convertAdc":true,"vrefAdc":"1200","serialPort":"COM16","lock":true,"baudRate":"115200","dataBits":"8","stopBits":"1","parity":"none","bufferSize":"65536","rtscts":false,"xon":false,"xoff":false,"xany":false,"vmin":"1","vtime":"0"},{"id":"2504a96.b454cd6","type":"ui_tab","z":"","name":"ARE YOU FAST ENERF?","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"2d2c9884.13511","type":"ui_group","z":"","name":"Default","tab":"2504a96.b454cd6","disp":false,"width":"25","collapse":false},{"id":"597f7f2c.968ce","type":"ui_group","z":"","name":"Group 2","tab":"2504a96.b454cd6","order":2,"disp":true,"width":5,"collapse":false},{"id":"50a747e6.41143","type":"ui_spacer","name":"spacer","group":"a25bbccf.2428d8","order":1,"width":1,"height":1},{"id":"d804b3ed.a4c598","type":"ui_group","z":"6c0b059e.5388b4","name":"Click","tab":"","order":1,"disp":true,"width":"5"},{"id":"4b46fa5f.072894","type":"ui_group","name":"Group 3","tab":"2504a96.b454cd6","order":3,"disp":true,"width":6},{"id":"51c0452e.276e0c","type":"ui_spacer","name":"spacer","group":"44fa9b4e.446fd4","order":4,"width":1,"height":1},{"id":"28363eb0.394ba2","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":2,"width":3,"height":1},{"id":"650c4ae8.e02734","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":3,"width":3,"height":1},{"id":"a3c8bfeb.71c2c","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":5,"width":3,"height":1},{"id":"d376557e.e5c198","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":10,"width":3,"height":1},{"id":"25e95622.263f12","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":11,"width":3,"height":1},{"id":"1c429dfc.c017f2","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":12,"width":3,"height":1},{"id":"2793d5f1.d429aa","type":"ui_spacer","name":"spacer","group":"4a39a197.00c2f","order":13,"width":3,"height":1},{"id":"c3400e6.8bce17","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":1,"width":8,"height":1},{"id":"d048757.81db888","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":7,"width":1,"height":1},{"id":"b05a102b.fa901","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":9,"width":1,"height":1},{"id":"5b4e9ccc.9ed6cc","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":10,"width":1,"height":1},{"id":"8141f5c7.6e11c","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":11,"width":1,"height":1},{"id":"c28439d8.cb3a28","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":12,"width":1,"height":1},{"id":"628166eb.46a858","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":13,"width":1,"height":1},{"id":"74f48eea.3a694","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":14,"width":1,"height":1},{"id":"aa70348a.fc1138","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":15,"width":1,"height":1},{"id":"9ca9c998.127de","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":16,"width":1,"height":1},{"id":"29d318dc.4ea978","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":17,"width":1,"height":1},{"id":"592eb69e.4fb01","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":18,"width":1,"height":1},{"id":"82371eb0.d2e0c","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":19,"width":1,"height":1},{"id":"ddce1669.134d98","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":20,"width":1,"height":1},{"id":"36ed58b7.46bf3","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":21,"width":1,"height":1},{"id":"a062f1ae.74b08","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":22,"width":1,"height":1},{"id":"cd3b7b90.ba1fc8","type":"ui_spacer","name":"spacer","group":"5abf8915.3e04a8","order":23,"width":1,"height":1},{"id":"391a4be4.c46e4c","type":"ui_spacer","name":"spacer","group":"648778d9.13a46","order":1,"width":15,"height":1},{"id":"c354dd2.25d41a","type":"ui_text","z":"31185375.b7bfcc","group":"a25bbccf.2428d8","order":1,"width":0,"height":0,"name":"PlayerName","label":"PlayerName","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":60,"wires":[]},{"id":"55b1f649.32b5c8","type":"ui_gauge","z":"31185375.b7bfcc","name":"AmmoShow","group":"a25bbccf.2428d8","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"bullets","format":"{{value}}/10","min":0,"max":10,"colors":["#cc0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":1030,"y":120,"wires":[]},{"id":"6d8b7774.5e9ef8","type":"ui_text","z":"31185375.b7bfcc","group":"a25bbccf.2428d8","order":3,"width":0,"height":0,"name":"","label":"Total Ammo Shot","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":180,"wires":[]},{"id":"84d2b374.29ba5","type":"function","z":"31185375.b7bfcc","name":"shots counter","func":"var count = flow.get([\"shots\", \"tshots\"]);\n\ncount[0]--;\ncount[1]++;\n\nflow.set([\"shots\",\"tshots\"], [count[0], count[1]]);\n\nvar msg1={payload: count[0]};\nvar msg2={payload: count[1]};\n\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":420,"y":120,"wires":[["55b1f649.32b5c8","a51d4473.d8642","c0053875.43744","7f3f125c.1cc0dc","f15cd07c.6063a"],["6d8b7774.5e9ef8","a51d4473.d8642","e5d96285.10651","bf53f76f.61b618"]]},{"id":"246391a5.2a40c6","type":"change","z":"31185375.b7bfcc","name":"Initialise","rules":[{"t":"set","p":"tshots","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"shots","pt":"flow","to":"10","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Jack","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":60,"wires":[["c354dd2.25d41a","998b5b81.07e97","a2c0b834.890c5"]]},{"id":"130d1c5c.a3ed34","type":"inject","z":"31185375.b7bfcc","name":"BANG!","topic":"gun1","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["84d2b374.29ba5","8fdca0c1.00c29"]]},{"id":"fcc65a31.2e2258","type":"inject","z":"31185375.b7bfcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["246391a5.2a40c6"]]},{"id":"301bfead.a8b4ba","type":"inject","z":"31185375.b7bfcc","name":"RELOAD","topic":"gun1","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["1e7d5d14.d7b5a3"]]},{"id":"1e7d5d14.d7b5a3","type":"change","z":"31185375.b7bfcc","name":"","rules":[{"t":"set","p":"shots","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["55b1f649.32b5c8","c0053875.43744","7f3f125c.1cc0dc","f15cd07c.6063a"]]},{"id":"2295b9fc.1d4c4e","type":"ui_text","z":"31185375.b7bfcc","group":"a25bbccf.2428d8","order":4,"width":0,"height":0,"name":"Demo string","label":"Avg Bullet Speed","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":300,"wires":[]},{"id":"a51d4473.d8642","type":"debug","z":"31185375.b7bfcc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":20,"wires":[]},{"id":"8fdca0c1.00c29","type":"function","z":"31185375.b7bfcc","name":"Bullet Speed Gen","func":"var spd= 4+Math.random()+(7*Math.random());\nmsg.payload=spd;\nmsg.topic=\"bullet\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["b4e9ea0d.4181f","345d52c7.ffe84e","384988d.142c478"]]},{"id":"998b5b81.07e97","type":"ui_text","z":"31185375.b7bfcc","group":"b61b713f.43f798","order":1,"width":0,"height":0,"name":"PlayerName","label":"PlayerName","format":"{{msg.payload}}","layout":"row-spread","x":1270,"y":60,"wires":[]},{"id":"c0053875.43744","type":"ui_gauge","z":"31185375.b7bfcc","name":"AmmoShow","group":"b61b713f.43f798","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"bullets","format":"{{value}}/10","min":0,"max":10,"colors":["#cc0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":1290,"y":120,"wires":[]},{"id":"e5d96285.10651","type":"ui_text","z":"31185375.b7bfcc","group":"b61b713f.43f798","order":3,"width":0,"height":0,"name":"","label":"Total Ammo Shot","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":180,"wires":[]},{"id":"b4e9ea0d.4181f","type":"ui_chart","z":"31185375.b7bfcc","name":"","group":"b61b713f.43f798","order":4,"width":0,"height":0,"label":"Bullet Speed","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":240,"wires":[["fd84ba7.e0ffdc8"]]},{"id":"345d52c7.ffe84e","type":"ui_chart","z":"31185375.b7bfcc","name":"","group":"a25bbccf.2428d8","order":5,"width":0,"height":0,"label":"Bullet Speed","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":260,"wires":[["b4e9ea0d.4181f"]]},{"id":"384988d.142c478","type":"function","z":"31185375.b7bfcc","name":"Avg Bullet Speed","func":"var bullets = context.get('bullets')||[];\nbullets.push(msg.payload);\nif (bullets.length > 5){\nbullets.shift();\n};\ncontext.set('bullets', bullets);\n\nvar total=0;\nfor(var i = 0; i < bullets.length; i++) {\n    total += bullets[i];\n}\nvar avg = total / bullets.length;\nvar msg1 = {payload : avg, array:bullets};\nreturn msg1;","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["2295b9fc.1d4c4e","1e80642a.e8777c","5ebdd18c.969fe","6daef655.447458"]]},{"id":"1e80642a.e8777c","type":"debug","z":"31185375.b7bfcc","name":"Bullet array","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":360,"wires":[]},{"id":"5ebdd18c.969fe","type":"ui_text","z":"31185375.b7bfcc","group":"b61b713f.43f798","order":5,"width":0,"height":0,"name":"Demo string","label":"Avg Bullet Speed","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":360,"wires":[]},{"id":"6daef655.447458","type":"ui_text","z":"31185375.b7bfcc","group":"f52011a0.88ede8","order":4,"width":0,"height":0,"name":"Demo string","label":"Avg Bullet Speed","format":"{{msg.payload}}","layout":"row-spread","x":1590,"y":300,"wires":[]},{"id":"a2c0b834.890c5","type":"ui_text","z":"31185375.b7bfcc","group":"f52011a0.88ede8","order":1,"width":0,"height":0,"name":"PlayerName","label":"PlayerName","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":60,"wires":[]},{"id":"7f3f125c.1cc0dc","type":"ui_gauge","z":"31185375.b7bfcc","name":"AmmoShow","group":"f52011a0.88ede8","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"bullets","format":"{{value}}/10","min":0,"max":10,"colors":["#cc0000","#e6e600","#00ff40"],"seg1":"","seg2":"","x":1590,"y":120,"wires":[]},{"id":"bf53f76f.61b618","type":"ui_text","z":"31185375.b7bfcc","group":"f52011a0.88ede8","order":3,"width":0,"height":0,"name":"","label":"Total Ammo Shot","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":180,"wires":[]},{"id":"fd84ba7.e0ffdc8","type":"ui_chart","z":"31185375.b7bfcc","name":"","group":"f52011a0.88ede8","order":5,"width":0,"height":0,"label":"Bullet Speed","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1590,"y":240,"wires":[[]]},{"id":"e30b7201.97b9d8","type":"function","z":"31185375.b7bfcc","name":"move 'it","func":"var latt = [-37.8136+(0.0004*Math.random()),-37.8136+(0.0001*Math.random()),-37.8136+(0.001*Math.random())];\n\nmsg.payload=[ \n{\"name\":\"Joe\",  \"lat\":latt[0], \"lon\":144.9631},\n{\"name\":\"Jack\", \"lat\":latt[1], \"lon\":144.9630},\n{\"name\":\"Jim\",  \"lat\":latt[2], \"lon\":144.9632}\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["3982b8ac.4e6b48","8c6a607f.831c5"]]},{"id":"9fc9bce9.9ac5f8","type":"inject","z":"31185375.b7bfcc","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"9","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["e30b7201.97b9d8"]]},{"id":"3982b8ac.4e6b48","type":"worldmap","z":"31185375.b7bfcc","name":"","lat":"-37.813605","lon":"144.963100","zoom":"16","layer":"Esri Terrain","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":460,"y":400,"wires":[]},{"id":"8c6a607f.831c5","type":"debug","z":"31185375.b7bfcc","name":"map","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":480,"wires":[]},{"id":"168b505c.e62cf","type":"inject","z":"31185375.b7bfcc","name":"","topic":"colourtext","payload":"{\"color1\":\"blue\",\"color2\":\"red\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["96499229.3f56b8"]]},{"id":"96499229.3f56b8","type":"function","z":"31185375.b7bfcc","name":"colour","func":"var a = Math.random();\nif (a>.5){msg.payload=msg.payload.color1;}\nelse{msg.payload=msg.payload.color2;}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["faa9ac7c.d575a8"]]},{"id":"faa9ac7c.d575a8","type":"ui_template","z":"31185375.b7bfcc","group":"a25bbccf.2428d8","name":"","order":3,"width":0,"height":0,"format":"<div style=\"color:{{msg.payload}}\">The payload is : {{msg.payload}}</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":460,"y":700,"wires":[[]]},{"id":"2d5fe327.67e9ac","type":"ui_ui_control","z":"31185375.b7bfcc","name":"","x":460,"y":600,"wires":[[]]},{"id":"f15cd07c.6063a","type":"ui_gauge","z":"31185375.b7bfcc","name":"","group":"44fa9b4e.446fd4","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}/10","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":300,"wires":[]},{"id":"284761b4.79a9b6","type":"inject","z":"31185375.b7bfcc","name":"hideall","topic":"","payload":"{\"group\":{\"hide\":[\"Demo-Dashboard_Demo_Dash_1\",\"Demo-Dashboard_Demo_Dash_2\",\"Demo-Dashboard_Demo_Dash_3\",\"Demo-Dashboard_Demo_Dash_4\"],\"focus\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["2d5fe327.67e9ac"]]},{"id":"7ab8f167.bb588","type":"inject","z":"31185375.b7bfcc","name":"show me","topic":"","payload":"{\"group\":{\"show\":[\"Demo-Dashboard_Demo_Dash_1\",\"Demo-Dashboard_Demo_Dash_2\",\"Demo-Dashboard_Demo_Dash_3\",\"Demo-Dashboard_Demo_Dash_4\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["2d5fe327.67e9ac"]]},{"id":"1b6f486.3d47238","type":"inject","z":"31185375.b7bfcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["2efe5f88.15569"]]},{"id":"2efe5f88.15569","type":"function","z":"31185375.b7bfcc","name":"zoom","func":"msg.payload={\"command\":\n    { \"zoom\": 17,\n    \"lat\":-37.813605, \n    \"lon\":144.963100,\n    \"layer\":\"Esri\",\n    \"showlayer\":\"Esri\"\n    }};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["3982b8ac.4e6b48"]]},{"id":"384a5c02.92b6a4","type":"mosca in","z":"40305aab.d7dff4","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":40,"wires":[[]]},{"id":"96c1f23f.a4ea5","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"gun/#","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":530,"y":120,"wires":[["5386ff32.7a4aa8"]]},{"id":"b3ed94f2.29e59","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":390,"y":120,"wires":[]},{"id":"e2b00dcc.2ff868","type":"xbee-rx","z":"40305aab.d7dff4","name":"","xBee":"","x":100,"y":120,"wires":[["92c3210.6d0856","6ef59b00.cc077c","6c2fe3c7.0960bc"]]},{"id":"92c3210.6d0856","type":"function","z":"40305aab.d7dff4","name":"to mqtt","func":"var ma = {\"payload\": null, \"topic\": null};\nma.topic=\"gun/\"+msg.payload.remote16;\nvar word=\"\";\nword+=msg.payload.data.toString('ascii');\nma.payload={\"data\":word};\nreturn ma;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["b3ed94f2.29e59"]]},{"id":"6ef59b00.cc077c","type":"function","z":"40305aab.d7dff4","name":"add gun to list","func":"var gid=msg.payload.remote16;\n//get\nvar list  = global.get('gunlist')||[];\nfor (var i=0; i<list.length;i++){\n        if (list[i]===gid){\n            return null;\n        }\n    }\nif(i>=list.length){\nlist.push(gid);}\n//set\nglobal.set('gunlist',list);\nmsg.payload=list;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[[]]},{"id":"68739f93.1644b8","type":"switch","z":"40305aab.d7dff4","name":"","property":"payload.gid","propertyType":"msg","rules":[{"t":"eq","v":"gunlist[0]","vt":"global"},{"t":"eq","v":"gunlist[1]","vt":"global"},{"t":"eq","v":"gunlist[2]","vt":"global"},{"t":"eq","v":"gunlist[3]","vt":"global"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":950,"y":120,"wires":[["3fa65161.625746"],["7881d038.5631a8"],["7dd9e4d6.16144c"],["e172b032.4eee58"],["78006c32.6e5eec"]]},{"id":"3fa65161.625746","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p1","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":40,"wires":[]},{"id":"7dd9e4d6.16144c","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p3","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":160,"wires":[]},{"id":"e172b032.4eee58","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p4","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":220,"wires":[]},{"id":"666212a2.cacb6c","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"player/+","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":80,"y":400,"wires":[["cbde4fba.7d6898"]]},{"id":"7a24ab25.396e24","type":"switch","z":"40305aab.d7dff4","name":"request or data?","property":"payload.data[0]","propertyType":"msg","rules":[{"t":"eq","v":"R","vt":"str"},{"t":"eq","v":"D","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":460,"wires":[["df5d0c88.e9d6e8"],["6dfb5468.29f2f4"]]},{"id":"df5d0c88.e9d6e8","type":"switch","z":"40305aab.d7dff4","name":"type u or m","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"eq","v":"U","vt":"str"},{"t":"eq","v":"M","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":420,"wires":[["e1254176.69d398"],["bf044688.491c7"]]},{"id":"e1254176.69d398","type":"function","z":"40305aab.d7dff4","name":"query the data","func":"var s = msg.payload.data;\ns=s.substr(2);\n//s=toString('ascii');\nvar a = {\"uid\":s};\nvar b = msg.payload.gid;\nmsg.payload=a;\nflow.set(\"1tempGID\", b);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["1a09f1c3.4786b6","84ee9df4.5ea178"]],"icon":"node-red/mongodb.png"},{"id":"1a09f1c3.4786b6","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"players","operation":"find","upsert":false,"multi":false,"x":1030,"y":380,"wires":[["4566765.af1c388","228c51c6.94cb0e"]]},{"id":"4566765.af1c388","type":"function","z":"40305aab.d7dff4","name":"sort into a data frame","func":"var a,b,uid,name;\nb = flow.get(\"1tempGID\");\nif (msg.payload.length!==0){\n     name=msg.payload[0].name;\n     uid = msg.payload[0].uid;\n     var lastgun = msg.payload[0].gun;\n    a={\"gid\":b,\"uid\":uid ,\"data\":name, \"lastgun\":lastgun, \"verify\":1};\n    msg.payload=a;\n    return [msg,null];\n}else{\n    var list = global.get('gunlist');\n    for(var i =0; i<list.length;i++){\n        if (list[i]==b){\n            list.splice(i,1);\n            global.set('gunlist',list);\n        }\n    }\n    a={\"gid\":b,\"data\":\" \", \"verify\":0};\n    msg.payload=a;\n    msg.topic=\"fail\";\n    return [null,msg];\n}\n\n","outputs":2,"noerr":0,"x":1240,"y":380,"wires":[["a7de0897.841e48","ef5d2bc2.b2a1d8","750d2c5d.1c988c","2cb11e73.957bea"],["ef5d2bc2.b2a1d8","cec4206d.473b48"]],"outputLabels":["FOUND","FAIL"]},{"id":"2e4015f8.f08b42","type":"function","z":"40305aab.d7dff4","name":"add gun id to payload","func":"var g = msg.topic;\nvar gid = g.substr(4);\nvar a = {\"data\":msg.payload.data ,\"gid\":gid};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["68739f93.1644b8"]]},{"id":"cbde4fba.7d6898","type":"json","z":"40305aab.d7dff4","name":"","property":"payload","action":"obj","pretty":false,"x":210,"y":400,"wires":[["7a24ab25.396e24","231e7a8.4018306"]]},{"id":"a7de0897.841e48","type":"function","z":"40305aab.d7dff4","name":"logplayer name","func":"//var time = Date.now();\n\nvar topic = msg.topic;\nvar topic1=topic+\"/name\";\nvar msg1= {\"payload\":msg.payload.data, \"topic\":topic1};\n\nvar topic2=topic+\"/id\";\nvar msg2 = {\"payload\":msg.payload.uid, \"topic\":topic2};\n\n//var topic3=topic+\"/starttime\";\n//var msg3 = {\"payload\":Date.now(), \"topic\":topic3};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1560,"y":320,"wires":[["c843eee9.562a98"],["c843eee9.562a98","2cb11e73.957bea"]]},{"id":"253ad66e.4f3c52","type":"function","z":"40305aab.d7dff4","name":"return to gun frame","func":"var str = 'r'+msg.payload.data.value;\nvar myDataFrame = {\n  type: 0x10,\n  id: 0x01,\n  destination64: \"0013a200400a0127\",\n  destination16: msg.payload.gid,\n  broadcastRadius: 0x00,\n  options: 0x00,\n  data: str\n};\nmsg.payload=myDataFrame;\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":500,"wires":[["836287d4.3f03c8","37db3f7d.1e16d8"]]},{"id":"c843eee9.562a98","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":1810,"y":320,"wires":[]},{"id":"836287d4.3f03c8","type":"xbee-tx","z":"40305aab.d7dff4","name":"","xBee":"","x":1920,"y":500,"wires":[]},{"id":"d0f46b9b.1f2a8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":160,"wires":[["2735a5d9.ac2492"]]},{"id":"2735a5d9.ac2492","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":1,"width":0,"height":0,"name":"1 Name","label":"Player:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":380,"y":160,"wires":[]},{"id":"290fb0c3.c4d128","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":520,"wires":[["aa8c6eb7.6a60e8"]]},{"id":"aa8c6eb7.6a60e8","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":1,"width":0,"height":0,"name":"2 Name","label":"Player:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":390,"y":520,"wires":[]},{"id":"84ee9df4.5ea178","type":"debug","z":"40305aab.d7dff4","name":"query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":440,"wires":[]},{"id":"7881d038.5631a8","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p2","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":100,"wires":[]},{"id":"b2e8d8ff.ae3208","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":220,"wires":[["5946feb5.3df528"]]},{"id":"c51c9889.5c80c8","type":"ui_gauge","z":"b5b83123.ab91a8","name":"1Ammo","group":"221bcfcf.6ebb4","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":640,"y":220,"wires":[]},{"id":"d659bf8e.c6238","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":280,"wires":[["1c79f35.f32900d","d9eec75d.9cdfe8"]]},{"id":"1c79f35.f32900d","type":"ui_chart","z":"b5b83123.ab91a8","name":"1Speed","group":"221bcfcf.6ebb4","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":280,"wires":[[]]},{"id":"b4eee11f.23e398","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":5,"width":0,"height":0,"name":"1ASpeed","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":380,"y":340,"wires":[]},{"id":"a9516b42.0ae2f8","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":6,"width":0,"height":0,"passthru":false,"label":"Player 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P1\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P2\",\"Dashboard_P3\",\"Dashboard_P4\"]}}","payloadType":"json","topic":"p1","x":180,"y":960,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"33c62755.dbf918","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":8,"width":0,"height":0,"passthru":false,"label":"Player 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P3\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P2\",\"Dashboard_P1\",\"Dashboard_P4\"]}}","payloadType":"json","topic":"p3","x":200,"y":1040,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"acde3512.d04b5","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":9,"width":0,"height":0,"passthru":false,"label":"Player 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P4\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P2\",\"Dashboard_P3\",\"Dashboard_P1\"]}}","payloadType":"json","topic":"p4","x":200,"y":1080,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"3a3235e4.c3fa92","type":"ui_ui_control","z":"b5b83123.ab91a8","name":"","x":500,"y":960,"wires":[[]]},{"id":"2e06bc8d.85d324","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":7,"width":0,"height":0,"passthru":false,"label":"Player 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P2\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P1\",\"Dashboard_P3\",\"Dashboard_P4\"]}}","payloadType":"json","topic":"p2","x":200,"y":1000,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"5b19b8e5.a01a38","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":4,"width":0,"height":0,"passthru":false,"label":"All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P1\",\"Dashboard_P2\",\"Dashboard_P3\",\"Dashboard_P4\"],\"hide\":[\"Dashboard_Mappp\",\"Dashboard_Profile\"]}}","payloadType":"json","topic":"all","x":200,"y":920,"wires":[["3a3235e4.c3fa92"]]},{"id":"4ce8c1dc.3402c","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":180,"wires":[["c37591b8.247738"]]},{"id":"c37591b8.247738","type":"ui_text","z":"b5b83123.ab91a8","group":"541e7bbf.84c99c","order":1,"width":0,"height":0,"name":"3 Name","label":"Player:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":1120,"y":180,"wires":[]},{"id":"91b3ca20.3e787","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":520,"wires":[["f91b79d8.803ed"]]},{"id":"f91b79d8.803ed","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":1,"width":0,"height":0,"name":"4 Name","label":"Player:  ","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":1160,"y":520,"wires":[]},{"id":"bf044688.491c7","type":"function","z":"40305aab.d7dff4","name":"query ammo","func":"var s = msg.payload.data;\ns=s.substr(2);\nvar a = {\"aid\":s};\nvar b = msg.payload.gid;\nmsg.payload=a;\nflow.set(\"1tempGID\", b);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["86f885ee.5cb7a","84ee9df4.5ea178"]],"icon":"node-red/mongodb.png"},{"id":"86f885ee.5cb7a","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"DB ammo","collection":"ammo","operation":"find","upsert":false,"multi":false,"x":1100,"y":460,"wires":[["4ad7eb3a.353174","228c51c6.94cb0e"]]},{"id":"c59feda9.f48558","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"","collection":"ammo","operation":"find","upsert":false,"multi":false,"x":440,"y":100,"wires":[["67f06816.0bd7a8"]]},{"id":"b6ef5365.ad09f8","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"\"aid\":\"000A\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["c59feda9.f48558","490fca19.57a264"]]},{"id":"67f06816.0bd7a8","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":80,"wires":[]},{"id":"4ad7eb3a.353174","type":"function","z":"40305aab.d7dff4","name":"topic assigning","func":"if (typeof msg.payload[0]!==undefined){\nvar size = Number(msg.payload[0].size);\nmsg.payload={\"value\":Number(size), \"max\": Number(size)};\n\nvar p  = msg.topic;\np=p.substring(7,9);\nflow.set(p+\"ammoleft\", size);\nmsg.topic+=\"/ammo\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":460,"wires":[["c843eee9.562a98","7e0a98c0.d0d9b"]],"icon":"node-red-contrib-mqtt-broker/mosca.png"},{"id":"7e0a98c0.d0d9b","type":"function","z":"40305aab.d7dff4","name":"formatting","func":"var b = flow.get(\"1tempGID\");\n\nvar a = {\"gid\":b, \"data\":msg.payload};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":500,"wires":[["253ad66e.4f3c52"]]},{"id":"dc55c2f1.8becc","type":"function","z":"40305aab.d7dff4","name":"remove type","func":"//var json =\"{\";\nvar s = msg.payload.data;\ns=s.substr(1);\n//remove the D for data\n//s=s.split(\",\");\n//var char = s[0][0];\n//split into array\n//for (var i = 0; i<s.length;i++){\n//    json+=\"\\\"\" + s[i][0]+  \"\\\" : \\\"\" + s[i].substr(1) + \"\\\" ,\";\n//}\n\n//json=json.slice(0,-1);\n//json+=\"}\"\n//var json = {char:s[0].substr(1)};\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":560,"wires":[["c1bbd988.a2e738","2125f00e.dcb87"]]},{"id":"2d639bd0.b0aa94","type":"function","z":"6c0b059e.5388b4","name":"","func":"var a = msg.payload;\na=a.split(\",\");\n\nmsg.payload=a\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[[]]},{"id":"4e764baf.e44b1c","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"/player/p1","payload":"DA01,B02,C03,D04","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["2d639bd0.b0aa94","164d9716.04dc59"]]},{"id":"164d9716.04dc59","type":"function","z":"6c0b059e.5388b4","name":"","func":"//this will remove gid = unneeded sice we got topic holding the player number\nvar json =\"{\";\nvar s = msg.payload;\ns=s.substr(1);\n//remove the D for data\ns=s.split(\",\");\n//split into array\nfor (var i = 0; i<s.length;i++){\n    json+=\"\\\"\"+s[i][0]+\"\\\" : \\\"\"+s[i].substr(1)+\"\\\",\";\n}\njson=json.slice(0,-1);\njson+=\"}\"\nmsg.payload=json;\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["7ff09895.e26a6"]]},{"id":"5c7687ed.5420e","type":"function","z":"40305aab.d7dff4","name":"str to int","func":"/* resulting message output could be\n* 1 - ammo  = null\n* 2 - speed = null\n*/\nvar a =msg.payload;\na=a.substr(1);\n\na=parseInt(a);\n//node.send({\"payload\":a, \"topic\":\"demoa\"});\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":600,"wires":[["c1bbd988.a2e738","973adb4f.70cc68","9146457.95eccb8"]],"icon":"font-awesome/fa-calculator"},{"id":"b241b422.00e27","type":"function","z":"6c0b059e.5388b4","name":"","func":"var q=\"000\";\nif (msg.payload.A){\n    q+=\"a\";\n}\nif (msg.payload.C){\n    q+=\"c\";\n}\nif (msg.payload.G){\n    q+=\"g\";\n}\nif (msg.payload.F){\n    q+=\"f\";\n}\nif (msg.payload.B){\n    q+=\"b\";\n}\nmsg.payload=q;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[[]]},{"id":"11796b5a.40ad5d","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":340,"wires":[["b4eee11f.23e398"]]},{"id":"6dfb5468.29f2f4","type":"switch","z":"40305aab.d7dff4","name":"gps?","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":540,"wires":[["b13611e2.8e5ed"],["dc55c2f1.8becc"]]},{"id":"b13611e2.8e5ed","type":"function","z":"40305aab.d7dff4","name":"remove and map","func":"var s = msg.payload.data;\nvar name  = msg.topic;\nname=name.slice(7,9);\ns=s.substr(2);\n//remove the D for data and G for GPS\ns=s.split(\",\");\n//split into array\n//0  -long, 1 - lat , 2-alt\nvar color='black';\nswitch(name){\n    case 'p1': color='blue';\n        break;\n    case 'p2': color='yellow';\n        break;\n    case 'p3': color='orange';\n        break;\n    case 'p4': color='limegreen';\n        break;\n}\nmsg.payload={\"name\":name,  \"lat\":s[1], \"lon\":s[0], 'iconColor':color};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["920854a6.309798"]]},{"id":"dd592925.ad3ed","type":"ui_chart","z":"b5b83123.ab91a8","name":"","group":"648778d9.13a46","order":3,"width":15,"height":4,"label":"Total Amount of Shots Fired","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ffff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":980,"wires":[[]]},{"id":"7ff09895.e26a6","type":"json","z":"6c0b059e.5388b4","name":"","property":"payload","action":"","pretty":false,"x":450,"y":360,"wires":[["b241b422.00e27","b108234.d3c836"]]},{"id":"940f37b4.2bdac8","type":"function","z":"6c0b059e.5388b4","name":"","func":"var a  = Math.floor(Math.random()*3);\nvar str = msg.topic;\nvar res = str.slice(7, 9);\nvar mem = context.get(res)||0;\nmem+=a;\ncontext.set(res,mem);\nmsg = {\"payload\": mem, \"topic\":res};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":500,"wires":[[]]},{"id":"48c7f9f5.1b37f8","type":"switch","z":"6c0b059e.5388b4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^\\d*[13579]$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":540,"wires":[["1e53c0fa.5ea977"],["e424e298.ff021"]]},{"id":"9a537bd3.6ba3f","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[["48c7f9f5.1b37f8","401e073.a67d5f8"]]},{"id":"1e53c0fa.5ea977","type":"change","z":"6c0b059e.5388b4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"player/p1/ammo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["940f37b4.2bdac8"]]},{"id":"e424e298.ff021","type":"change","z":"6c0b059e.5388b4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"player/p2/ammo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":560,"wires":[["940f37b4.2bdac8"]]},{"id":"401e073.a67d5f8","type":"debug","z":"6c0b059e.5388b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":600,"wires":[]},{"id":"837dbfc7.9d5d7","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":580,"wires":[]},{"id":"920854a6.309798","type":"worldmap","z":"40305aab.d7dff4","name":"","lat":"-37.813605","lon":"144.963100","zoom":"17","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1040,"y":520,"wires":[]},{"id":"b3f0e3a5.d655c8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/+/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":670,"y":980,"wires":[["5c8d4cad.a75b24"]]},{"id":"5c8d4cad.a75b24","type":"function","z":"b5b83123.ab91a8","name":"","func":"var player = msg.topic;\nplayer=player.substr(7,2);\nmsg.topic=player;\n\nvar a = global.get(\"score\")||{'p1':null, 'p2':null,'p3':null,'p4':null};\na[player]=msg.payload;\nglobal.set(\"score\",a);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":980,"wires":[["dd592925.ad3ed","bb32db14.f0dc1"]]},{"id":"639cbd21.4b93ac","type":"ui_gauge","z":"b5b83123.ab91a8","name":"2Ammo","group":"2b7841ca.e9488e","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":620,"y":580,"wires":[]},{"id":"dd7114c8.66b898","type":"ui_template","z":"b5b83123.ab91a8","group":"648778d9.13a46","name":"Map widget","order":2,"width":15,"height":8,"format":"<iframe \n    id='frame'\n    src='/worldmap'\n    width='100%'  \n    height='100%'\n>\n</iframe>\n\n<script>\n window.setInterval(\"reloadIFrame();\", 3000);\n function reloadIFrame() {\n  document.frames[\"frame\"].location.reload();\n }\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":750,"y":60,"wires":[[]]},{"id":"f8091c74.a6605","type":"comment","z":"b5b83123.ab91a8","name":"Iframe embedded inside Map widget node","info":"","x":660,"y":100,"wires":[]},{"id":"86ff3c30.5c9e5","type":"inject","z":"b5b83123.ab91a8","name":"","topic":"","payload":"[{\"lat\":49.268311,\"lng\":-123.148146,\"description\":\"awefa\",\"iconUrl\":\"http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/pink-jelly-icons-arrows/009173-pink-jelly-icon-arrows-triangle-solid-left.png\"},{\"lat\":49.265311,\"lng\":-123.148146,\"description\":\"awefa\",\"iconUrl\":\"http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/pink-jelly-icons-arrows/009173-pink-jelly-icon-arrows-triangle-solid-left.png\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":557,"y":59,"wires":[["dd7114c8.66b898"]]},{"id":"dc216d62.ae9e2","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":580,"wires":[["26299207.902e96"]]},{"id":"6a863a30.304e4c","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":640,"wires":[["47a44a76.a75d34","28f8ba26.6ae75e"]]},{"id":"566add8.5d6e124","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":700,"wires":[["fdcf7875.24c24"]]},{"id":"47a44a76.a75d34","type":"ui_chart","z":"b5b83123.ab91a8","name":"2Speed","group":"2b7841ca.e9488e","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":640,"wires":[[]]},{"id":"fdcf7875.24c24","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":5,"width":0,"height":0,"name":"2ASpeed","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":380,"y":700,"wires":[]},{"id":"8472316b.1b0c2","type":"ui_gauge","z":"b5b83123.ab91a8","name":"3Ammo","group":"","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1420,"y":240,"wires":[]},{"id":"177de509.94044b","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":240,"wires":[[]]},{"id":"c63ba95b.bf72d8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":300,"wires":[[]]},{"id":"35dde0fe.802b3","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":360,"wires":[[]]},{"id":"637b48ef.a44d7","type":"ui_text","z":"b5b83123.ab91a8","group":"","order":5,"width":0,"height":0,"name":"3ASPEED","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1120,"y":360,"wires":[]},{"id":"3f1f0d6d.df720a","type":"ui_gauge","z":"b5b83123.ab91a8","name":"4Ammo","group":"ba9105f8.7c9208","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1360,"y":580,"wires":[]},{"id":"f63e84ab.fc6fb","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":580,"wires":[["bc3577f4.6c6288"]]},{"id":"d6dc3aa.1881948","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":640,"wires":[["78bde143.b78e6","f3136fc5.bd01a"]]},{"id":"dda28712.540938","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":700,"wires":[["e701f73.3db7608"]]},{"id":"78bde143.b78e6","type":"ui_chart","z":"b5b83123.ab91a8","name":"4Speed","group":"ba9105f8.7c9208","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":640,"wires":[[]]},{"id":"e701f73.3db7608","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":5,"width":0,"height":0,"name":"4ASPEED","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1120,"y":700,"wires":[]},{"id":"4f6cbc6.a2ae3c4","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":14,"width":0,"height":0,"passthru":false,"label":"Sign Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":180,"y":880,"wires":[["3a3235e4.c3fa92"]]},{"id":"c4340de2.ddf2e8","type":"function","z":"30cc5a77.69092e","name":"format to add to database","func":"var uid = msg.payload.uid;\n//uid=uid.toString('hex');\nvar a = {\n    \"name\":msg.payload.name,\n    \"uid\" :uid,\n    \"gun\" : \"0001\",\n    \"lastgun\":\"0001\",\n    \"logintime\": Date.now()\n};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["1d546f37.bc3f91"]]},{"id":"b3ac760b.fe7c8","type":"function","z":"30cc5a77.69092e","name":"query database for match","func":"var a = {\"uid\":msg.payload.uid};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["cf41225f.a6ef78"]]},{"id":"1d546f37.bc3f91","type":"trigger","z":"30cc5a77.69092e","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Check if user exists","x":810,"y":80,"wires":[["9b66b3a7.a98c28","e9a76c19.e95348"]]},{"id":"cf41225f.a6ef78","type":"mongodb-node","z":"30cc5a77.69092e","mongodb":"d5873157.9c5a98","name":"find it","collection":"players","operation":"find","upsert":false,"multi":false,"x":490,"y":140,"wires":[["ad0cb5ae.76d1d8"]]},{"id":"ad0cb5ae.76d1d8","type":"function","z":"30cc5a77.69092e","name":"Yeah?","func":"\nif (msg.payload.length!==0){\n    //if there is a result returned\n    var a = {\"payload\": 0, \"reset\":1};\n    msg=a;\n    var notification = {\"payload\":\"Error: User Tag ID already in use\"};\n    return [msg,notification];\n}\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":630,"y":140,"wires":[["1d546f37.bc3f91"],["6485aee0.f44b7"]]},{"id":"9b66b3a7.a98c28","type":"mongodb-node","z":"30cc5a77.69092e","mongodb":"d5873157.9c5a98","name":"insert user","collection":"players","operation":"insert","upsert":false,"multi":false,"x":1190,"y":80,"wires":[[]]},{"id":"750d2c5d.1c988c","type":"function","z":"40305aab.d7dff4","name":"update doc","func":"var update = {\"$set\":{\"lastgun\":msg.payload.lastgun, \"gun\":msg.payload.gid}};\nvar query = {\"uid\":msg.payload.uid};\nvar a ={\"payload\":update, \"query\":query};\nreturn a;","outputs":1,"noerr":0,"x":1550,"y":260,"wires":[["3761f186.4366de"]]},{"id":"3761f186.4366de","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"update","collection":"players","operation":"update","upsert":false,"multi":false,"x":1780,"y":260,"wires":[[]]},{"id":"ad48a536.cf1b4","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":660,"wires":[["f5ce851d.e5d8d8"]]},{"id":"e9a76c19.e95348","type":"function","z":"30cc5a77.69092e","name":"add user","func":"var a = {\"uid\": msg.payload.uid, \"playtime\":0,\"allshots\":0};\nmsg.payload=a;\nvar notification = {\"payload\":\"New User added\"};\nreturn [msg,notification];\n","outputs":2,"noerr":0,"x":1020,"y":120,"wires":[["b9a29df8.cb80e"],["6485aee0.f44b7"]]},{"id":"b9a29df8.cb80e","type":"mongodb-node","z":"30cc5a77.69092e","mongodb":"d5873157.9c5a98","name":"insert result","collection":"results","operation":"insert","upsert":false,"multi":false,"x":1190,"y":120,"wires":[[]]},{"id":"b108234.d3c836","type":"split","z":"6c0b059e.5388b4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":660,"y":360,"wires":[["31bc95e9.7ae07a"]]},{"id":"31bc95e9.7ae07a","type":"switch","z":"6c0b059e.5388b4","name":"","property":"key","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":860,"y":360,"wires":[["dd436f6a.164ca8"],["dd436f6a.164ca8"],["dd436f6a.164ca8"],["dd436f6a.164ca8"],[]]},{"id":"dd436f6a.164ca8","type":"function","z":"6c0b059e.5388b4","name":"","func":"msg.topic+=\"/\"+msg.key;\nmsg.payload=msg.key+ \" OK\";\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":380,"wires":[["67f06816.0bd7a8"]]},{"id":"5caa8199.31e5b8","type":"comment","z":"40305aab.d7dff4","name":"GUN CODES","info":"R = REQUEST\n    M = MAGAZINE\n    U = USER\nD = DATA\n    A = AMMO (shots fired)\n    B = BULLET (speed of bullet)\n    G = GPS\n    \nEX:\n    RUAAA\n        request user suthentication, rfid 'AAA'\n        \n    RM001\n        request magazine capacity, rfid '001'\n    \n    DA2\n        data message: 2 shots fired\n    \n    DB7000\n        data message: bullet time is 7000us\n        \n    DG123,123,123\n        data message: GPS coords: 123,123,123 :: Lat, Lon, Alt\n    \n    Combined:\n    DA1B7000\n        data message: 1 shot fired at 7000us\nREPLIES:\n    to gun authentication\n        <Boolean><Name:5>  \n            <boolean> = 0 if user not found\n                      = 1 if user is found\n            <name>    = username of the user in 5 characters or less\n    to magazine request\n        r<size>\n            r         = to denote reply message\n            <size>    = size of magazine on record\n    Examples:\n        Mag :  r12\n            Reply, magazine size 12\n        User:  0fail\n            User not found\n               1Jhett\n            User Found: Name = Jhett","x":190,"y":520,"wires":[]},{"id":"973adb4f.70cc68","type":"function","z":"40305aab.d7dff4","name":"A for Ammo Fired","func":"var p = msg.topic;\np=p.substring(7,9);\nvar ammoleft = flow.get(p+\"ammoleft\")||10;\nvar allshot = flow.get(p+\"allshot\")||0;\nammoleft -= 1;\nallshot+= 1;\nflow.set(p+\"ammoleft\", ammoleft);\nflow.set(p+\"allshot\",allshot);\n\nvar msg1 = {\"payload\":allshot, \"topic\":msg.topic+\"/tshot\"};\n\nmsg.payload = {\"value\":ammoleft};\nmsg.topic+=\"/ammo\";\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":1630,"y":540,"wires":[["a6e6dbbe.4a0038"],["a6e6dbbe.4a0038"]]},{"id":"a6e6dbbe.4a0038","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":1950,"y":580,"wires":[]},{"id":"9146457.95eccb8","type":"function","z":"40305aab.d7dff4","name":"B is for Bullet Speed","func":"//msg1 for bspd    msg2 for aspd\n//distance is probably 15cm\nvar qwe = msg.payload;\nvar dist = 0.15; // in metres\nvar time = Number(qwe);\ntime/=1000000;\nvar p= msg.topic;\nvar topp=p;\np=p.substring(7,9);\n\nvar spdd=Number(dist/time).toFixed(3);\nvar bul = flow.get(p+'bullets')||[];\nbul.push(spdd);\nif (bul.length > 5){\n    bul.shift();\n}\nflow.set(p+'bullets', bul);\n\n\nvar total=0;\nfor(var i = 0; i < bul.length; i++) {\n    total += Number(bul[i]);\n}\n\nvar avg = Number(total / bul.length).toFixed(3);\n//var msg2 = msg;\nvar msg2={\"payload\":avg,\"topic\":topp+\"/aspd\"}\n\nmsg.topic+=\"/bspd\";\nmsg.payload=spdd;\n\nvar dub = {'timetype':typeof(qwe),'time':time, 'qwe':qwe, 'dist':dist,'bul':bul};\nvar egg = {'payload':dub, 'topic':'debugger'};\nreturn [msg,msg2,egg];","outputs":3,"noerr":0,"x":1640,"y":580,"wires":[["a6e6dbbe.4a0038","df25589b.c04e18"],["a6e6dbbe.4a0038","df25589b.c04e18"],["df25589b.c04e18"]]},{"id":"df25589b.c04e18","type":"debug","z":"40305aab.d7dff4","name":"bulletspeed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1930,"y":660,"wires":[]},{"id":"5c73921e.677364","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"player/+/id","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":80,"y":560,"wires":[["b34249db.b3aba8","33e9b748.e8fc1"]]},{"id":"b34249db.b3aba8","type":"function","z":"40305aab.d7dff4","name":"save to Player ID List","func":"var a = global.get('pidlist')||[];\n\nvar player = msg.topic;\nplayer=player.substring(7,9);\na[player]=msg.payload;\n\nglobal.set('pidlist', a);\nmsg.payload=a;\nmsg.topic='inserted list';\nvar msg2= {\"payload\":player};\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":320,"y":560,"wires":[["33e9b748.e8fc1"],["33e9b748.e8fc1"]]},{"id":"984559c.eb70da8","type":"function","z":"b5b83123.ab91a8","name":"","func":"//var pidlist = global.get('pidlist');\n//var id = pidlist[focus];\n// query = {\"uid\": id};\nvar a = {\"payload\":msg.topic, \"topic\":\"profile\"};\nreturn a;","outputs":1,"noerr":0,"x":550,"y":1080,"wires":[["a00bff3.790fe8"]]},{"id":"490fca19.57a264","type":"function","z":"6c0b059e.5388b4","name":"","func":"var a = [];\nvar p1 = \"p1\";\nvar p2 = \"p2\";\nvar p3 = \"p3\";\nvar i1, i2, i3;\ni1 = \"1234\";\ni2 = \"qwer\";\ni3 = \"sd40\";\nvar asd = {p1:i1};\nvar qwe = {p2:i2};\nvar zxc = {p3:i3};\n\n\na.push(asd);\na.push(qwe);\na.push(zxc);\n\na.forEach(function(item) {\n  Object.keys(item).forEach(function(key) \n  {\n    if(key==\"p2\"){msg.payload=item[key];};\n  });\n});\n\n\n\n//msg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["67f06816.0bd7a8"]]},{"id":"84689997.47f6f8","type":"inject","z":"d79956c1.9bacc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["40e80419.506da4"]]},{"id":"40e80419.506da4","type":"function","z":"d79956c1.9bacc","name":"Fake totalshots maker","func":"var a = Math.ceil(Math.random()*4);\nvar aa  = a.toString();\nmsg.topic=\"player/p\"+aa+\"/tshot\";\nvar count = context.get(aa)||0;\ncount+=msg.payload;\nmsg.payload=count;\ncontext.set(aa,count);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["725f82ab.03c89c"]]},{"id":"725f82ab.03c89c","type":"mqtt out","z":"d79956c1.9bacc","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":610,"y":60,"wires":[]},{"id":"a762af42.1db818","type":"function","z":"d79956c1.9bacc","name":"move 'it","func":"var latt = [\n    -37.8136+(0.0004*Math.random()),\n    -37.8136+(0.0001*Math.random()),\n    -37.8136+(0.0008*Math.random()),\n    -37.8136+(0.0010*Math.random())];\n\nmsg.payload=[ \n{\"name\":\"Joe\",  \"lat\":latt[0], \"lon\":144.9631, \"iconColor\": 'blue'},\n{\"name\":\"Jack\", \"lat\":latt[1], \"lon\":144.9630, \"iconColor\": 'yellow'},\n{\"name\":\"Jess\", \"lat\":latt[3], \"lon\":144.9628, \"iconColor\": 'orange'},\n{\"name\":\"Jim\",  \"lat\":latt[2], \"lon\":144.9633, \"iconColor\": 'limegreen'}\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["2a73c5b3.b7c9c2"]]},{"id":"573ef032.ecb028","type":"inject","z":"d79956c1.9bacc","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"9","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["a762af42.1db818"]]},{"id":"90b056ea.4f364","type":"inject","z":"d79956c1.9bacc","name":"zoom in","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["216c8db9.c29352"]]},{"id":"216c8db9.c29352","type":"function","z":"d79956c1.9bacc","name":"zoom","func":"msg.payload={\"command\":\n    { \"zoom\": 17,\n    \"lat\":-37.813605, \n    \"lon\":144.963100,\n    \"layer\":\"Esri\",\n    \"showlayer\":\"Esri\"\n    }};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["2a73c5b3.b7c9c2"]]},{"id":"1d48256d.671f43","type":"function","z":"d79956c1.9bacc","name":"init gunlist","func":"var ab = [];\nvar plays = {'p1': null, 'p2': null, 'p3': null,'p4': null};\nvar cd = {'p1': null, 'p2': null, 'p3': null,'p4': null};\n//global.set(\"gunlist\",ab);\nglobal.set(\"playlist\",ab);\nglobal.set(\"pidlist\",plays);\nglobal.set(\"score\", cd);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[[]]},{"id":"e4e8b706.942e28","type":"inject","z":"d79956c1.9bacc","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["1d48256d.671f43"]]},{"id":"ab5aff8c.1c1158","type":"mqtt out","z":"d79956c1.9bacc","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":670,"y":340,"wires":[]},{"id":"b9798b57.9451b8","type":"function","z":"d79956c1.9bacc","name":"to mqtt","func":"var ma = {\"payload\": null, \"topic\": null};\nma.topic=\"gun/\"+msg.payload.remote16;\nma.payload=msg.payload.data;\nreturn ma;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["ab5aff8c.1c1158"]]},{"id":"e84609fc.630ba8","type":"function","z":"d79956c1.9bacc","name":"add gun to list","func":"var gid=msg.payload.remote16;\n//get\nvar list  = global.get(\"gunlist\")||[];\nif (typeof(list)===\"object\"){\n    list=Object.values(list);\n}\nfor (var i=0; i<list.length;i++){\n        if (list[i]===gid){\n            return null;\n        }\n    }\nif(i>=list.length){\ntry{\nlist.push(gid);\n}catch(Error){\n    msg.payload=typeof(list);\n    return msg;\n}    \n}\n//set\nglobal.set(\"gunlist\",list);\nmsg.payload=list;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["5f9e8b0.c403874"]]},{"id":"f4d84d0f.43b1c8","type":"inject","z":"d79956c1.9bacc","name":"Request User Good1","topic":"","payload":"{\"remote16\":\"0100\",\"data\":\"RUAAA\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["e84609fc.630ba8","b9798b57.9451b8"]]},{"id":"5f9e8b0.c403874","type":"debug","z":"d79956c1.9bacc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"9a8dccb2.4c7918","type":"inject","z":"d79956c1.9bacc","name":"1Data Message Bang","topic":"","payload":"{\"remote16\":\"0100\",\"data\":\"D9.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["dcf7cc1e.0799e"]]},{"id":"fb224dd1.85fa","type":"inject","z":"d79956c1.9bacc","name":"1Request Magazine Load","topic":"","payload":"{\"remote16\":\"0100\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["b9798b57.9451b8"]]},{"id":"c4d01987.b1a47","type":"inject","z":"d79956c1.9bacc","name":"Request User Bad","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"RUsad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["b9798b57.9451b8","e84609fc.630ba8"]]},{"id":"4023bd7c.ce0ef4","type":"inject","z":"d79956c1.9bacc","name":"Request User Good2","topic":"","payload":"{\"remote16\":\"0110\",\"data\":\"RUBBB\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["e84609fc.630ba8","b9798b57.9451b8"]]},{"id":"beac10a9.7f16c","type":"inject","z":"d79956c1.9bacc","name":"2Data Message Bang","topic":"","payload":"{\"remote16\":\"0110\",\"data\":\"DA1,B7.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["dcf7cc1e.0799e"]]},{"id":"6cd5f32b.720574","type":"inject","z":"d79956c1.9bacc","name":"2Request Magazine Load","topic":"","payload":"{\"remote16\":\"0110\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["b9798b57.9451b8"]]},{"id":"dcf7cc1e.0799e","type":"function","z":"d79956c1.9bacc","name":"[d]Gun speed rnd","func":"var rnd = (Math.random()*10000)+10000;\nvar str = \"D\"+rnd;\nmsg.payload.data=str;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["b9798b57.9451b8"]]},{"id":"246fe61c.392022","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"[178,104,181,115]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["677b475f.848fd"]]},{"id":"677b475f.848fd","type":"function","z":"6c0b059e.5388b4","name":"","func":"var buf  =msg.payload;\nbuf=buf.toString('hex');\nmsg.payload={\"buffercode\":buf, \"findme\":1};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["67f06816.0bd7a8","9c53a1e3.65de58"]]},{"id":"9c53a1e3.65de58","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"","collection":"tester","operation":"insert","upsert":false,"multi":false,"x":500,"y":200,"wires":[[]]},{"id":"b0851d7b.d5cc08","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"{\"findme\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":180,"wires":[["ce783ece.34c8e8"]]},{"id":"ce783ece.34c8e8","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"","collection":"tester","operation":"find","upsert":false,"multi":false,"x":700,"y":240,"wires":[["6b64aed.a20dd5"]]},{"id":"6b64aed.a20dd5","type":"function","z":"6c0b059e.5388b4","name":"","func":"var a = msg.payload[0].buffercode\na=Buffer.from(a);\na=a.toString('ascii');\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":160,"wires":[["67f06816.0bd7a8"]]},{"id":"dbc49efb.c311","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":100,"wires":[["c53873fd.fd9e8"]]},{"id":"c53873fd.fd9e8","type":"function","z":"6c0b059e.5388b4","name":"","func":"var a = \"AAA\";\na=a.toString('hex');\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":160,"wires":[["67f06816.0bd7a8"]]},{"id":"6485aee0.f44b7","type":"ui_toast","z":"30cc5a77.69092e","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1230,"y":180,"wires":[]},{"id":"e5102624.41e728","type":"ui_form","z":"30cc5a77.69092e","name":"Signups","label":"Sign up","group":"b4118bef.179d08","order":2,"width":"0","height":"0","options":[{"label":"Username","value":"name","type":"text","required":true},{"label":"Tag ID","value":"uid","type":"text","required":true},{"label":"I agree to the Terms and Conditions","value":"y","type":"checkbox","required":true}],"formValue":{"name":"","uid":"","y":false},"payload":"","submit":"Submit","cancel":"Clear","topic":"signup","x":140,"y":80,"wires":[["c4340de2.ddf2e8","b3ac760b.fe7c8"]]},{"id":"c9232936.cfdf7","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"update","collection":"players","operation":"update","upsert":false,"multi":false,"x":650,"y":620,"wires":[["837dbfc7.9d5d7"]]},{"id":"f5ce851d.e5d8d8","type":"function","z":"6c0b059e.5388b4","name":"update doc","func":"var a = {\"payload\":1, \"query\":1};\na.payload = {\"logintime\":1570083217230, \"lastgun\":\"0001\", \"gun\":\"0100\"};\na.query={\"uid\":\"AAA\"};\nreturn a;","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["c9232936.cfdf7","837dbfc7.9d5d7"]]},{"id":"d0e5817b.4ddc4","type":"inject","z":"b477776d.bdebb","name":"input","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":160,"wires":[["79f5bf12.889d5"]]},{"id":"79f5bf12.889d5","type":"function","z":"b477776d.bdebb","name":"return to gun frame","func":"var word= \"1Yayyyy\";\n//var str = \"r\"+msg.payload.data;\nif (msg.payload){word = msg.payload;}\nvar myDataFrame = {\n  type: 0x01,\n  id: 0x01,\n  destination64: \"0013a200400a0127\",\n  destination16: \"0420\",\n  broadcastRadius: 0x00,\n  options: 0x00,\n  data: word\n};\nmsg.payload=myDataFrame;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["67c983ec.e74abc"]]},{"id":"67c983ec.e74abc","type":"xbee-tx","z":"b477776d.bdebb","name":"","xBee":"cb938c2f.627778","x":920,"y":180,"wires":[]},{"id":"77375be7.8935ec","type":"debug","z":"b477776d.bdebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":360,"wires":[]},{"id":"4ce473a1.9c5414","type":"xbee-rx","z":"b477776d.bdebb","name":"","xBee":"cb938c2f.627778","x":260,"y":320,"wires":[["a95d21cb.a9693","e68a2d7e.d52b58","d0ef431e.1d6d1","79f5bf12.889d5","77375be7.8935ec"]]},{"id":"c7c8c8a.027ddb8","type":"ui_text_input","z":"b477776d.bdebb","name":"0X01","label":"TYPE: 0x01 ","tooltip":"","group":"7474cba4.f9428c","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":370,"y":120,"wires":[["79f5bf12.889d5"]]},{"id":"2990fe98.41fec2","type":"comment","z":"d79956c1.9bacc","name":"DB code","info":"players\n> db.players.drop();\n> db.results.drop();\n\n> db.createCollection('players');\n> db.createCollection('results');\n\n> db.players.insertMany([\n{\"uid\":\"AAA\",\"name\":\"ExampleA\",\"gun\":\"0001\",\"lastgun\":\"0001\",\"logintime\":0},\n{\"uid\":\"BBB\",\"name\":\"ExampleB\",\"gun\":\"0001\",\"lastgun\":\"0001\",\"logintime\":0},\n{\"uid\":\"CCC\",\"name\":\"ExampleC\",\"gun\":\"0001\",\"lastgun\":\"0001\",\"logintime\":0}]);\n\n> db.results.insertMany([\n{\"uid\":\"BBB\",\"allshots\":0,\"playtime\":0},\n{\"uid\":\"AAA\",\"allshots\":0,\"playtime\":0},\n{\"uid\":\"CCC\",\"allshots\":0,\"playtime\":0}]);","x":820,"y":100,"wires":[]},{"id":"f5df97f0.fd4e1","type":"ui_text_input","z":"b477776d.bdebb","name":"0X81","label":"TYPE 0x10","tooltip":"","group":"7474cba4.f9428c","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":370,"y":240,"wires":[["c319cb54.fa176"]]},{"id":"c319cb54.fa176","type":"function","z":"b477776d.bdebb","name":"return to gun frame","func":"var word= \"1Supercalifragilicticespialadous2Supercalifragilicticespialadous3Supercalifragilicticespialadous4Supercalifragilicticespialadous5Supercalifragilicticespialadous6Supercalifragilicticespialadous7Supercalifragilicticespialadous8Supercalifragilicticespialadous9Supercalifragilicticespialadous10Supercalifragilicticespialadous\";\n//var str = \"r\"+msg.payload.data;\nif (msg.payload){word = msg.payload;}\nvar myDataFrame = {\n  type: 0x10,\n  id: 0x01,\n  destination64: \"0013a200400a0127\",\n  destination16: \"0420\",\n  broadcastRadius: 0x00,\n  options: 0x00,\n  data: word\n};\nmsg.payload=myDataFrame;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["67c983ec.e74abc"]]},{"id":"e533bb83.64274","type":"inject","z":"b477776d.bdebb","name":"input","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":280,"wires":[["c319cb54.fa176"]]},{"id":"4ebd3e62.79772","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":3,"width":0,"height":0,"name":"1Total Shots","label":"Total Shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":400,"wires":[]},{"id":"7dd9b63.f895dc8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":400,"wires":[["4ebd3e62.79772"]]},{"id":"34e8d843.aa358","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":3,"width":0,"height":0,"name":"2Total Shots","label":"Total Shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":760,"wires":[]},{"id":"50780d2b.a177e4","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":760,"wires":[["34e8d843.aa358"]]},{"id":"9ed78643.086f8","type":"ui_text","z":"b5b83123.ab91a8","group":"4be17c6.e34b404","order":2,"width":"8","height":"13","name":"3total Shots","label":"Total Shots fired: ","format":"<h1>{{msg.payload}}</h1>","layout":"col-center","x":1130,"y":420,"wires":[]},{"id":"cbe0071e.18cde","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":420,"wires":[["9ed78643.086f8","a32617f1.17d5c"]]},{"id":"fd980d11.481ea8","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":3,"width":0,"height":0,"name":"Total Shots","label":"Total Shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":760,"wires":[]},{"id":"1cf73d2f.bf332b","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":760,"wires":[["fd980d11.481ea8"]]},{"id":"ef5d2bc2.b2a1d8","type":"function","z":"40305aab.d7dff4","name":"return to gun frame","func":"var name = msg.payload.data;\nname+=\"      \";\nname=name.slice(0,6);\nvar v = msg.payload.verify;\nv=v.toString();\nvar str = v+name;\nvar myDataFrame = {\n  type: 0x10,\n  id: 0x01,\n  destination64: \"0013a200400a0127\",\n  destination16: msg.payload.gid,\n  broadcastRadius: 0x00,\n  options: 0x00,\n  data: str\n};\nmsg.payload=myDataFrame;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":440,"wires":[["836287d4.3f03c8","37db3f7d.1e16d8"]]},{"id":"c63aa41b.89cc7","type":"inject","z":"6c0b059e.5388b4","name":"10","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":780,"wires":[["6d1cb96.8a2b348"]]},{"id":"b31b0d86.7f6b68","type":"ui_gauge","z":"6c0b059e.5388b4","name":"","group":"7474cba4.f9428c","order":1,"width":0,"height":0,"gtype":"gage","title":"DEMO CHANGE MAX","label":"units","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":780,"wires":[]},{"id":"6d1cb96.8a2b348","type":"change","z":"6c0b059e.5388b4","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"ui_control","pt":"msg","to":"{\"min\":0, \"max\":10}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":780,"wires":[["b31b0d86.7f6b68"]]},{"id":"bbdef631.a682c8","type":"inject","z":"6c0b059e.5388b4","name":"5","topic":"","payload":"{\"value\":4, \"max\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["9cb9eceb.7ae8d"]]},{"id":"9cb9eceb.7ae8d","type":"change","z":"6c0b059e.5388b4","name":"","rules":[{"t":"set","p":"value","pt":"msg","to":"4","tot":"num"},{"t":"set","p":"ui_control","pt":"msg","to":"{\"min\":0, \"max\":5}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":820,"wires":[["b31b0d86.7f6b68"]]},{"id":"26299207.902e96","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":580,"wires":[["57edcf25.bf4a6"]]},{"id":"e15d227f.d211a","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":240,"wires":[["71a94c0f.bea894"]]},{"id":"3e3de1a2.d480ae","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"demo","payload":"{\"value\":4, \"max\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1000,"wires":[[]]},{"id":"b28bf4aa.0c6ab","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":1360,"wires":[]},{"id":"9ab78337.adc408","type":"json","z":"6c0b059e.5388b4","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1100,"wires":[["44c4f62.a716708"]]},{"id":"a14f84c6.d0c678","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"[178,104,181,115]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1160,"wires":[["e14bc72.0986db8"]]},{"id":"e14bc72.0986db8","type":"function","z":"6c0b059e.5388b4","name":"","func":"var a = msg.payload;\na=a.toString('hex');\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1160,"wires":[["b28bf4aa.0c6ab"]]},{"id":"44c4f62.a716708","type":"function","z":"6c0b059e.5388b4","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1100,"wires":[["b28bf4aa.0c6ab"]]},{"id":"5946feb5.3df528","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["ddcfdd1d.4a10b"]]},{"id":"ddcfdd1d.4a10b","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["c51c9889.5c80c8"]]},{"id":"57edcf25.bf4a6","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["639cbd21.4b93ac"]]},{"id":"71a94c0f.bea894","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":240,"wires":[["8472316b.1b0c2"]]},{"id":"bc3577f4.6c6288","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":580,"wires":[["4103c764.65c18"]]},{"id":"4103c764.65c18","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":580,"wires":[["3f1f0d6d.df720a"]]},{"id":"6156ba47.7a315c","type":"ui_button","z":"6c0b059e.5388b4","name":"time between","group":"7474cba4.f9428c","order":5,"width":0,"height":0,"passthru":false,"label":"Time On/OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":210,"y":1260,"wires":[["66631e5.ae535e"]]},{"id":"66631e5.ae535e","type":"function","z":"6c0b059e.5388b4","name":"timer?","func":"var debug = {\"payload\":msg.payload};\nvar start=context.get('start')||0;\nvar thistime = msg.payload;\n\n\nif (start===0){\n    start = thistime;\n    context.set('start',start);\n    msg.payload = null;\n    //return [msg,debug];\n}else{\n    start = new Date(start);\n    thistime = new Date(thistime);\n    var time = new Date(thistime-start);\n    msg.payload=time.getUTCHours()+\" Hour \"+time.getUTCMinutes()+\" Minute \"+time.getUTCSeconds()+\" Second\";\n    context.set('start',0);\n    debug.payload=time.getTime();\n    debug.reset=1;\n   // return [msg,debug];\n}\nreturn [msg,debug];","outputs":2,"noerr":0,"x":410,"y":1240,"wires":[["c8632ed1.2f77d8"],["cde83018.3faf4","b51e4ec4.b0f8f8"]]},{"id":"c8632ed1.2f77d8","type":"ui_text","z":"6c0b059e.5388b4","group":"7474cba4.f9428c","order":6,"width":0,"height":0,"name":"","label":"TIME TAKEN IS    ","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1260,"wires":[]},{"id":"cde83018.3faf4","type":"ui_text","z":"6c0b059e.5388b4","group":"7474cba4.f9428c","order":7,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":1300,"wires":[]},{"id":"b51e4ec4.b0f8f8","type":"trigger","z":"6c0b059e.5388b4","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":600,"y":1380,"wires":[["53abc56c.975e24"]]},{"id":"53abc56c.975e24","type":"function","z":"6c0b059e.5388b4","name":"counter up?","func":"var count  =context.get('count')||0;\ncount+=1;\nmsg.payload=count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1380,"wires":[["96261b8.8a8fd68"]]},{"id":"96261b8.8a8fd68","type":"ui_gauge","z":"6c0b059e.5388b4","name":"","group":"7474cba4.f9428c","order":8,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"seconds","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":1340,"wires":[]},{"id":"be1510c3.032c68","type":"function","z":"40305aab.d7dff4","name":"timer?","func":"var debug = {\"payload\":msg.payload};\nvar start=context.get('start')||0;\nvar thistime = msg.payload;\n\n\nif (start===0){\n    start = thistime;\n    context.set('start',start);\n    msg.payload = null;\n    debug.payload = null;\n    var gogo = {\"payload\":1};\n    return [null,null,gogo];\n}else{\n    start = new Date(Number(start));\n    thistime = new Date(Number(thistime));\n    var time = new Date(thistime-start);\n    msg.payload=time.getUTCHours()+\" Hour \"+time.getUTCMinutes()+\" Minute \"+time.getUTCSeconds()+\" Second\";\n    context.set('start',0);\n    debug.payload=time.getTime();\n    debug.reset=1;\n    var reset = {\"payload\":\"reset\"};\n    return [msg,debug, reset];\n    // msg has 3min 4 sec, debug has 184000, reset has reset\n}\n","outputs":3,"noerr":0,"x":310,"y":880,"wires":[["dd4559b4.5babb8"],["53b746de.039aa8"],["679ad28a.ce58ac","87a26399.aeeaa"]]},{"id":"87a26399.aeeaa","type":"trigger","z":"40305aab.d7dff4","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"reset","bytopic":"all","name":"","x":420,"y":1000,"wires":[["679ad28a.ce58ac"]]},{"id":"679ad28a.ce58ac","type":"function","z":"40305aab.d7dff4","name":"counter up?","func":"if (msg.payload=='reset'){\n    context.set('count',0);\n    msg.payload=0;\n    return msg;\n}\nvar count  =context.get('count')||0;\ncount+=1;\nmsg.payload=count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1000,"wires":[["be05599c.4fe29"]]},{"id":"53b746de.039aa8","type":"function","z":"40305aab.d7dff4","name":"got time passed","func":"flow.set('gametime',Number(msg.payload));\nvar players = global.get('pidlist');\nvar pp1 = players.p1.toString('ascii');\nvar pp2 = players.p2.toString('ascii');\nvar pp3 = players.p3.toString('ascii');\nvar pp4 = players.p4.toString('ascii');\n\nvar q1 = {\"uid\":pp1};\nvar q2 = {\"uid\":pp2};\nvar q3 = {\"uid\":pp3};\nvar q4 = {\"uid\":pp4};\n\nvar msg1={\"payload\":q1, \"topic\":\"p1\"};\nvar msg2={\"payload\":q2, \"topic\":\"p2\"};\nvar msg3={\"payload\":q3, \"topic\":\"p3\"};\nvar msg4={\"payload\":q4, \"topic\":\"p4\"};\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":580,"y":880,"wires":[["b6a1946d.fdc98"],["1fc74cf4.a0bb0b"],["68104285.98a484"],["77828198.76356"]]},{"id":"8a8bdb14.2508f","type":"inject","z":"d79956c1.9bacc","name":"blue tag","topic":"","payload":"[178,104,181,115]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":280,"wires":[["22ebb715.fca748"]]},{"id":"22ebb715.fca748","type":"function","z":"d79956c1.9bacc","name":"add to db","func":"var a = msg.payload;\nvar now = Date.now();\n//a=a.toString();\na  = a.toString('hex');\n\t\nvar aa = {\n    \"uid\": a,\n    \"name\": \"bluetag\",\n    \"gun\": \"0001\",\n    \"lastgun\": \"0001\",\n    \"logintime\": now\n}\nmsg.payload=aa;\n\nvar bb = {\n    \"uid\":a,\n    \"playtime\":0,\n    \"totalshots\":0\n};\nvar msg2 = {\"payload\":bb};\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":780,"y":280,"wires":[["442d9ac5.08286c"],["8a92550b.871048"]]},{"id":"442d9ac5.08286c","type":"mongodb-node","z":"d79956c1.9bacc","mongodb":"d5873157.9c5a98","name":"","collection":"players","operation":"insert","upsert":false,"multi":false,"x":950,"y":220,"wires":[[]]},{"id":"8a92550b.871048","type":"mongodb-node","z":"d79956c1.9bacc","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"insert","upsert":false,"multi":false,"x":950,"y":280,"wires":[[]]},{"id":"5bb0baa2.252304","type":"inject","z":"6c0b059e.5388b4","name":"blue tag","topic":"","payload":"[178,104,181,115]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1520,"wires":[["e224ffef.702118","1449091b.1adbbf"]]},{"id":"43c194e1.44601c","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1520,"wires":[]},{"id":"e224ffef.702118","type":"function","z":"6c0b059e.5388b4","name":"hex","func":"msg.topic='hex';\nmsg.payload=msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1520,"wires":[["43c194e1.44601c"]]},{"id":"9c39d7a7.53e328","type":"function","z":"6c0b059e.5388b4","name":"back to numbers","func":"var str = msg.payload;\nvar ans=0;\nvar res = str.match(/.{1,2}/g);\nfor (var i=0;i<res.length;i++){\nres[i] =parseInt(res[i],16);\n}\nmsg.payload={\"type\":res};\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1620,"wires":[["edf38a77.af0d5"]]},{"id":"edf38a77.af0d5","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"","collection":"tester","operation":"insert","upsert":false,"multi":false,"x":760,"y":1580,"wires":[["43c194e1.44601c"]]},{"id":"1449091b.1adbbf","type":"function","z":"6c0b059e.5388b4","name":"","func":"var str = msg.payload;\nmsg.payload={\"type\": str.toString('Binary')};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1740,"wires":[["43c194e1.44601c"]]},{"id":"57f169a7.bea658","type":"inject","z":"d79956c1.9bacc","name":"Request User Good3","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"RUCCC\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["b9798b57.9451b8","e84609fc.630ba8"]]},{"id":"5332c4d5.a87384","type":"inject","z":"d79956c1.9bacc","name":"Request User Good4","topic":"","payload":"{\"remote16\":\"1001\",\"data\":\"RUDDD\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["e84609fc.630ba8","b9798b57.9451b8"]]},{"id":"99769a9d.296798","type":"inject","z":"d79956c1.9bacc","name":"3Data Message Bang","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"DA1,B9.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":660,"wires":[["dcf7cc1e.0799e","b9798b57.9451b8"]]},{"id":"d71d7832.71793","type":"inject","z":"d79956c1.9bacc","name":"3Request Magazine Load","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["b9798b57.9451b8"]]},{"id":"81b9780c.597768","type":"inject","z":"d79956c1.9bacc","name":"1Data Message Bang","topic":"","payload":"{\"remote16\":\"1001\",\"data\":\"DA1,B7.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["dcf7cc1e.0799e","b9798b57.9451b8"]]},{"id":"a0e285ae.a210e","type":"inject","z":"d79956c1.9bacc","name":"4Request Magazine Load","topic":"","payload":"{\"remote16\":\"1001\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["b9798b57.9451b8"]]},{"id":"33e9b748.e8fc1","type":"debug","z":"40305aab.d7dff4","name":"player stuff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":620,"wires":[]},{"id":"5e6682f3.1c2d2c","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"pidlist","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["33e9b748.e8fc1"]]},{"id":"228c51c6.94cb0e","type":"debug","z":"40305aab.d7dff4","name":"results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":420,"wires":[]},{"id":"b6a1946d.fdc98","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":780,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"1fc74cf4.a0bb0b","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":820,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"68104285.98a484","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":860,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"77828198.76356","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":900,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"7c7ae6ce.6f2ed","type":"function","z":"40305aab.d7dff4","name":"update","func":"var time = Number(msg.payload[0].playtime);\nvar newer =flow.get('gametime');\ntime+= Number(newer);\n\nvar scorelist = global.get('score');\nvar yourscore = parseInt(scorelist[msg.topic]);\nvar oldscore = parseInt(msg.payload[0].totalshot);\nyourscore+=oldscore;\n\nvar update = {$set:{\"playtime\":time, \"totalshot\":yourscore}};\nvar query = {\"uid\":msg.payload[0].uid};\nvar a ={\"payload\":update, \"query\":query, \"topic\":msg.topic};\n\nreturn a;","outputs":1,"noerr":0,"x":1160,"y":840,"wires":[["55f6060f.b8e9d","dfeb8055.b771c"]]},{"id":"55f6060f.b8e9d","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"update","upsert":false,"multi":false,"x":1350,"y":840,"wires":[["a7602af6.227e28"]]},{"id":"dfeb8055.b771c","type":"debug","z":"40305aab.d7dff4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":920,"wires":[]},{"id":"831956a5.34842","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"startend","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":120,"y":880,"wires":[["be1510c3.032c68"]]},{"id":"2ee40082.a78bd","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":1,"width":0,"height":0,"passthru":false,"label":"Start/End Game","tooltip":"","color":"","bgcolor":"DodgerBlue","icon":"","payload":"","payloadType":"date","topic":"startend","x":200,"y":1120,"wires":[["a00bff3.790fe8"]]},{"id":"a00bff3.790fe8","type":"mqtt out","z":"b5b83123.ab91a8","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":670,"y":1120,"wires":[]},{"id":"12b192b7.bebc15","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"profile","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":150,"y":1100,"wires":[["f3a29fb7.ac809"]]},{"id":"f3a29fb7.ac809","type":"function","z":"40305aab.d7dff4","name":"get player uid","func":"var focus = msg.payload;\nvar pidlist = global.get('pidlist');\nvar id = pidlist[focus];\nid=id.toString('ascii');\nvar query = {\"uid\": id};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1100,"wires":[["765cbadb.180304","9a258a2e.b5e46"]]},{"id":"765cbadb.180304","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"query Players","collection":"players","operation":"find","upsert":false,"multi":false,"x":650,"y":1100,"wires":[["ae67dcad.634518","53df2326.71ea24"]]},{"id":"9a258a2e.b5e46","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"query Results","collection":"results","operation":"find","upsert":false,"multi":false,"x":650,"y":1140,"wires":[["1b4357a6.8b27a8","53df2326.71ea24"]]},{"id":"ae67dcad.634518","type":"function","z":"40305aab.d7dff4","name":"","func":"//get players lastgun used \nvar d = new Date(msg.payload[0].logintime);\nmsg.payload={\"gid\": msg.payload[0].lastgun};\n\n\nvar m;\nif (d.getMinutes()<10){\n    m='0'+d.getMinutes();\n}else\n{   \n    m=d.getMinutes();\n}\n\nvar time = d.getHours()+\":\"+m+\"  \"+d.toDateString();\nvar msg2 = {\"payload\": time, \"topic\":msg.topic+\"/time\"};\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":810,"y":1100,"wires":[["5b3aae3a.628f3"],["ac1ee6d5.2bee4"]]},{"id":"1b4357a6.8b27a8","type":"function","z":"40305aab.d7dff4","name":"","func":"//get players playtime, allshots \nvar playtime = Number(msg.payload[0].playtime);\n\nvar seconds = Math.floor((playtime / (1000)) % 60);\nvar minutes = Math.floor((playtime / (1000 * 60)) % 60);\nvar hours   = Math.floor((playtime / (1000 * 60 * 60)) % 24);\nvar time = hours +\"hr \"+minutes+\"min \"+seconds+\"s\";\n\n//var m= ((d.getMinutes()<10) ? '0'+d.getMinutes() : d.getMinutes());\n//var s= ((d.getSeconds()<10) ? '0'+d.getSeconds() : d.getSeconds());\n//var time = d.getUTCHours()+\" Hr \"+m+\" min \"+ s + \"sec\";\nvar timeywimey = {\"payload\": time, \"topic\":msg.topic+\"/ttime\"};\n\nvar allshots = msg.payload[0].totalshot;\nmsg.payload=Number(allshots);\nmsg.topic+=\"/allshots\";\nreturn [timeywimey,msg];","outputs":2,"noerr":0,"x":810,"y":1140,"wires":[["ac1ee6d5.2bee4"],["ac1ee6d5.2bee4"]]},{"id":"53df2326.71ea24","type":"debug","z":"40305aab.d7dff4","name":"profiler","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1240,"wires":[]},{"id":"5b3aae3a.628f3","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"find gun name","collection":"gun","operation":"find","upsert":false,"multi":false,"x":1000,"y":1080,"wires":[["a6646d3b.0191c"]]},{"id":"a6646d3b.0191c","type":"function","z":"40305aab.d7dff4","name":"make result readable","func":"msg.payload = msg.payload[0].modelname +\"::\"+msg.payload[0].gid;\nmsg.topic+=\"/model\";\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1080,"wires":[["ac1ee6d5.2bee4"]]},{"id":"a95d21cb.a9693","type":"function","z":"b477776d.bdebb","name":"","func":"var num = msg.payload.data;\nvar numb='';\nfor (var i =0; i<num.length;i++){\n    numb+=String.fromCharCode(num[i]);\n}\nnumb=Number(numb);\nvar dist  = Number(0.155);\nvar time = numb/1000000;\nvar spd  = Number(dist/time).toFixed(4);\nvar str = spd.toString() + \" m/s\";\nmsg.payload=str;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["77375be7.8935ec"]]},{"id":"e68a2d7e.d52b58","type":"function","z":"b477776d.bdebb","name":"A for Ammo Fired","func":"var allshot = flow.get(\"allshot\")||0;\nallshot++;\nflow.set(\"allshot\",allshot);\n\n//var msg1 = {\"payload\":allshot, \"topic\":msg.topic+\"/tshot\"};\nmsg.payload = allshot;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["77375be7.8935ec"]]},{"id":"cc36a4bd.35401","type":"inject","z":"b477776d.bdebb","name":"","topic":"","payload":"allshot","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":320,"wires":[["77375be7.8935ec","43a28d1b.dc3fbc"]]},{"id":"43a28d1b.dc3fbc","type":"change","z":"b477776d.bdebb","name":"","rules":[{"t":"set","p":"allshot","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[[]]},{"id":"d11c03c.56c41","type":"inject","z":"b477776d.bdebb","name":"","topic":"","payload":"[49,50,51,52]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":460,"wires":[["e2cc891a.747d1"]]},{"id":"e2cc891a.747d1","type":"change","z":"b477776d.bdebb","name":"","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":400,"wires":[["a95d21cb.a9693","77375be7.8935ec"]]},{"id":"d0ef431e.1d6d1","type":"debug","z":"b477776d.bdebb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","targetType":"msg","x":1010,"y":440,"wires":[]},{"id":"dbb9cb33.fd9a48","type":"comment","z":"b477776d.bdebb","name":"rfid codes","info":"12 bullets [25,169,17,239]\n\nSticker:\n    [25,79,17,239]\n    [233,78,17,239]\n    [217,59,17,239]\nBracelet\n    [192,171,116,49]\n    [64,49,66,49]\n    [16,114,55,49]\n    [160,179,112,49]\n    [80,191,114,49]\n","x":780,"y":580,"wires":[]},{"id":"60b52879.688dc","type":"inject","z":"6c0b059e.5388b4","name":"save to db","topic":"","payload":"[194,110,169,28]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1980,"wires":[["14c4854e.64b20b","10930620.ccb6c2"]]},{"id":"14c4854e.64b20b","type":"function","z":"6c0b059e.5388b4","name":"","func":"//var buf = Buffer.from([82,85,80,191,114,49]);\n//var uid = buf.toString('ascii');\n// var obj = {buf};\n// var str=[];\n// var i=0;\n// var word='';\n// var a;\n// for (i; i<6;i++){\n//     str.push(obj.buf[i]);\n// }\n// for (var j=0;j<str.length;j++){\n//     a=str[j];\n//     word+=String.fromCharCode(a);\n// }\n// msg.payload=word;\nvar id = msg.payload;\nid=id.toString('ascii');\nvar a  ={ \"uid\":id, \"playtime\":0, \"allshot\":0};\nvar b  = {\"uid\":id, \"name\":\"DAMN\", \"logintime\":0,\"gun\":\"0001\",\"lastgun\":\"0001\"};\nvar bb = {\"payload\":b};\nmsg.payload=a;\nreturn [msg,bb];","outputs":2,"noerr":0,"x":370,"y":1980,"wires":[["8ca9550d.fbd348"],["506409ff.d02e"]]},{"id":"fadddff.f1bef2","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"RUPr1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1440,"wires":[["2aa6a166.120d36"]]},{"id":"2aa6a166.120d36","type":"function","z":"6c0b059e.5388b4","name":"","func":"msg.payload=msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1460,"wires":[["43c194e1.44601c"]]},{"id":"8ca9550d.fbd348","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"insert into Results","collection":"results","operation":"insert","upsert":false,"multi":false,"x":750,"y":1940,"wires":[[]]},{"id":"78006c32.6e5eec","type":"debug","z":"40305aab.d7dff4","name":"switch error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":200,"wires":[]},{"id":"76f02ddf.f3e1bc","type":"inject","z":"6c0b059e.5388b4","name":"blue tag","topic":"","payload":"[178,104,181,115]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1800,"wires":[["317a5f44.ecaf98"]]},{"id":"317a5f44.ecaf98","type":"function","z":"6c0b059e.5388b4","name":"first char","func":"var a = msg.payload.toString('ascii');\nmsg.payload = \"1st:\"+a[0]+\"    2nd:\"+a[1]; \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1820,"wires":[["43c194e1.44601c"]]},{"id":"737ffe1d.1b3aa8","type":"function","z":"40305aab.d7dff4","name":"init everything","func":"var ab = [];\nvar plays = {'p1': null, 'p2': null, 'p3': null,'p4': null};\nvar cd = {'p1': 0, 'p2': 0, 'p3': 0,'p4': 0};\n//global.set(\"gunlist\",ab);\nglobal.set(\"playlist\",ab);\nglobal.set(\"pidlist\",plays);\nglobal.set(\"score\", cd);\n\nflow.set(\"p1\"+\"allshot\",0);\nflow.set(\"p2\"+\"allshot\",0);\nflow.set(\"p3\"+\"allshot\",0);\nflow.set(\"p4\"+\"allshot\",0);\n\nflow.set(\"p1\"+\"ammoleft\",0);\nflow.set(\"p2\"+\"ammoleft\",0);\nflow.set(\"p3\"+\"ammoleft\",0);\nflow.set(\"p4\"+\"ammoleft\",0);\n\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["2072f931.3e322e"]]},{"id":"929ec59b.a01d8","type":"inject","z":"40305aab.d7dff4","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["737ffe1d.1b3aa8","59e27da9.f4a88c"]]},{"id":"5b131b85.71aff4","type":"function","z":"6c0b059e.5388b4","name":"","func":"var data = Buffer.from('RUP?ri');\nvar gid = \"0402\";\nvar a = {data, gid};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1900,"wires":[["fcdf5d28.176518"]]},{"id":"fcdf5d28.176518","type":"function","z":"6c0b059e.5388b4","name":"","func":"var damn = msg.payload.data;\nvar a = damn.toString('ascii');\nmsg.payload.data=a;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1820,"wires":[[]]},{"id":"37db3f7d.1e16d8","type":"debug","z":"40305aab.d7dff4","name":"TX XBEE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1940,"y":400,"wires":[]},{"id":"56d232cb.b3281c","type":"comment","z":"6c0b059e.5388b4","name":"rfid codes","info":"12 bullets: \n    OK [25,169,17,239]\n\nSticker:\n    [25,79,17,239]\n    [233,78,17,239]\n    [217,59,17,239]\nBracelet\n    OK OK [192,171,116,49]\n    OK OK [64,49,66,49]\n    OK OK [16,114,55,49]\n    OK OK [160,179,112,49]\n    OK OK [80,191,114,49]\n","x":920,"y":1860,"wires":[]},{"id":"506409ff.d02e","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"insert into players","collection":"players","operation":"insert","upsert":false,"multi":false,"x":670,"y":2000,"wires":[[]]},{"id":"10930620.ccb6c2","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1900,"wires":[]},{"id":"52e783b2.c026ac","type":"inject","z":"6c0b059e.5388b4","name":"find","topic":"","payload":"{\"size\":12}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2040,"wires":[["84c0fc60.e6b208"]]},{"id":"84c0fc60.e6b208","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"find in Ammo","collection":"ammo","operation":"find","upsert":false,"multi":false,"x":330,"y":2060,"wires":[["10930620.ccb6c2"]]},{"id":"cec4206d.473b48","type":"function","z":"40305aab.d7dff4","name":"remove from gunlist the failure","func":"var arr = global.get('gunlist');\n\nfor( var i = 0; i < arr.length; i++){ \n   if ( arr[i] === msg.payload.gid) {\n     arr.splice(i, 1); \n   }\n}\nglobal.set('gunlist',arr);\nreturn null;","outputs":1,"noerr":0,"x":1630,"y":380,"wires":[[]],"icon":"font-awesome/fa-thumbs-down"},{"id":"e1de8744.96a45","type":"ui_button","z":"b5b83123.ab91a8","name":"Log Everyone Out","group":"4a39a197.00c2f","order":15,"width":0,"height":0,"passthru":false,"label":"Log Everyone Out","tooltip":"Will clear the players logged in","color":"","bgcolor":"","icon":"","payload":"a","payloadType":"str","topic":"logout","x":190,"y":1160,"wires":[["a00bff3.790fe8"]]},{"id":"3d1609c.d73f476","type":"mqtt in","z":"40305aab.d7dff4","name":"logout","topic":"logout","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":70,"y":280,"wires":[["737ffe1d.1b3aa8","59e27da9.f4a88c"]]},{"id":"59e27da9.f4a88c","type":"function","z":"40305aab.d7dff4","name":"all to db","func":"var players = global.get('pidlist');\n\nvar pp1 = players.p1;\nvar pp2 = players.p2;\nvar pp3 = players.p3;\nvar pp4 = players.p4;\n\nvar q1 = {\"uid\":pp1};\nvar q2 = {\"uid\":pp2};\nvar q3 = {\"uid\":pp3};\nvar q4 = {\"uid\":pp4};\n\nvar update = {\"$set\":{\"logintime\":Date.now()}};\n\n\nvar msg1={\"payload\":update, \"query\":q1};\nvar msg2={\"payload\":update, \"query\":q2};\nvar msg3={\"payload\":update, \"query\":q3};\nvar msg4={\"payload\":update, \"query\":q4};\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":280,"y":280,"wires":[["50d5c393.f47484"],["50d5c393.f47484"],["50d5c393.f47484"],["50d5c393.f47484"]]},{"id":"50d5c393.f47484","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"update login time","collection":"players","operation":"update","upsert":false,"multi":false,"x":490,"y":260,"wires":[[]]},{"id":"17ef42ba.54a51d","type":"catch","z":"40305aab.d7dff4","name":"","scope":["e2b00dcc.2ff868","836287d4.3f03c8"],"uncaught":false,"x":410,"y":220,"wires":[["6c2fe3c7.0960bc"]]},{"id":"6c2fe3c7.0960bc","type":"debug","z":"40305aab.d7dff4","name":"xbee trouble","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"bcab1f2b.fc1c28","type":"inject","z":"d79956c1.9bacc","name":"","topic":"player/","payload":"DG","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":700,"wires":[["b978c58b.648a1"]]},{"id":"b978c58b.648a1","type":"function","z":"d79956c1.9bacc","name":"gps faker","func":"var a = Math.ceil(Math.random()*4);\nvar player  =\"p\"+a.toString();\nmsg.topic+=player;\n\nvar long = (144.96+(0.004*Math.random())).toFixed(5);\nvar lat = (-37.8136+(0.001*Math.random())).toFixed(5);\nvar alt = 100;\n//long lat alt\nvar b= \"DG\"+long+','+lat+','+alt;\n\nmsg.payload={\"data\":b,\"gid\":\"0001\"};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":700,"wires":[[]]},{"id":"a7602af6.227e28","type":"function","z":"40305aab.d7dff4","name":"clear most data","func":"//clear recorded data\nflow.set(\"p1\"+\"allshot\",0);\nflow.set(\"p2\"+\"allshot\",0);\nflow.set(\"p3\"+\"allshot\",0);\nflow.set(\"p4\"+\"allshot\",0);\n\nflow.set(\"p1\"+\"ammoleft\",0);\nflow.set(\"p2\"+\"ammoleft\",0);\nflow.set(\"p3\"+\"ammoleft\",0);\nflow.set(\"p4\"+\"ammoleft\",0);\n\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\n\nvar scorelist = global.get('score');\nscorelist[msg.topic]=0;\nglobal.set('score',scorelist);\nvar zero =0 ;\nvar liney = \"player/\"+msg.topic+\"/tshot\";\nmsg.topic = liney;\nmsg.payload = zero;\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":840,"wires":[["ac1ee6d5.2bee4"]]},{"id":"2072f931.3e322e","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"clearall","qos":"","retain":"","broker":"30076b62.06030c","x":500,"y":340,"wires":[]},{"id":"e51cd13d.5ed46","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"clearall","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":160,"y":1240,"wires":[["43cce8bc.0d709","963edcdf.965f98"]]},{"id":"43cce8bc.0d709","type":"function","z":"40305aab.d7dff4","name":"most clear","func":"var top = \"player/\";\nvar temp;\nvar blank = {\"payload\":null, \"topic\":top};\nvar people  =[\"p1/\", \"p2/\",\"p3/\",\"p4/\"];\nvar ui = [\"id\",\"name\",\"ammo\", \"aspd\",\"bspd\",\"tshot\",\"imu\"];\nfor (var i=0; i<4;i++){\n    //blank.topic=top;\n    temp=top+people[i];\n    blank.topic=temp;\n    for (j=0;j<ui.length;j++){\n        blank.topic=temp;\n        blank.topic+=ui[j];\n        node.send(blank);\n    }\n}\nmsg.payload=null;\nmsg.topic = \"profile\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1220,"wires":[["252b5d8b.b44b82","857be93f.cf25e8"]]},{"id":"252b5d8b.b44b82","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":650,"y":1220,"wires":[]},{"id":"857be93f.cf25e8","type":"debug","z":"40305aab.d7dff4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1320,"wires":[]},{"id":"ac1ee6d5.2bee4","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":1450,"y":1140,"wires":[]},{"id":"291f25df.f656b2","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":3,"width":0,"height":0,"name":"","label":"Last login time is :","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1120,"wires":[]},{"id":"f4e4256.0f04d58","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":4,"width":0,"height":0,"name":"","label":"Total Time played :","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1160,"wires":[]},{"id":"d89e075e.491f5","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":5,"width":0,"height":0,"name":"","label":"Total shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":1200,"wires":[]},{"id":"6f15ca88.604d4c","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":2,"width":0,"height":0,"name":"","label":"Last Gun used was: ","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":1080,"wires":[]},{"id":"c63cef0a.20e4f","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/model","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1080,"wires":[["6f15ca88.604d4c"]]},{"id":"9bc08e15.108dd8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/time","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":860,"y":1120,"wires":[["291f25df.f656b2"]]},{"id":"4cc173d4.c4b3bc","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/ttime","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1160,"wires":[["f4e4256.0f04d58"]]},{"id":"fe896b8e.3f2e4","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/allshots","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1200,"wires":[["d89e075e.491f5"]]},{"id":"8aea5e90.afc85","type":"mqtt in","z":"b5b83123.ab91a8","name":"to clear","topic":"profile","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1240,"wires":[["6f15ca88.604d4c","291f25df.f656b2","f4e4256.0f04d58","d89e075e.491f5"]]},{"id":"4c18c58e.aa5914","type":"ui_text","z":"ccdfb1e5.1e28f","group":"597f7f2c.968ce","order":1,"width":0,"height":0,"name":"","label":"MAX SPEED","format":"<h1 style=\"font-size:70px;\">{{msg.payload}} m/s</h1>","layout":"row-center","x":910,"y":280,"wires":[]},{"id":"d068befe.2c574","type":"function","z":"ccdfb1e5.1e28f","name":"spped maths","func":"var d = 0.13;\nvar t = Number(msg.payload)/1000000;\nvar spd=(d/t).toFixed(2);\nmsg.payload=spd;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["eafd588e.c7d6e","d0e933a9.ceca","fe7c6a8e.943e88"]]},{"id":"eafd588e.c7d6e","type":"ui_gauge","z":"ccdfb1e5.1e28f","name":"gauge","group":"2d2c9884.13511","order":1,"width":0,"height":0,"gtype":"gage","title":"SPEED","label":"units","format":"{{msg.payload}} m/s","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"d0e933a9.ceca","type":"function","z":"ccdfb1e5.1e28f","name":"voiceover","func":"var a = msg.payload;\nif (a<5){\n    msg.payload = \"BOOO! YOU ARE TOO SLOW\";\n}else if (a<8){\n    msg.payload = \"HOW AVERAGE!\"\n}else if (a<10){\n    msg.payload = \"YOU THINK YOU'RE FAST?!\"\n}else if (a<12){\n    msg.payload = \"THATS GOOD!\"\n}else if (a>=14){\n    msg.payload = \"DING DING DING! YOU'RE A SOPERSTAR\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["a2536433.9cb9c8"]]},{"id":"a2536433.9cb9c8","type":"ui_audio","z":"ccdfb1e5.1e28f","name":"","group":"2d2c9884.13511","voice":"en-GB","always":true,"x":700,"y":480,"wires":[]},{"id":"fe7c6a8e.943e88","type":"function","z":"ccdfb1e5.1e28f","name":"scoreborad","func":"var list = flow.get('list')||[];\nvar max  = context.get('max')||0;\nvar uscore = msg.payload;\nlist.push(uscore);\nlist.sort(function(a, b){return b - a});\nif (max<list[0]){\n    max=list[0];\n}\n\nmsg.payload=max;\n\nflow.set('list',list);\ncontext.set('max',max);\n\n//GET AVG\nvar total=0;\nfor (var i = 0;i<list.length;i++){\n    total+=Number(list[i]);\n}\nvar avg = Number(total/list.length).toFixed(4);\nvar bbb = {\"payload\":avg};\nvar ccc = {\"payload\":list};\nvar ddd = {\"payload\":list, \"uscore\":uscore};\nreturn [msg,bbb,ccc,ddd];","outputs":4,"noerr":0,"x":650,"y":300,"wires":[["4c18c58e.aa5914"],["e55fbc69.841f"],[],["a8822657.85872","3f824c06.7b005c"]]},{"id":"e55fbc69.841f","type":"ui_text","z":"ccdfb1e5.1e28f","group":"597f7f2c.968ce","order":2,"width":0,"height":0,"name":"","label":"AVERAGE:","format":"<h1 style=\"font-size:70px;\">{{msg.payload}} m/s</h1>","layout":"row-center","x":910,"y":320,"wires":[]},{"id":"3f824c06.7b005c","type":"debug","z":"ccdfb1e5.1e28f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":200,"wires":[]},{"id":"60b2a966.0c912","type":"inject","z":"6c0b059e.5388b4","name":"buf","topic":"","payload":"[178,50,170,28]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2240,"wires":[["ffc66797.abe"]]},{"id":"ffc66797.abe","type":"function","z":"6c0b059e.5388b4","name":"buf to str","func":"var a = \"\";\na+=msg.payload.toString('ascii');\nmsg.payload= a;\nmsg.topic = \"test\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":2240,"wires":[["8f4a1480.427088"]]},{"id":"8f4a1480.427088","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":2340,"wires":[]},{"id":"a1ec9120.750858","type":"json","z":"6c0b059e.5388b4","name":"","property":"payload","action":"","pretty":false,"x":550,"y":2440,"wires":[["8f4a1480.427088"]]},{"id":"bca4053e.06ddf8","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"word","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2300,"wires":[["ffc66797.abe"]]},{"id":"59b5414f.ef66f8","type":"function","z":"6c0b059e.5388b4","name":"add gun id to payload","func":"var g = msg.topic;\nvar gid = g;\nvar a = {\"data\":msg.payload ,\"test\":gid};\nmsg.payload=a;\nmsg.topic=\"wtf\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":2460,"wires":[[]]},{"id":"5386ff32.7a4aa8","type":"json","z":"40305aab.d7dff4","name":"","property":"payload","action":"","pretty":false,"x":660,"y":60,"wires":[["2e4015f8.f08b42"]]},{"id":"ee192d92.6a1c9","type":"ui_template","z":"ccdfb1e5.1e28f","group":"597f7f2c.968ce","name":"","order":3,"width":0,"height":0,"format":"<div style=\"text-align: center;font-size:45px;\">\n    <h1>SCORE</h1>\n\n    <break></break>\n    <div>{{msg.payload[0][0]}} : {{msg.payload[0][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[1][0]}} : {{msg.payload[1][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[2][0]}} : {{msg.payload[2][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[3][0]}} : {{msg.payload[3][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[4][0]}} : {{msg.payload[4][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[5][0]}} : {{msg.payload[5][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[6][0]}} : {{msg.payload[6][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[7][0]}} : {{msg.payload[7][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[8][0]}} : {{msg.payload[8][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[9][0]}} : {{msg.payload[9][1]}}</div>\n</div>\n    ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1180,"y":460,"wires":[[]]},{"id":"dd4559b4.5babb8","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"gtime","qos":"","retain":"","broker":"30076b62.06030c","x":400,"y":780,"wires":[]},{"id":"e30a775c.669c9","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":6,"width":0,"height":0,"name":"","label":"Game Time: ","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":920,"wires":[]},{"id":"fdc62477.639eb","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"gtime","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":920,"wires":[["e30a775c.669c9"]]},{"id":"be05599c.4fe29","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"counterup","qos":"","retain":"","broker":"30076b62.06030c","x":840,"y":980,"wires":[]},{"id":"cd0fb6e.d5b9ec8","type":"ui_gauge","z":"b5b83123.ab91a8","name":"Countdown","group":"5abf8915.3e04a8","order":8,"width":6,"height":8,"gtype":"wave","title":"Time Elapsed","label":"seconds","format":"{{value}}","min":0,"max":"900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":860,"wires":[]},{"id":"6f143e68.b67f38","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"counterup","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":720,"y":920,"wires":[["cd0fb6e.d5b9ec8"]]},{"id":"2ea657af.8b29c8","type":"ui_toast","z":"ccdfb1e5.1e28f","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1120,"y":500,"wires":[]},{"id":"a8822657.85872","type":"function","z":"ccdfb1e5.1e28f","name":"ranking of glory for spd>13","func":"if (msg.uscore>=msg.payload[0]){\n    var amazing  =\"NEW HIGH SCORE!\";\n    var eyyyy = \"WOULD YOU LIKE TO ENTER YOUR NAME?\";\n    node.send({\"payload\":amazing});\n    msg.payload=eyyyy;\n    setTimeout(function(){ \n        node.send({\"payload\":eyyyy}); }, 3000);\n        flow.set('record',1);\n        flow.set('recent',msg.uscore);\n}\nelse{\n    flow.set('record',0);\n    flow.set('recent',msg.uscore);\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["2ea657af.8b29c8","3f824c06.7b005c"]]},{"id":"f67e1b87.b11838","type":"ui_text_input","z":"ccdfb1e5.1e28f","name":"","label":"ENTER NAME HERE","tooltip":"3 LETTER NAME ","group":"597f7f2c.968ce","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":740,"y":560,"wires":[["895cc63a.8f0568"]]},{"id":"895cc63a.8f0568","type":"switch","z":"ccdfb1e5.1e28f","name":"","property":"record","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":1030,"y":560,"wires":[["3f824c06.7b005c"],["7d1c3364.f575f4"]],"outputLabels":["NO","YEA"]},{"id":"7d1c3364.f575f4","type":"function","z":"ccdfb1e5.1e28f","name":"","func":"var ranks = flow.get('ranking')||[];\nvar recent = flow.get('recent');\nvar name = msg.payload;\nvar rec = [name, recent];\nranks.push(rec);\nranks = ranks.sort(function(a,b) {\n    return b[1] - a[1];\n});\nflow.set('ranking',ranks);\nflow.set('recent',0);\nflow.set('record',0);\nmsg.payload=ranks;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":480,"wires":[["ee192d92.6a1c9","3f824c06.7b005c"]]},{"id":"32c8c9c4.efa94e","type":"inject","z":"ccdfb1e5.1e28f","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["eea81525.1f3a5"]]},{"id":"eea81525.1f3a5","type":"function","z":"ccdfb1e5.1e28f","name":"","func":"var ranking=[];\nflow.set('ranking',ranking);\nflow.set('record',0);\n    flow.set('recent',0);\n    flow.set('list',[]);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"d9eec75d.9cdfe8","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":4,"width":0,"height":0,"name":"1Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":520,"y":320,"wires":[]},{"id":"e8e88ad3.f116d8","type":"function","z":"6c0b059e.5388b4","name":"query ammo","func":"var s = msg.payload;\ns=s.toString('ascii');\n//s=s.substr(2);\nvar query = {\"uid\":s};\nvar update = {\"$set\":{\"name\":\"Aditya\"}};\n//msg.payload=update;\n//msg.query=query;\nvar a ={\"payload\":query, \"query\":query};\nreturn a;","outputs":1,"noerr":0,"x":370,"y":3180,"wires":[["b6770d43.ba73d8","e62c5195.e5fdb8"]]},{"id":"e62c5195.e5fdb8","type":"mongodb-node","z":"6c0b059e.5388b4","mongodb":"d5873157.9c5a98","name":"find it?","collection":"players","operation":"find","upsert":false,"multi":false,"x":650,"y":3200,"wires":[["b6770d43.ba73d8","cd04b6cf.a522c"]]},{"id":"b6770d43.ba73d8","type":"debug","z":"6c0b059e.5388b4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":3000,"wires":[]},{"id":"9ae14501.d77c28","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"[80,191,114,49]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":3180,"wires":[["e8e88ad3.f116d8"]]},{"id":"cd04b6cf.a522c","type":"function","z":"6c0b059e.5388b4","name":"","func":"msg.payload=Number(msg.payload[0].size);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":3180,"wires":[["b6770d43.ba73d8"]]},{"id":"8a44e648.e825b","type":"catch","z":"40305aab.d7dff4","name":"","scope":null,"uncaught":true,"x":340,"y":80,"wires":[[]]},{"id":"c1bbd988.a2e738","type":"debug","z":"40305aab.d7dff4","name":"bullet typing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":520,"wires":[]},{"id":"2f15529b.c1a246","type":"catch","z":"b5b83123.ab91a8","name":"","scope":null,"uncaught":false,"x":160,"y":80,"wires":[[]]},{"id":"35f7080c.14a8a","type":"catch","z":"6c0b059e.5388b4","name":"","scope":null,"uncaught":false,"x":200,"y":3420,"wires":[["b6770d43.ba73d8"]]},{"id":"2125f00e.dcb87","type":"switch","z":"40305aab.d7dff4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":990,"y":600,"wires":[["5c7687ed.5420e","9afb28af.b0108"],["6895685a.78557","9afb28af.b0108"],["78006c32.6e5eec","9afb28af.b0108"]]},{"id":"6895685a.78557","type":"function","z":"40305aab.d7dff4","name":"str to bool","func":"var a = msg.payload;\na=a.substr(1);\nvar bool=parseInt(a);\nmsg.payload=bool;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":640,"wires":[["4d303b65.fd1204"]]},{"id":"4d303b65.fd1204","type":"function","z":"40305aab.d7dff4","name":"formating","func":"var icon, color, text;\n//msg.payload = Math.floor((Math.random()*2));\nif ((msg.payload=='1')||(msg.payload==1)){\n    icon = \"center_focus_strong\";\n    color=\"red\";\n    text='ACTIVE';\n}else{\n    icon = \"center_focus_weak\";\n    color= \"green\";\n    text='NEUTRAL';\n}\nvar all = {\"color\":color,\"icon\":icon, \"text\":text};\nmsg.payload=all;\n//msg.color=color;\n//msg.payload={\"color\":color,  \"bgcolor\":color};\nmsg.topic+='/imu';\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":640,"wires":[["a6e6dbbe.4a0038","df25589b.c04e18"]]},{"id":"e9f3d150.4ceb6","type":"ui_button","z":"b5b83123.ab91a8","name":"1imu","group":"221bcfcf.6ebb4","order":7,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":440,"wires":[[]]},{"id":"e06b45d1.d08278","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":170,"y":440,"wires":[["2f80b9e4.31a386"]]},{"id":"2f80b9e4.31a386","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":440,"wires":[["587bea2e.99d2f4"]]},{"id":"587bea2e.99d2f4","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["e9f3d150.4ceb6"]]},{"id":"c5764044.a7626","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":880,"wires":[["59a738ac.e18d2"]]},{"id":"59a738ac.e18d2","type":"function","z":"6c0b059e.5388b4","name":"formating","func":"//msg.payload={\"value\":Number(size), \"max\": Number(size)};\nvar icon, color;\nmsg.payload = Math.floor((Math.random()*2));\nif (msg.payload){\n    icon = \"center_focus_strong\";\n    color=\"red\";\n}else{\n    icon = \"center_focus_weak\";\n    color= \"green\";\n}\nvar all = {\"color\":color,\"icon\":icon,  \"bgcolor\":color};\nmsg.ui_control=all;\nmsg.color=color;\nmsg.payload={\"color\":color,  \"bgcolor\":color};\nmsg.topic+='/imu';\nreturn msg;","outputs":3,"noerr":0,"x":1300,"y":880,"wires":[["aa65b908.89dad8","ac156045.b65188"],["ac156045.b65188","aa65b908.89dad8"],["aa65b908.89dad8"]]},{"id":"aa65b908.89dad8","type":"ui_button","z":"6c0b059e.5388b4","name":"","group":"7474cba4.f9428c","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"{{color}}","icon":"","payload":"","payloadType":"str","topic":"","x":1520,"y":880,"wires":[[]]},{"id":"86b0b59d.d3ede","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"3210dace.63d8fe","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"2b1556a.193a72a","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":0,"y":0,"wires":[]},{"id":"ac156045.b65188","type":"debug","z":"6c0b059e.5388b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"ui_control","targetType":"msg","x":1490,"y":800,"wires":[]},{"id":"4fdcf96.1b0be88","type":"ui_button","z":"6c0b059e.5388b4","name":"","group":"7474cba4.f9428c","order":0,"width":"0","height":"0","passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":1870,"y":600,"wires":[["88131dae.6e1d38"]]},{"id":"fbc0ff7e.c8d148","type":"change","z":"6c0b059e.5388b4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":555,"wires":[["4fdcf96.1b0be88"]]},{"id":"c2b294f0.015238","type":"inject","z":"6c0b059e.5388b4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":1495,"y":555,"wires":[["3cbe97b4.bd2678"]]},{"id":"88131dae.6e1d38","type":"function","z":"6c0b059e.5388b4","name":"state","func":"var state = context.get('state') || false;\nstate = !state;\ncontext.set('state' ,state);\nreturn msg;\n","outputs":2,"noerr":0,"x":1495,"y":600,"wires":[["fbc0ff7e.c8d148"],["3cbe97b4.bd2678"]]},{"id":"3cbe97b4.bd2678","type":"change","z":"6c0b059e.5388b4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":600,"wires":[["4fdcf96.1b0be88"]]},{"id":"9afb28af.b0108","type":"debug","z":"40305aab.d7dff4","name":"split data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":700,"wires":[]},{"id":"e96319bd.60eb1","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":1330,"y":360,"wires":[["63bcd701.c133c"]]},{"id":"63bcd701.c133c","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":360,"wires":[["72af756f.b91864"]]},{"id":"72af756f.b91864","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":360,"wires":[["549a8e13.fe6068"]]},{"id":"549a8e13.fe6068","type":"ui_button","z":"b5b83123.ab91a8","name":"3imu","group":"541e7bbf.84c99c","order":3,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1770,"y":360,"wires":[[]]},{"id":"7addf777.cb748","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":170,"y":820,"wires":[["68a0e15a.6b8158"]]},{"id":"68a0e15a.6b8158","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":820,"wires":[["3ae6de01.32e012"]]},{"id":"3ae6de01.32e012","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":820,"wires":[["f9a95d97.ed61f8"]]},{"id":"f9a95d97.ed61f8","type":"ui_button","z":"b5b83123.ab91a8","name":"2imu","group":"2b7841ca.e9488e","order":7,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":820,"wires":[[]]},{"id":"ebf92b87.33b188","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":1290,"y":700,"wires":[["9233118a.a7b5f"]]},{"id":"9233118a.a7b5f","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":700,"wires":[["ad0e6338.6db5f"]]},{"id":"ad0e6338.6db5f","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":700,"wires":[["d4042cda.83664"]]},{"id":"d4042cda.83664","type":"ui_button","z":"b5b83123.ab91a8","name":"4imu","group":"ba9105f8.7c9208","order":7,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1730,"y":700,"wires":[[]]},{"id":"2a73c5b3.b7c9c2","type":"worldmap","z":"d79956c1.9bacc","name":"","lat":"-37.813605","lon":"144.963100","zoom":"17","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":540,"y":160,"wires":[]},{"id":"28f8ba26.6ae75e","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":4,"width":0,"height":0,"name":"2Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":560,"y":680,"wires":[]},{"id":"b9e8923c.cdecd8","type":"ui_text","z":"b5b83123.ab91a8","group":"","order":4,"width":0,"height":0,"name":"3Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":1280,"y":280,"wires":[]},{"id":"f3136fc5.bd01a","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":4,"width":0,"height":0,"name":"4Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":1120,"y":680,"wires":[]},{"id":"18224827.30aeb8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/+/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":170,"y":1260,"wires":[["f6939e63.36cb2"]]},{"id":"f6939e63.36cb2","type":"function","z":"b5b83123.ab91a8","name":"","func":"var per  =msg.topic.substr(7,2);\nper=per.toUpperCase();\nvar show,hide;\nshow =\"Dashboard_\"+per;\nhide=\"Dashboard_\"+per;\nvar str;\nif (msg.payload===null){\n    str = {\"group\": {hide}};\n}\nelse{\n    str = {\"group\": {show}};\n    \n}\nmsg.payload=str;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[[]]},{"id":"bb32db14.f0dc1","type":"debug","z":"b5b83123.ab91a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1020,"wires":[]},{"id":"2cb11e73.957bea","type":"debug","z":"40305aab.d7dff4","name":"currentDEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":140,"wires":[]},{"id":"231e7a8.4018306","type":"debug","z":"40305aab.d7dff4","name":"PlayerJSON data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":400,"wires":[]},{"id":"cee7b248.da4828","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"{\"remote16\":\"0402\",\"data\":\"DB2356\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["92c3210.6d0856","6ef59b00.cc077c"]]},{"id":"95a6f9f3.c7a8a8","type":"inject","z":"b5b83123.ab91a8","name":"","topic":"","payload":"score","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":1020,"wires":[["bb32db14.f0dc1"]]},{"id":"963edcdf.965f98","type":"function","z":"40305aab.d7dff4","name":"special clear","func":"var top = \"player/\";\nvar temp;\nvar blank = {\"payload\":[0], \"topic\":top};\nvar people  =[\"p1/bspd\", \"p2/bspd\",\"p3/bspd\",\"p4/bspd\"];\nvar imu = [\"p3/imu\",\"p1/imu\"];\nvar ammo= [\"p3/ammo\", \"p1/ammo\",\"p2/ammo\",\"p4/ammo\"];\n//var ui = \"bspd\";\nfor (var i=0; i<4;i++){\n    //blank.topic=top;\n    temp=top+people[i];\n    blank.topic=temp;\n    //blank.topic+=ui;\n    node.send(blank);\n    }\n    blank.payload={\"color\":null,\"icon\":null, \"text\":null};\nfor (var j = 0 ;j<2;j++){\n    temp=top+imu[j];\n    blank.topic=temp;\n    //blank.topic+=ui;\n    node.send(blank);\n    }\n    blank.payload = {\"value\":0, \"max\": 100};\n    for (var k =0; k<4;k++){\n    temp  =top+ammo[k];\n    blank.topic=temp\n    node.send(blank);}\n//for (var k =0;k<2;k++){\n//    \n//}\nreturn null;","outputs":1,"noerr":0,"x":370,"y":1320,"wires":[["252b5d8b.b44b82","857be93f.cf25e8"]]},{"id":"613eb0f9.b881c8","type":"inject","z":"40305aab.d7dff4","name":"CCclear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1320,"wires":[["963edcdf.965f98"]]},{"id":"a32617f1.17d5c","type":"ui_template","z":"b5b83123.ab91a8","group":"541e7bbf.84c99c","name":"","order":2,"width":"8","height":"13","format":"<div style=\"text-align: center;font-size:45px;\">\n    <h1>SHOTS FIRED</h1>\n\n    <break></break>\n    <div>{{msg.payload}}</div>\n\n</div>\n    ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1180,"y":460,"wires":[[]]},{"id":"1cbd9382.e3a7ec","type":"ui_chart","z":"b5b83123.ab91a8","name":"3Speed","group":"","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":300,"wires":[[]]},{"id":"5a85579c.86dce8","type":"function","z":"40305aab.d7dff4","name":"init everything","func":"var a = msg.payload;\nflow.set(a+\"allshot\",0);\n//flow.set(\"p2\"+\"allshot\",0);\n//flow.set(\"p3\"+\"allshot\",0);\n//flow.set(\"p4\"+\"allshot\",0);\n\nflow.set(a+\"ammoleft\",0);\n//flow.set(\"p2\"+\"ammoleft\",0);\n//flow.set(\"p3\"+\"ammoleft\",0);\n//flow.set(\"p4\"+\"ammoleft\",0);\n\nflow.set(a+'bullets', []);\n//flow.set(\"p1\"+'bullets', []);\n//flow.set(\"p1\"+'bullets', []);\n//flow.set(\"p1\"+'bullets', []);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1780,"wires":[[]]},{"id":"34b6a0b0.bd149","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1720,"wires":[["5a85579c.86dce8"]]},{"id":"5ac086d3.e98ae","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1760,"wires":[["5a85579c.86dce8"]]},{"id":"4bf40065.f20ce","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1800,"wires":[["5a85579c.86dce8"]]},{"id":"e47f9f83.942a88","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1840,"wires":[["5a85579c.86dce8"]]}]