Engenius Simulator.json
[{"id":"d79956c1.9bacc","type":"tab","label":"Simulators","disabled":false,"info":"DATA FAKER CENTRAL"},{"id":"84689997.47f6f8","type":"inject","z":"d79956c1.9bacc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["40e80419.506da4"]]},{"id":"40e80419.506da4","type":"function","z":"d79956c1.9bacc","name":"Fake totalshots maker","func":"var a = Math.ceil(Math.random()*4);\nvar aa  = a.toString();\nmsg.topic=\"player/p\"+aa+\"/tshot\";\nvar count = context.get(aa)||0;\ncount+=msg.payload;\nmsg.payload=count;\ncontext.set(aa,count);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["725f82ab.03c89c"]]},{"id":"725f82ab.03c89c","type":"mqtt out","z":"d79956c1.9bacc","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":610,"y":60,"wires":[]},{"id":"a762af42.1db818","type":"function","z":"d79956c1.9bacc","name":"move 'it","func":"var latt = [\n    -37.8136+(0.0004*Math.random()),\n    -37.8136+(0.0001*Math.random()),\n    -37.8136+(0.0008*Math.random()),\n    -37.8136+(0.0010*Math.random())];\n\nmsg.payload=[ \n{\"name\":\"Joe\",  \"lat\":latt[0], \"lon\":144.9631, \"iconColor\": 'blue'},\n{\"name\":\"Jack\", \"lat\":latt[1], \"lon\":144.9630, \"iconColor\": 'yellow'},\n{\"name\":\"Jess\", \"lat\":latt[3], \"lon\":144.9628, \"iconColor\": 'orange'},\n{\"name\":\"Jim\",  \"lat\":latt[2], \"lon\":144.9633, \"iconColor\": 'limegreen'}\n];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["2a73c5b3.b7c9c2"]]},{"id":"573ef032.ecb028","type":"inject","z":"d79956c1.9bacc","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"9","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["a762af42.1db818"]]},{"id":"90b056ea.4f364","type":"inject","z":"d79956c1.9bacc","name":"zoom in","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["216c8db9.c29352"]]},{"id":"216c8db9.c29352","type":"function","z":"d79956c1.9bacc","name":"zoom","func":"msg.payload={\"command\":\n    { \"zoom\": 17,\n    \"lat\":-37.813605, \n    \"lon\":144.963100,\n    \"layer\":\"Esri\",\n    \"showlayer\":\"Esri\"\n    }};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["2a73c5b3.b7c9c2"]]},{"id":"1d48256d.671f43","type":"function","z":"d79956c1.9bacc","name":"init gunlist","func":"var ab = [];\nvar plays = {'p1': null, 'p2': null, 'p3': null,'p4': null};\nvar cd = {'p1': null, 'p2': null, 'p3': null,'p4': null};\n//global.set(\"gunlist\",ab);\nglobal.set(\"playlist\",ab);\nglobal.set(\"pidlist\",plays);\nglobal.set(\"score\", cd);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[[]]},{"id":"e4e8b706.942e28","type":"inject","z":"d79956c1.9bacc","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["1d48256d.671f43"]]},{"id":"ab5aff8c.1c1158","type":"mqtt out","z":"d79956c1.9bacc","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":670,"y":340,"wires":[]},{"id":"b9798b57.9451b8","type":"function","z":"d79956c1.9bacc","name":"to mqtt","func":"var ma = {\"payload\": null, \"topic\": null};\nma.topic=\"gun/\"+msg.payload.remote16;\nma.payload=msg.payload.data;\nreturn ma;","outputs":1,"noerr":0,"x":490,"y":340,"wires":[["ab5aff8c.1c1158"]]},{"id":"e84609fc.630ba8","type":"function","z":"d79956c1.9bacc","name":"add gun to list","func":"var gid=msg.payload.remote16;\n//get\nvar list  = global.get(\"gunlist\")||[];\nif (typeof(list)===\"object\"){\n    list=Object.values(list);\n}\nfor (var i=0; i<list.length;i++){\n        if (list[i]===gid){\n            return null;\n        }\n    }\nif(i>=list.length){\ntry{\nlist.push(gid);\n}catch(Error){\n    msg.payload=typeof(list);\n    return msg;\n}    \n}\n//set\nglobal.set(\"gunlist\",list);\nmsg.payload=list;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["5f9e8b0.c403874"]]},{"id":"f4d84d0f.43b1c8","type":"inject","z":"d79956c1.9bacc","name":"Request User Good1","topic":"","payload":"{\"remote16\":\"0100\",\"data\":\"RUAAA\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["e84609fc.630ba8","b9798b57.9451b8"]]},{"id":"5f9e8b0.c403874","type":"debug","z":"d79956c1.9bacc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"9a8dccb2.4c7918","type":"inject","z":"d79956c1.9bacc","name":"1Data Message Bang","topic":"","payload":"{\"remote16\":\"0100\",\"data\":\"D9.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["dcf7cc1e.0799e"]]},{"id":"fb224dd1.85fa","type":"inject","z":"d79956c1.9bacc","name":"1Request Magazine Load","topic":"","payload":"{\"remote16\":\"0100\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["b9798b57.9451b8"]]},{"id":"c4d01987.b1a47","type":"inject","z":"d79956c1.9bacc","name":"Request User Bad","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"RUsad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["b9798b57.9451b8","e84609fc.630ba8"]]},{"id":"4023bd7c.ce0ef4","type":"inject","z":"d79956c1.9bacc","name":"Request User Good2","topic":"","payload":"{\"remote16\":\"0110\",\"data\":\"RUBBB\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["e84609fc.630ba8","b9798b57.9451b8"]]},{"id":"beac10a9.7f16c","type":"inject","z":"d79956c1.9bacc","name":"2Data Message Bang","topic":"","payload":"{\"remote16\":\"0110\",\"data\":\"DA1,B7.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["dcf7cc1e.0799e"]]},{"id":"6cd5f32b.720574","type":"inject","z":"d79956c1.9bacc","name":"2Request Magazine Load","topic":"","payload":"{\"remote16\":\"0110\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["b9798b57.9451b8"]]},{"id":"dcf7cc1e.0799e","type":"function","z":"d79956c1.9bacc","name":"[d]Gun speed rnd","func":"var rnd = (Math.random()*10000)+10000;\nvar str = \"D\"+rnd;\nmsg.payload.data=str;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["b9798b57.9451b8"]]},{"id":"2990fe98.41fec2","type":"comment","z":"d79956c1.9bacc","name":"DB code","info":"players\n> db.players.drop();\n> db.results.drop();\n\n> db.createCollection('players');\n> db.createCollection('results');\n\n> db.players.insertMany([\n{\"uid\":\"AAA\",\"name\":\"ExampleA\",\"gun\":\"0001\",\"lastgun\":\"0001\",\"logintime\":0},\n{\"uid\":\"BBB\",\"name\":\"ExampleB\",\"gun\":\"0001\",\"lastgun\":\"0001\",\"logintime\":0},\n{\"uid\":\"CCC\",\"name\":\"ExampleC\",\"gun\":\"0001\",\"lastgun\":\"0001\",\"logintime\":0}]);\n\n> db.results.insertMany([\n{\"uid\":\"BBB\",\"allshots\":0,\"playtime\":0},\n{\"uid\":\"AAA\",\"allshots\":0,\"playtime\":0},\n{\"uid\":\"CCC\",\"allshots\":0,\"playtime\":0}]);","x":820,"y":100,"wires":[]},{"id":"8a8bdb14.2508f","type":"inject","z":"d79956c1.9bacc","name":"blue tag","topic":"","payload":"[178,104,181,115]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":280,"wires":[["22ebb715.fca748"]]},{"id":"22ebb715.fca748","type":"function","z":"d79956c1.9bacc","name":"add to db","func":"var a = msg.payload;\nvar now = Date.now();\n//a=a.toString();\na  = a.toString('hex');\n\t\nvar aa = {\n    \"uid\": a,\n    \"name\": \"bluetag\",\n    \"gun\": \"0001\",\n    \"lastgun\": \"0001\",\n    \"logintime\": now\n}\nmsg.payload=aa;\n\nvar bb = {\n    \"uid\":a,\n    \"playtime\":0,\n    \"totalshots\":0\n};\nvar msg2 = {\"payload\":bb};\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":780,"y":280,"wires":[["442d9ac5.08286c"],["8a92550b.871048"]]},{"id":"442d9ac5.08286c","type":"mongodb-node","z":"d79956c1.9bacc","mongodb":"d5873157.9c5a98","name":"","collection":"players","operation":"insert","upsert":false,"multi":false,"x":950,"y":220,"wires":[[]]},{"id":"8a92550b.871048","type":"mongodb-node","z":"d79956c1.9bacc","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"insert","upsert":false,"multi":false,"x":950,"y":280,"wires":[[]]},{"id":"57f169a7.bea658","type":"inject","z":"d79956c1.9bacc","name":"Request User Good3","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"RUCCC\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":580,"wires":[["b9798b57.9451b8","e84609fc.630ba8"]]},{"id":"5332c4d5.a87384","type":"inject","z":"d79956c1.9bacc","name":"Request User Good4","topic":"","payload":"{\"remote16\":\"1001\",\"data\":\"RUDDD\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["e84609fc.630ba8","b9798b57.9451b8"]]},{"id":"99769a9d.296798","type":"inject","z":"d79956c1.9bacc","name":"3Data Message Bang","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"DA1,B9.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":660,"wires":[["dcf7cc1e.0799e","b9798b57.9451b8"]]},{"id":"d71d7832.71793","type":"inject","z":"d79956c1.9bacc","name":"3Request Magazine Load","topic":"","payload":"{\"remote16\":\"1000\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["b9798b57.9451b8"]]},{"id":"81b9780c.597768","type":"inject","z":"d79956c1.9bacc","name":"1Data Message Bang","topic":"","payload":"{\"remote16\":\"1001\",\"data\":\"DA1,B7.25\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["dcf7cc1e.0799e","b9798b57.9451b8"]]},{"id":"a0e285ae.a210e","type":"inject","z":"d79956c1.9bacc","name":"4Request Magazine Load","topic":"","payload":"{\"remote16\":\"1001\",\"data\":\"RM000A\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["b9798b57.9451b8"]]},{"id":"bcab1f2b.fc1c28","type":"inject","z":"d79956c1.9bacc","name":"","topic":"player/","payload":"DG","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":700,"wires":[["b978c58b.648a1"]]},{"id":"b978c58b.648a1","type":"function","z":"d79956c1.9bacc","name":"gps faker","func":"var a = Math.ceil(Math.random()*4);\nvar player  =\"p\"+a.toString();\nmsg.topic+=player;\n\nvar long = (144.96+(0.004*Math.random())).toFixed(5);\nvar lat = (-37.8136+(0.001*Math.random())).toFixed(5);\nvar alt = 100;\n//long lat alt\nvar b= \"DG\"+long+','+lat+','+alt;\n\nmsg.payload={\"data\":b,\"gid\":\"0001\"};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":700,"wires":[[]]},{"id":"2a73c5b3.b7c9c2","type":"worldmap","z":"d79956c1.9bacc","name":"","lat":"-37.813605","lon":"144.963100","zoom":"17","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":540,"y":160,"wires":[]},{"id":"30076b62.06030c","type":"mqtt-broker","z":"","name":"ME","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5873157.9c5a98","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":"DB"}]