Engenius Signup.json
[{"id":"30cc5a77.69092e","type":"tab","label":"Login","disabled":false,"info":""},{"id":"c4340de2.ddf2e8","type":"function","z":"30cc5a77.69092e","name":"format to add to database","func":"var uid = msg.payload.uid;\n//uid=uid.toString('hex');\nvar a = {\n    \"name\":msg.payload.name,\n    \"uid\" :uid,\n    \"gun\" : \"0001\",\n    \"lastgun\":\"0001\",\n    \"logintime\": Date.now()\n};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["1d546f37.bc3f91"]]},{"id":"b3ac760b.fe7c8","type":"function","z":"30cc5a77.69092e","name":"query database for match","func":"var a = {\"uid\":msg.payload.uid};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["cf41225f.a6ef78"]]},{"id":"1d546f37.bc3f91","type":"trigger","z":"30cc5a77.69092e","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Check if user exists","x":810,"y":80,"wires":[["9b66b3a7.a98c28","e9a76c19.e95348"]]},{"id":"cf41225f.a6ef78","type":"mongodb-node","z":"30cc5a77.69092e","mongodb":"d5873157.9c5a98","name":"find it","collection":"players","operation":"find","upsert":false,"multi":false,"x":490,"y":140,"wires":[["ad0cb5ae.76d1d8"]]},{"id":"ad0cb5ae.76d1d8","type":"function","z":"30cc5a77.69092e","name":"Yeah?","func":"\nif (msg.payload.length!==0){\n    //if there is a result returned\n    var a = {\"payload\": 0, \"reset\":1};\n    msg=a;\n    var notification = {\"payload\":\"Error: User Tag ID already in use\"};\n    return [msg,notification];\n}\n\nreturn [msg,null];","outputs":2,"noerr":0,"x":630,"y":140,"wires":[["1d546f37.bc3f91"],["6485aee0.f44b7"]]},{"id":"9b66b3a7.a98c28","type":"mongodb-node","z":"30cc5a77.69092e","mongodb":"d5873157.9c5a98","name":"insert user","collection":"players","operation":"insert","upsert":false,"multi":false,"x":1190,"y":80,"wires":[[]]},{"id":"e9a76c19.e95348","type":"function","z":"30cc5a77.69092e","name":"add user","func":"var a = {\"uid\": msg.payload.uid, \"playtime\":0,\"allshots\":0};\nmsg.payload=a;\nvar notification = {\"payload\":\"New User added\"};\nreturn [msg,notification];\n","outputs":2,"noerr":0,"x":1020,"y":120,"wires":[["b9a29df8.cb80e"],["6485aee0.f44b7"]]},{"id":"b9a29df8.cb80e","type":"mongodb-node","z":"30cc5a77.69092e","mongodb":"d5873157.9c5a98","name":"insert result","collection":"results","operation":"insert","upsert":false,"multi":false,"x":1190,"y":120,"wires":[[]]},{"id":"6485aee0.f44b7","type":"ui_toast","z":"30cc5a77.69092e","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1230,"y":180,"wires":[]},{"id":"e5102624.41e728","type":"ui_form","z":"30cc5a77.69092e","name":"Signups","label":"Sign up","group":"b4118bef.179d08","order":2,"width":"0","height":"0","options":[{"label":"Username","value":"name","type":"text","required":true},{"label":"Tag ID","value":"uid","type":"text","required":true},{"label":"I agree to the Terms and Conditions","value":"y","type":"checkbox","required":true}],"formValue":{"name":"","uid":"","y":false},"payload":"","submit":"Submit","cancel":"Clear","topic":"signup","x":140,"y":80,"wires":[["c4340de2.ddf2e8","b3ac760b.fe7c8"]]},{"id":"d5873157.9c5a98","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":"DB"},{"id":"b4118bef.179d08","type":"ui_group","z":"","name":"Inputs","tab":"cb8250d7.106b18","order":1,"disp":false,"width":"20","collapse":false},{"id":"cb8250d7.106b18","type":"ui_tab","z":"","name":"Signup","icon":"dashboard","order":2,"disabled":false,"hidden":false}]