Engenius Model.json
[{"id":"40305aab.d7dff4","type":"tab","label":"Model","disabled":false,"info":"The Model of a MVC architecture\n\n* Gets XBee Transmission from XBee RX node\n    * Add 16 bit to memory\n* Re-format dataframe for simple MQTT transition\n* Send to MQTT\n* Get from MQTT\n* Transfrom JSON String back into Javascript Object\n* Sort the message's source to the matching player\n* Sent to Player's MQTT\n* Get From Player MQTT (note that topic stays unchanged unless explicitly changed)\n    * Eg MQTT: 'Player/P1' will stay that until changed at the end\n* Transfrom JSON String back into Javascript Object\n* Sort message type : Data or Request\n    * Request types need reply\n    * Data types update existing data\n* If its a Request:\n    * Sort if its a User Validation or Magazine Request \n    * Save gun addr and query database\n    * Update data and send to Dashboard via MQTT\n    * Reply to Xbee\n* If it is Data:\n    * Sort Data types {B:Bullet data, G:GPS,I:IMU}\n    * Process data\n    * Send updates to Dashboard via MQTT\n\nAlso process user interaction with Dashboard like the profile view, timer and the logout\n\nProfile:\n    Get P1|P2|P3|P4 from Profile MQTT\n    Find user id\n    Query DB\n    Update Dashboard via MQTT\n\nTime Logging\n    Calculate time between clicks\n    Query Results DB for player stats\n    Get existing gametime from DB\n    Add old time + this.time\n    Update DB\n    Clear session data (Bullets fired, speed, etc but not players)\n\nLog everyone Out:\n    Force Clear\n        Reset Player list, session data, everything\n\nMade by Leanne Tran, 3amWednesday, 2019        "},{"id":"384a5c02.92b6a4","type":"mosca in","z":"40305aab.d7dff4","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":40,"wires":[[]]},{"id":"96c1f23f.a4ea5","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"gun/#","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":530,"y":120,"wires":[["5386ff32.7a4aa8"]]},{"id":"b3ed94f2.29e59","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":390,"y":120,"wires":[]},{"id":"e2b00dcc.2ff868","type":"xbee-rx","z":"40305aab.d7dff4","name":"","xBee":"","x":100,"y":120,"wires":[["92c3210.6d0856","6ef59b00.cc077c","6c2fe3c7.0960bc"]]},{"id":"92c3210.6d0856","type":"function","z":"40305aab.d7dff4","name":"to mqtt","func":"var ma = {\"payload\": null, \"topic\": null};\nma.topic=\"gun/\"+msg.payload.remote16;\nvar word=\"\";\nword+=msg.payload.data.toString('ascii');\nma.payload={\"data\":word};\nreturn ma;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["b3ed94f2.29e59"]]},{"id":"6ef59b00.cc077c","type":"function","z":"40305aab.d7dff4","name":"add gun to list","func":"var gid=msg.payload.remote16;\n//get\nvar list  = global.get('gunlist')||[];\nfor (var i=0; i<list.length;i++){\n        if (list[i]===gid){\n            return null;\n        }\n    }\nif(i>=list.length){\nlist.push(gid);}\n//set\nglobal.set('gunlist',list);\nmsg.payload=list;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[[]]},{"id":"68739f93.1644b8","type":"switch","z":"40305aab.d7dff4","name":"","property":"payload.gid","propertyType":"msg","rules":[{"t":"eq","v":"gunlist[0]","vt":"global"},{"t":"eq","v":"gunlist[1]","vt":"global"},{"t":"eq","v":"gunlist[2]","vt":"global"},{"t":"eq","v":"gunlist[3]","vt":"global"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":950,"y":120,"wires":[["3fa65161.625746"],["7881d038.5631a8"],["7dd9e4d6.16144c"],["e172b032.4eee58"],["78006c32.6e5eec"]]},{"id":"3fa65161.625746","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p1","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":40,"wires":[]},{"id":"7dd9e4d6.16144c","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p3","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":160,"wires":[]},{"id":"e172b032.4eee58","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p4","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":220,"wires":[]},{"id":"666212a2.cacb6c","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"player/+","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":80,"y":400,"wires":[["cbde4fba.7d6898"]]},{"id":"7a24ab25.396e24","type":"switch","z":"40305aab.d7dff4","name":"request or data?","property":"payload.data[0]","propertyType":"msg","rules":[{"t":"eq","v":"R","vt":"str"},{"t":"eq","v":"D","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":460,"wires":[["df5d0c88.e9d6e8"],["6dfb5468.29f2f4"]]},{"id":"df5d0c88.e9d6e8","type":"switch","z":"40305aab.d7dff4","name":"type u or m","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"eq","v":"U","vt":"str"},{"t":"eq","v":"M","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":420,"wires":[["e1254176.69d398"],["bf044688.491c7"]]},{"id":"e1254176.69d398","type":"function","z":"40305aab.d7dff4","name":"query the data","func":"var s = msg.payload.data;\ns=s.substr(2);\n//s=toString('ascii');\nvar a = {\"uid\":s};\nvar b = msg.payload.gid;\nmsg.payload=a;\nflow.set(\"1tempGID\", b);\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":380,"wires":[["1a09f1c3.4786b6","84ee9df4.5ea178"]],"icon":"node-red/mongodb.png"},{"id":"1a09f1c3.4786b6","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"players","operation":"find","upsert":false,"multi":false,"x":1030,"y":380,"wires":[["4566765.af1c388","228c51c6.94cb0e"]]},{"id":"4566765.af1c388","type":"function","z":"40305aab.d7dff4","name":"sort into a data frame","func":"var a,b,uid,name;\nb = flow.get(\"1tempGID\");\nif (msg.payload.length!==0){\n     name=msg.payload[0].name;\n     uid = msg.payload[0].uid;\n     var lastgun = msg.payload[0].gun;\n    a={\"gid\":b,\"uid\":uid ,\"data\":name, \"lastgun\":lastgun, \"verify\":1};\n    msg.payload=a;\n    return [msg,null];\n}else{\n    var list = global.get('gunlist');\n    for(var i =0; i<list.length;i++){\n        if (list[i]==b){\n            list.splice(i,1);\n            global.set('gunlist',list);\n        }\n    }\n    a={\"gid\":b,\"data\":\" \", \"verify\":0};\n    msg.payload=a;\n    msg.topic=\"fail\";\n    return [null,msg];\n}\n\n","outputs":2,"noerr":0,"x":1240,"y":380,"wires":[["a7de0897.841e48","ef5d2bc2.b2a1d8","750d2c5d.1c988c","2cb11e73.957bea"],["ef5d2bc2.b2a1d8","cec4206d.473b48"]],"outputLabels":["FOUND","FAIL"]},{"id":"2e4015f8.f08b42","type":"function","z":"40305aab.d7dff4","name":"add gun id to payload","func":"var g = msg.topic;\nvar gid = g.substr(4);\nvar a = {\"data\":msg.payload.data ,\"gid\":gid};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["68739f93.1644b8"]]},{"id":"cbde4fba.7d6898","type":"json","z":"40305aab.d7dff4","name":"","property":"payload","action":"obj","pretty":false,"x":210,"y":400,"wires":[["7a24ab25.396e24","231e7a8.4018306"]]},{"id":"a7de0897.841e48","type":"function","z":"40305aab.d7dff4","name":"logplayer name","func":"//var time = Date.now();\n\nvar topic = msg.topic;\nvar topic1=topic+\"/name\";\nvar msg1= {\"payload\":msg.payload.data, \"topic\":topic1};\n\nvar topic2=topic+\"/id\";\nvar msg2 = {\"payload\":msg.payload.uid, \"topic\":topic2};\n\n//var topic3=topic+\"/starttime\";\n//var msg3 = {\"payload\":Date.now(), \"topic\":topic3};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1560,"y":320,"wires":[["c843eee9.562a98"],["c843eee9.562a98","2cb11e73.957bea"]]},{"id":"253ad66e.4f3c52","type":"function","z":"40305aab.d7dff4","name":"return to gun frame","func":"var str = 'r'+msg.payload.data.value;\nvar myDataFrame = {\n  type: 0x10,\n  id: 0x01,\n  destination64: \"0013a200400a0127\",\n  destination16: msg.payload.gid,\n  broadcastRadius: 0x00,\n  options: 0x00,\n  data: str\n};\nmsg.payload=myDataFrame;\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":500,"wires":[["836287d4.3f03c8","37db3f7d.1e16d8"]]},{"id":"c843eee9.562a98","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":1810,"y":320,"wires":[]},{"id":"836287d4.3f03c8","type":"xbee-tx","z":"40305aab.d7dff4","name":"","xBee":"","x":1920,"y":500,"wires":[]},{"id":"84ee9df4.5ea178","type":"debug","z":"40305aab.d7dff4","name":"query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":440,"wires":[]},{"id":"7881d038.5631a8","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"player/p2","qos":"","retain":"","broker":"30076b62.06030c","x":1180,"y":100,"wires":[]},{"id":"bf044688.491c7","type":"function","z":"40305aab.d7dff4","name":"query ammo","func":"var s = msg.payload.data;\ns=s.substr(2);\nvar a = {\"aid\":s};\nvar b = msg.payload.gid;\nmsg.payload=a;\nflow.set(\"1tempGID\", b);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["86f885ee.5cb7a","84ee9df4.5ea178"]],"icon":"node-red/mongodb.png"},{"id":"86f885ee.5cb7a","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"DB ammo","collection":"ammo","operation":"find","upsert":false,"multi":false,"x":1100,"y":460,"wires":[["4ad7eb3a.353174","228c51c6.94cb0e"]]},{"id":"4ad7eb3a.353174","type":"function","z":"40305aab.d7dff4","name":"topic assigning","func":"if (typeof msg.payload[0]!==undefined){\nvar size = Number(msg.payload[0].size);\nmsg.payload={\"value\":Number(size), \"max\": Number(size)};\n\nvar p  = msg.topic;\np=p.substring(7,9);\nflow.set(p+\"ammoleft\", size);\nmsg.topic+=\"/ammo\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":460,"wires":[["c843eee9.562a98","7e0a98c0.d0d9b"]],"icon":"node-red-contrib-mqtt-broker/mosca.png"},{"id":"7e0a98c0.d0d9b","type":"function","z":"40305aab.d7dff4","name":"formatting","func":"var b = flow.get(\"1tempGID\");\n\nvar a = {\"gid\":b, \"data\":msg.payload};\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":500,"wires":[["253ad66e.4f3c52"]]},{"id":"dc55c2f1.8becc","type":"function","z":"40305aab.d7dff4","name":"remove type","func":"//var json =\"{\";\nvar s = msg.payload.data;\ns=s.substr(1);\n//remove the D for data\n//s=s.split(\",\");\n//var char = s[0][0];\n//split into array\n//for (var i = 0; i<s.length;i++){\n//    json+=\"\\\"\" + s[i][0]+  \"\\\" : \\\"\" + s[i].substr(1) + \"\\\" ,\";\n//}\n\n//json=json.slice(0,-1);\n//json+=\"}\"\n//var json = {char:s[0].substr(1)};\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":560,"wires":[["c1bbd988.a2e738","2125f00e.dcb87"]]},{"id":"5c7687ed.5420e","type":"function","z":"40305aab.d7dff4","name":"str to int","func":"/* resulting message output could be\n* 1 - ammo  = null\n* 2 - speed = null\n*/\nvar a =msg.payload;\na=a.substr(1);\n\na=parseInt(a);\n//node.send({\"payload\":a, \"topic\":\"demoa\"});\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":600,"wires":[["c1bbd988.a2e738","973adb4f.70cc68","9146457.95eccb8"]],"icon":"font-awesome/fa-calculator"},{"id":"6dfb5468.29f2f4","type":"switch","z":"40305aab.d7dff4","name":"gps?","property":"payload.data[1]","propertyType":"msg","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":540,"wires":[["b13611e2.8e5ed"],["dc55c2f1.8becc"]]},{"id":"b13611e2.8e5ed","type":"function","z":"40305aab.d7dff4","name":"remove and map","func":"var s = msg.payload.data;\nvar name  = msg.topic;\nname=name.slice(7,9);\ns=s.substr(2);\n//remove the D for data and G for GPS\ns=s.split(\",\");\n//split into array\n//0  -long, 1 - lat , 2-alt\nvar color='black';\nswitch(name){\n    case 'p1': color='blue';\n        break;\n    case 'p2': color='yellow';\n        break;\n    case 'p3': color='orange';\n        break;\n    case 'p4': color='limegreen';\n        break;\n}\nmsg.payload={\"name\":name,  \"lat\":s[1], \"lon\":s[0], 'iconColor':color};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["920854a6.309798"]]},{"id":"920854a6.309798","type":"worldmap","z":"40305aab.d7dff4","name":"","lat":"-37.813605","lon":"144.963100","zoom":"17","layer":"Esri","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1040,"y":520,"wires":[]},{"id":"750d2c5d.1c988c","type":"function","z":"40305aab.d7dff4","name":"update doc","func":"var update = {\"$set\":{\"lastgun\":msg.payload.lastgun, \"gun\":msg.payload.gid}};\nvar query = {\"uid\":msg.payload.uid};\nvar a ={\"payload\":update, \"query\":query};\nreturn a;","outputs":1,"noerr":0,"x":1550,"y":260,"wires":[["3761f186.4366de"]]},{"id":"3761f186.4366de","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"update","collection":"players","operation":"update","upsert":false,"multi":false,"x":1780,"y":260,"wires":[[]]},{"id":"5caa8199.31e5b8","type":"comment","z":"40305aab.d7dff4","name":"GUN CODES","info":"R = REQUEST\n    M = MAGAZINE\n    U = USER\nD = DATA\n    A = AMMO (shots fired)\n    B = BULLET (speed of bullet)\n    G = GPS\n    \nEX:\n    RUAAA\n        request user suthentication, rfid 'AAA'\n        \n    RM001\n        request magazine capacity, rfid '001'\n    \n    DA2\n        data message: 2 shots fired\n    \n    DB7000\n        data message: bullet time is 7000us\n        \n    DG123,123,123\n        data message: GPS coords: 123,123,123 :: Lat, Lon, Alt\n    \n    Combined:\n    DA1B7000\n        data message: 1 shot fired at 7000us\nREPLIES:\n    to gun authentication\n        <Boolean><Name:5>  \n            <boolean> = 0 if user not found\n                      = 1 if user is found\n            <name>    = username of the user in 5 characters or less\n    to magazine request\n        r<size>\n            r         = to denote reply message\n            <size>    = size of magazine on record\n    Examples:\n        Mag :  r12\n            Reply, magazine size 12\n        User:  0fail\n            User not found\n               1Jhett\n            User Found: Name = Jhett","x":190,"y":520,"wires":[]},{"id":"973adb4f.70cc68","type":"function","z":"40305aab.d7dff4","name":"A for Ammo Fired","func":"var p = msg.topic;\np=p.substring(7,9);\nvar ammoleft = flow.get(p+\"ammoleft\")||10;\nvar allshot = flow.get(p+\"allshot\")||0;\nammoleft -= 1;\nallshot+= 1;\nflow.set(p+\"ammoleft\", ammoleft);\nflow.set(p+\"allshot\",allshot);\n\nvar msg1 = {\"payload\":allshot, \"topic\":msg.topic+\"/tshot\"};\n\nmsg.payload = {\"value\":ammoleft};\nmsg.topic+=\"/ammo\";\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":1630,"y":540,"wires":[["a6e6dbbe.4a0038"],["a6e6dbbe.4a0038"]]},{"id":"a6e6dbbe.4a0038","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":1950,"y":580,"wires":[]},{"id":"9146457.95eccb8","type":"function","z":"40305aab.d7dff4","name":"B is for Bullet Speed","func":"//msg1 for bspd    msg2 for aspd\n//distance is probably 15cm\nvar qwe = msg.payload;\nvar dist = 0.15; // in metres\nvar time = Number(qwe);\ntime/=1000000;\nvar p= msg.topic;\nvar topp=p;\np=p.substring(7,9);\n\nvar spdd=Number(dist/time).toFixed(3);\nvar bul = flow.get(p+'bullets')||[];\nbul.push(spdd);\nif (bul.length > 5){\n    bul.shift();\n}\nflow.set(p+'bullets', bul);\n\n\nvar total=0;\nfor(var i = 0; i < bul.length; i++) {\n    total += Number(bul[i]);\n}\n\nvar avg = Number(total / bul.length).toFixed(3);\n//var msg2 = msg;\nvar msg2={\"payload\":avg,\"topic\":topp+\"/aspd\"}\n\nmsg.topic+=\"/bspd\";\nmsg.payload=spdd;\n\nvar dub = {'timetype':typeof(qwe),'time':time, 'qwe':qwe, 'dist':dist,'bul':bul};\nvar egg = {'payload':dub, 'topic':'debugger'};\nreturn [msg,msg2,egg];","outputs":3,"noerr":0,"x":1640,"y":580,"wires":[["a6e6dbbe.4a0038","df25589b.c04e18"],["a6e6dbbe.4a0038","df25589b.c04e18"],["df25589b.c04e18"]]},{"id":"df25589b.c04e18","type":"debug","z":"40305aab.d7dff4","name":"bulletspeed","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1930,"y":660,"wires":[]},{"id":"5c73921e.677364","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"player/+/id","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":80,"y":560,"wires":[["b34249db.b3aba8","33e9b748.e8fc1"]]},{"id":"b34249db.b3aba8","type":"function","z":"40305aab.d7dff4","name":"save to Player ID List","func":"var a = global.get('pidlist')||[];\n\nvar player = msg.topic;\nplayer=player.substring(7,9);\na[player]=msg.payload;\n\nglobal.set('pidlist', a);\nmsg.payload=a;\nmsg.topic='inserted list';\nvar msg2= {\"payload\":player};\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":320,"y":560,"wires":[["33e9b748.e8fc1"],["33e9b748.e8fc1"]]},{"id":"ef5d2bc2.b2a1d8","type":"function","z":"40305aab.d7dff4","name":"return to gun frame","func":"var name = msg.payload.data;\nname+=\"      \";\nname=name.slice(0,6);\nvar v = msg.payload.verify;\nv=v.toString();\nvar str = v+name;\nvar myDataFrame = {\n  type: 0x10,\n  id: 0x01,\n  destination64: \"0013a200400a0127\",\n  destination16: msg.payload.gid,\n  broadcastRadius: 0x00,\n  options: 0x00,\n  data: str\n};\nmsg.payload=myDataFrame;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":440,"wires":[["836287d4.3f03c8","37db3f7d.1e16d8"]]},{"id":"be1510c3.032c68","type":"function","z":"40305aab.d7dff4","name":"timer?","func":"var debug = {\"payload\":msg.payload};\nvar start=context.get('start')||0;\nvar thistime = msg.payload;\n\n\nif (start===0){\n    start = thistime;\n    context.set('start',start);\n    msg.payload = null;\n    debug.payload = null;\n    var gogo = {\"payload\":1};\n    return [null,null,gogo];\n}else{\n    start = new Date(Number(start));\n    thistime = new Date(Number(thistime));\n    var time = new Date(thistime-start);\n    msg.payload=time.getUTCHours()+\" Hour \"+time.getUTCMinutes()+\" Minute \"+time.getUTCSeconds()+\" Second\";\n    context.set('start',0);\n    debug.payload=time.getTime();\n    debug.reset=1;\n    var reset = {\"payload\":\"reset\"};\n    return [msg,debug, reset];\n    // msg has 3min 4 sec, debug has 184000, reset has reset\n}\n","outputs":3,"noerr":0,"x":310,"y":880,"wires":[["dd4559b4.5babb8"],["53b746de.039aa8"],["679ad28a.ce58ac","87a26399.aeeaa"]]},{"id":"87a26399.aeeaa","type":"trigger","z":"40305aab.d7dff4","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-1","extend":false,"units":"s","reset":"reset","bytopic":"all","name":"","x":420,"y":1000,"wires":[["679ad28a.ce58ac"]]},{"id":"679ad28a.ce58ac","type":"function","z":"40305aab.d7dff4","name":"counter up?","func":"if (msg.payload=='reset'){\n    context.set('count',0);\n    msg.payload=0;\n    return msg;\n}\nvar count  =context.get('count')||0;\ncount+=1;\nmsg.payload=count;\ncontext.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1000,"wires":[["be05599c.4fe29"]]},{"id":"53b746de.039aa8","type":"function","z":"40305aab.d7dff4","name":"got time passed","func":"flow.set('gametime',Number(msg.payload));\nvar players = global.get('pidlist');\nvar pp1 = players.p1.toString('ascii');\nvar pp2 = players.p2.toString('ascii');\nvar pp3 = players.p3.toString('ascii');\nvar pp4 = players.p4.toString('ascii');\n\nvar q1 = {\"uid\":pp1};\nvar q2 = {\"uid\":pp2};\nvar q3 = {\"uid\":pp3};\nvar q4 = {\"uid\":pp4};\n\nvar msg1={\"payload\":q1, \"topic\":\"p1\"};\nvar msg2={\"payload\":q2, \"topic\":\"p2\"};\nvar msg3={\"payload\":q3, \"topic\":\"p3\"};\nvar msg4={\"payload\":q4, \"topic\":\"p4\"};\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":580,"y":880,"wires":[["b6a1946d.fdc98"],["1fc74cf4.a0bb0b"],["68104285.98a484"],["77828198.76356"]]},{"id":"33e9b748.e8fc1","type":"debug","z":"40305aab.d7dff4","name":"player stuff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":620,"wires":[]},{"id":"5e6682f3.1c2d2c","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"pidlist","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["33e9b748.e8fc1"]]},{"id":"228c51c6.94cb0e","type":"debug","z":"40305aab.d7dff4","name":"results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":420,"wires":[]},{"id":"b6a1946d.fdc98","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":780,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"1fc74cf4.a0bb0b","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":820,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"68104285.98a484","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":860,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"77828198.76356","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"find","upsert":false,"multi":false,"x":910,"y":900,"wires":[["7c7ae6ce.6f2ed"]]},{"id":"7c7ae6ce.6f2ed","type":"function","z":"40305aab.d7dff4","name":"update","func":"var time = Number(msg.payload[0].playtime);\nvar newer =flow.get('gametime');\ntime+= Number(newer);\n\nvar scorelist = global.get('score');\nvar yourscore = parseInt(scorelist[msg.topic]);\nvar oldscore = parseInt(msg.payload[0].totalshot);\nyourscore+=oldscore;\n\nvar update = {$set:{\"playtime\":time, \"totalshot\":yourscore}};\nvar query = {\"uid\":msg.payload[0].uid};\nvar a ={\"payload\":update, \"query\":query, \"topic\":msg.topic};\n\nreturn a;","outputs":1,"noerr":0,"x":1160,"y":840,"wires":[["55f6060f.b8e9d","dfeb8055.b771c"]]},{"id":"55f6060f.b8e9d","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"","collection":"results","operation":"update","upsert":false,"multi":false,"x":1350,"y":840,"wires":[["a7602af6.227e28"]]},{"id":"dfeb8055.b771c","type":"debug","z":"40305aab.d7dff4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":920,"wires":[]},{"id":"831956a5.34842","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"startend","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":120,"y":880,"wires":[["be1510c3.032c68"]]},{"id":"12b192b7.bebc15","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"profile","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":150,"y":1100,"wires":[["f3a29fb7.ac809"]]},{"id":"f3a29fb7.ac809","type":"function","z":"40305aab.d7dff4","name":"get player uid","func":"var focus = msg.payload;\nvar pidlist = global.get('pidlist');\nvar id = pidlist[focus];\nid=id.toString('ascii');\nvar query = {\"uid\": id};\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1100,"wires":[["765cbadb.180304","9a258a2e.b5e46"]]},{"id":"765cbadb.180304","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"query Players","collection":"players","operation":"find","upsert":false,"multi":false,"x":650,"y":1100,"wires":[["ae67dcad.634518","53df2326.71ea24"]]},{"id":"9a258a2e.b5e46","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"query Results","collection":"results","operation":"find","upsert":false,"multi":false,"x":650,"y":1140,"wires":[["1b4357a6.8b27a8","53df2326.71ea24"]]},{"id":"ae67dcad.634518","type":"function","z":"40305aab.d7dff4","name":"","func":"//get players lastgun used \nvar d = new Date(msg.payload[0].logintime);\nmsg.payload={\"gid\": msg.payload[0].lastgun};\n\n\nvar m;\nif (d.getMinutes()<10){\n    m='0'+d.getMinutes();\n}else\n{   \n    m=d.getMinutes();\n}\n\nvar time = d.getHours()+\":\"+m+\"  \"+d.toDateString();\nvar msg2 = {\"payload\": time, \"topic\":msg.topic+\"/time\"};\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":810,"y":1100,"wires":[["5b3aae3a.628f3"],["ac1ee6d5.2bee4"]]},{"id":"1b4357a6.8b27a8","type":"function","z":"40305aab.d7dff4","name":"","func":"//get players playtime, allshots \nvar playtime = Number(msg.payload[0].playtime);\n\nvar seconds = Math.floor((playtime / (1000)) % 60);\nvar minutes = Math.floor((playtime / (1000 * 60)) % 60);\nvar hours   = Math.floor((playtime / (1000 * 60 * 60)) % 24);\nvar time = hours +\"hr \"+minutes+\"min \"+seconds+\"s\";\n\n//var m= ((d.getMinutes()<10) ? '0'+d.getMinutes() : d.getMinutes());\n//var s= ((d.getSeconds()<10) ? '0'+d.getSeconds() : d.getSeconds());\n//var time = d.getUTCHours()+\" Hr \"+m+\" min \"+ s + \"sec\";\nvar timeywimey = {\"payload\": time, \"topic\":msg.topic+\"/ttime\"};\n\nvar allshots = msg.payload[0].totalshot;\nmsg.payload=Number(allshots);\nmsg.topic+=\"/allshots\";\nreturn [timeywimey,msg];","outputs":2,"noerr":0,"x":810,"y":1140,"wires":[["ac1ee6d5.2bee4"],["ac1ee6d5.2bee4"]]},{"id":"53df2326.71ea24","type":"debug","z":"40305aab.d7dff4","name":"profiler","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":1240,"wires":[]},{"id":"5b3aae3a.628f3","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"find gun name","collection":"gun","operation":"find","upsert":false,"multi":false,"x":1000,"y":1080,"wires":[["a6646d3b.0191c"]]},{"id":"a6646d3b.0191c","type":"function","z":"40305aab.d7dff4","name":"make result readable","func":"msg.payload = msg.payload[0].modelname +\"::\"+msg.payload[0].gid;\nmsg.topic+=\"/model\";\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1080,"wires":[["ac1ee6d5.2bee4"]]},{"id":"78006c32.6e5eec","type":"debug","z":"40305aab.d7dff4","name":"switch error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":200,"wires":[]},{"id":"737ffe1d.1b3aa8","type":"function","z":"40305aab.d7dff4","name":"init everything","func":"var ab = [];\nvar plays = {'p1': null, 'p2': null, 'p3': null,'p4': null};\nvar cd = {'p1': 0, 'p2': 0, 'p3': 0,'p4': 0};\n//global.set(\"gunlist\",ab);\nglobal.set(\"playlist\",ab);\nglobal.set(\"pidlist\",plays);\nglobal.set(\"score\", cd);\n\nflow.set(\"p1\"+\"allshot\",0);\nflow.set(\"p2\"+\"allshot\",0);\nflow.set(\"p3\"+\"allshot\",0);\nflow.set(\"p4\"+\"allshot\",0);\n\nflow.set(\"p1\"+\"ammoleft\",0);\nflow.set(\"p2\"+\"ammoleft\",0);\nflow.set(\"p3\"+\"ammoleft\",0);\nflow.set(\"p4\"+\"ammoleft\",0);\n\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["2072f931.3e322e"]]},{"id":"929ec59b.a01d8","type":"inject","z":"40305aab.d7dff4","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["737ffe1d.1b3aa8","59e27da9.f4a88c"]]},{"id":"37db3f7d.1e16d8","type":"debug","z":"40305aab.d7dff4","name":"TX XBEE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1940,"y":400,"wires":[]},{"id":"cec4206d.473b48","type":"function","z":"40305aab.d7dff4","name":"remove from gunlist the failure","func":"var arr = global.get('gunlist');\n\nfor( var i = 0; i < arr.length; i++){ \n   if ( arr[i] === msg.payload.gid) {\n     arr.splice(i, 1); \n   }\n}\nglobal.set('gunlist',arr);\nreturn null;","outputs":1,"noerr":0,"x":1630,"y":380,"wires":[[]],"icon":"font-awesome/fa-thumbs-down"},{"id":"3d1609c.d73f476","type":"mqtt in","z":"40305aab.d7dff4","name":"logout","topic":"logout","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":70,"y":280,"wires":[["737ffe1d.1b3aa8","59e27da9.f4a88c"]]},{"id":"59e27da9.f4a88c","type":"function","z":"40305aab.d7dff4","name":"all to db","func":"var players = global.get('pidlist');\n\nvar pp1 = players.p1;\nvar pp2 = players.p2;\nvar pp3 = players.p3;\nvar pp4 = players.p4;\n\nvar q1 = {\"uid\":pp1};\nvar q2 = {\"uid\":pp2};\nvar q3 = {\"uid\":pp3};\nvar q4 = {\"uid\":pp4};\n\nvar update = {\"$set\":{\"logintime\":Date.now()}};\n\n\nvar msg1={\"payload\":update, \"query\":q1};\nvar msg2={\"payload\":update, \"query\":q2};\nvar msg3={\"payload\":update, \"query\":q3};\nvar msg4={\"payload\":update, \"query\":q4};\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":280,"y":280,"wires":[["50d5c393.f47484"],["50d5c393.f47484"],["50d5c393.f47484"],["50d5c393.f47484"]]},{"id":"50d5c393.f47484","type":"mongodb-node","z":"40305aab.d7dff4","mongodb":"d5873157.9c5a98","name":"update login time","collection":"players","operation":"update","upsert":false,"multi":false,"x":490,"y":260,"wires":[[]]},{"id":"17ef42ba.54a51d","type":"catch","z":"40305aab.d7dff4","name":"","scope":["e2b00dcc.2ff868","836287d4.3f03c8"],"uncaught":false,"x":410,"y":220,"wires":[["6c2fe3c7.0960bc"]]},{"id":"6c2fe3c7.0960bc","type":"debug","z":"40305aab.d7dff4","name":"xbee trouble","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"a7602af6.227e28","type":"function","z":"40305aab.d7dff4","name":"clear most data","func":"//clear recorded data\nflow.set(\"p1\"+\"allshot\",0);\nflow.set(\"p2\"+\"allshot\",0);\nflow.set(\"p3\"+\"allshot\",0);\nflow.set(\"p4\"+\"allshot\",0);\n\nflow.set(\"p1\"+\"ammoleft\",0);\nflow.set(\"p2\"+\"ammoleft\",0);\nflow.set(\"p3\"+\"ammoleft\",0);\nflow.set(\"p4\"+\"ammoleft\",0);\n\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\nflow.set(\"p1\"+'bullets', []);\n\nvar scorelist = global.get('score');\nscorelist[msg.topic]=0;\nglobal.set('score',scorelist);\nvar zero =0 ;\nvar liney = \"player/\"+msg.topic+\"/tshot\";\nmsg.topic = liney;\nmsg.payload = zero;\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":840,"wires":[["ac1ee6d5.2bee4"]]},{"id":"2072f931.3e322e","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"clearall","qos":"","retain":"","broker":"30076b62.06030c","x":500,"y":340,"wires":[]},{"id":"e51cd13d.5ed46","type":"mqtt in","z":"40305aab.d7dff4","name":"","topic":"clearall","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":160,"y":1240,"wires":[["43cce8bc.0d709","963edcdf.965f98"]]},{"id":"43cce8bc.0d709","type":"function","z":"40305aab.d7dff4","name":"most clear","func":"var top = \"player/\";\nvar temp;\nvar blank = {\"payload\":null, \"topic\":top};\nvar people  =[\"p1/\", \"p2/\",\"p3/\",\"p4/\"];\nvar ui = [\"id\",\"name\",\"ammo\", \"aspd\",\"bspd\",\"tshot\",\"imu\"];\nfor (var i=0; i<4;i++){\n    //blank.topic=top;\n    temp=top+people[i];\n    blank.topic=temp;\n    for (j=0;j<ui.length;j++){\n        blank.topic=temp;\n        blank.topic+=ui[j];\n        node.send(blank);\n    }\n}\nmsg.payload=null;\nmsg.topic = \"profile\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1220,"wires":[["252b5d8b.b44b82","857be93f.cf25e8"]]},{"id":"252b5d8b.b44b82","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":650,"y":1220,"wires":[]},{"id":"857be93f.cf25e8","type":"debug","z":"40305aab.d7dff4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1320,"wires":[]},{"id":"ac1ee6d5.2bee4","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":1450,"y":1140,"wires":[]},{"id":"5386ff32.7a4aa8","type":"json","z":"40305aab.d7dff4","name":"","property":"payload","action":"","pretty":false,"x":660,"y":60,"wires":[["2e4015f8.f08b42"]]},{"id":"dd4559b4.5babb8","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"gtime","qos":"","retain":"","broker":"30076b62.06030c","x":400,"y":780,"wires":[]},{"id":"be05599c.4fe29","type":"mqtt out","z":"40305aab.d7dff4","name":"","topic":"counterup","qos":"","retain":"","broker":"30076b62.06030c","x":840,"y":980,"wires":[]},{"id":"8a44e648.e825b","type":"catch","z":"40305aab.d7dff4","name":"","scope":null,"uncaught":true,"x":340,"y":80,"wires":[[]]},{"id":"c1bbd988.a2e738","type":"debug","z":"40305aab.d7dff4","name":"bullet typing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":520,"wires":[]},{"id":"2125f00e.dcb87","type":"switch","z":"40305aab.d7dff4","name":"","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":990,"y":600,"wires":[["5c7687ed.5420e","9afb28af.b0108"],["6895685a.78557","9afb28af.b0108"],["78006c32.6e5eec","9afb28af.b0108"]]},{"id":"6895685a.78557","type":"function","z":"40305aab.d7dff4","name":"str to bool","func":"var a = msg.payload;\na=a.substr(1);\nvar bool=parseInt(a);\nmsg.payload=bool;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":640,"wires":[["4d303b65.fd1204"]]},{"id":"4d303b65.fd1204","type":"function","z":"40305aab.d7dff4","name":"formating","func":"var icon, color, text;\n//msg.payload = Math.floor((Math.random()*2));\nif ((msg.payload=='1')||(msg.payload==1)){\n    icon = \"center_focus_strong\";\n    color=\"red\";\n    text='ACTIVE';\n}else{\n    icon = \"center_focus_weak\";\n    color= \"green\";\n    text='NEUTRAL';\n}\nvar all = {\"color\":color,\"icon\":icon, \"text\":text};\nmsg.payload=all;\n//msg.color=color;\n//msg.payload={\"color\":color,  \"bgcolor\":color};\nmsg.topic+='/imu';\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":640,"wires":[["a6e6dbbe.4a0038","df25589b.c04e18"]]},{"id":"9afb28af.b0108","type":"debug","z":"40305aab.d7dff4","name":"split data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":700,"wires":[]},{"id":"2cb11e73.957bea","type":"debug","z":"40305aab.d7dff4","name":"currentDEBUG","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1710,"y":140,"wires":[]},{"id":"231e7a8.4018306","type":"debug","z":"40305aab.d7dff4","name":"PlayerJSON data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":400,"wires":[]},{"id":"cee7b248.da4828","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"{\"remote16\":\"0402\",\"data\":\"DB2356\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["92c3210.6d0856","6ef59b00.cc077c"]]},{"id":"963edcdf.965f98","type":"function","z":"40305aab.d7dff4","name":"special clear","func":"var top = \"player/\";\nvar temp;\nvar blank = {\"payload\":[0], \"topic\":top};\nvar people  =[\"p1/bspd\", \"p2/bspd\",\"p3/bspd\",\"p4/bspd\"];\nvar imu = [\"p3/imu\",\"p1/imu\"];\nvar ammo= [\"p3/ammo\", \"p1/ammo\",\"p2/ammo\",\"p4/ammo\"];\n//var ui = \"bspd\";\nfor (var i=0; i<4;i++){\n    //blank.topic=top;\n    temp=top+people[i];\n    blank.topic=temp;\n    //blank.topic+=ui;\n    node.send(blank);\n    }\n    blank.payload={\"color\":null,\"icon\":null, \"text\":null};\nfor (var j = 0 ;j<2;j++){\n    temp=top+imu[j];\n    blank.topic=temp;\n    //blank.topic+=ui;\n    node.send(blank);\n    }\n    blank.payload = {\"value\":0, \"max\": 100};\n    for (var k =0; k<4;k++){\n    temp  =top+ammo[k];\n    blank.topic=temp\n    node.send(blank);}\n//for (var k =0;k<2;k++){\n//    \n//}\nreturn null;","outputs":1,"noerr":0,"x":370,"y":1320,"wires":[["252b5d8b.b44b82","857be93f.cf25e8"]]},{"id":"613eb0f9.b881c8","type":"inject","z":"40305aab.d7dff4","name":"CCclear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1320,"wires":[["963edcdf.965f98"]]},{"id":"5a85579c.86dce8","type":"function","z":"40305aab.d7dff4","name":"init everything","func":"var a = msg.payload;\nflow.set(a+\"allshot\",0);\n//flow.set(\"p2\"+\"allshot\",0);\n//flow.set(\"p3\"+\"allshot\",0);\n//flow.set(\"p4\"+\"allshot\",0);\n\nflow.set(a+\"ammoleft\",0);\n//flow.set(\"p2\"+\"ammoleft\",0);\n//flow.set(\"p3\"+\"ammoleft\",0);\n//flow.set(\"p4\"+\"ammoleft\",0);\n\nflow.set(a+'bullets', []);\n//flow.set(\"p1\"+'bullets', []);\n//flow.set(\"p1\"+'bullets', []);\n//flow.set(\"p1\"+'bullets', []);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":1780,"wires":[[]]},{"id":"34b6a0b0.bd149","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1720,"wires":[["5a85579c.86dce8"]]},{"id":"5ac086d3.e98ae","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1760,"wires":[["5a85579c.86dce8"]]},{"id":"4bf40065.f20ce","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1800,"wires":[["5a85579c.86dce8"]]},{"id":"e47f9f83.942a88","type":"inject","z":"40305aab.d7dff4","name":"","topic":"","payload":"p4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1840,"wires":[["5a85579c.86dce8"]]},{"id":"30076b62.06030c","type":"mqtt-broker","z":"","name":"ME","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5873157.9c5a98","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":"DB"}]