Engenius View.json
[{"id":"b5b83123.ab91a8","type":"tab","label":"View","disabled":false,"info":"The View of a MVC Architecture\n\n * Specialised MQTT subscribe outputs data to UI with minimal processing\n * Map is imported as a iframe from localhost:PORT/worldmap\n * Buttons to change from Single to ALL views\n \nBasic User Group included:\n    Name\nAmmunition Remaining\nTotal Fired Bullets\nLatest Bullet Speed\nAverage Bullet Speed\n\nIf the gun is held in an upright active state or not\n\nProfile of user displayed \nLast Gun used\nLast Login time\nTotal time played\nTotal shots fired through history of gameplay\n\nExtras incl\nMinimap of players\nTotal Shots fired in a Horizintal Bar Graph view\n\nAll:\n|BTN|  P1  |  P2  |  P3  |  P4  |\n|   |      |      |      |      |\n|   |      |      |      |      |\n|   |      |      |      |      |\n|   |      |      |      |      |\nsingle:\n|BTN|  P#  | Prof |     Map     |\n|   |      |      |             |\n|   |      |      |             |\n|   |      |      |             |\n|   |      |      |             |\n\n\n\n\nMade by Leanne Tran, 3amWednesday, 2019   "},{"id":"d0f46b9b.1f2a8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":160,"wires":[["2735a5d9.ac2492"]]},{"id":"2735a5d9.ac2492","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":1,"width":0,"height":0,"name":"1 Name","label":"Player:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":380,"y":160,"wires":[]},{"id":"290fb0c3.c4d128","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":520,"wires":[["aa8c6eb7.6a60e8"]]},{"id":"aa8c6eb7.6a60e8","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":1,"width":0,"height":0,"name":"2 Name","label":"Player:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":390,"y":520,"wires":[]},{"id":"b2e8d8ff.ae3208","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":220,"wires":[["5946feb5.3df528"]]},{"id":"c51c9889.5c80c8","type":"ui_gauge","z":"b5b83123.ab91a8","name":"1Ammo","group":"221bcfcf.6ebb4","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":640,"y":220,"wires":[]},{"id":"d659bf8e.c6238","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":280,"wires":[["1c79f35.f32900d","d9eec75d.9cdfe8"]]},{"id":"1c79f35.f32900d","type":"ui_chart","z":"b5b83123.ab91a8","name":"1Speed","group":"221bcfcf.6ebb4","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":280,"wires":[[]]},{"id":"b4eee11f.23e398","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":5,"width":0,"height":0,"name":"1ASpeed","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":380,"y":340,"wires":[]},{"id":"a9516b42.0ae2f8","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":6,"width":0,"height":0,"passthru":false,"label":"Player 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P1\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P2\",\"Dashboard_P3\",\"Dashboard_P4\"]}}","payloadType":"json","topic":"p1","x":180,"y":960,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"33c62755.dbf918","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":8,"width":0,"height":0,"passthru":false,"label":"Player 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P3\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P2\",\"Dashboard_P1\",\"Dashboard_P4\"]}}","payloadType":"json","topic":"p3","x":200,"y":1040,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"acde3512.d04b5","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":9,"width":0,"height":0,"passthru":false,"label":"Player 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P4\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P2\",\"Dashboard_P3\",\"Dashboard_P1\"]}}","payloadType":"json","topic":"p4","x":200,"y":1080,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"3a3235e4.c3fa92","type":"ui_ui_control","z":"b5b83123.ab91a8","name":"","x":500,"y":960,"wires":[[]]},{"id":"2e06bc8d.85d324","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":7,"width":0,"height":0,"passthru":false,"label":"Player 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P2\",\"Dashboard_Profile\",\"Dashboard_Mappp\"],\"hide\":[\"Dashboard_P1\",\"Dashboard_P3\",\"Dashboard_P4\"]}}","payloadType":"json","topic":"p2","x":200,"y":1000,"wires":[["3a3235e4.c3fa92","984559c.eb70da8"]]},{"id":"5b19b8e5.a01a38","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":4,"width":0,"height":0,"passthru":false,"label":"All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"show\":[\"Dashboard_P1\",\"Dashboard_P2\",\"Dashboard_P3\",\"Dashboard_P4\"],\"hide\":[\"Dashboard_Mappp\",\"Dashboard_Profile\"]}}","payloadType":"json","topic":"all","x":200,"y":920,"wires":[["3a3235e4.c3fa92"]]},{"id":"4ce8c1dc.3402c","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":180,"wires":[["c37591b8.247738"]]},{"id":"c37591b8.247738","type":"ui_text","z":"b5b83123.ab91a8","group":"541e7bbf.84c99c","order":1,"width":0,"height":0,"name":"3 Name","label":"Player:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":1120,"y":180,"wires":[]},{"id":"91b3ca20.3e787","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/name","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":520,"wires":[["f91b79d8.803ed"]]},{"id":"f91b79d8.803ed","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":1,"width":0,"height":0,"name":"4 Name","label":"Player:  ","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":1160,"y":520,"wires":[]},{"id":"11796b5a.40ad5d","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":340,"wires":[["b4eee11f.23e398"]]},{"id":"dd592925.ad3ed","type":"ui_chart","z":"b5b83123.ab91a8","name":"","group":"648778d9.13a46","order":3,"width":15,"height":4,"label":"Total Amount of Shots Fired","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ffff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":980,"wires":[[]]},{"id":"b3f0e3a5.d655c8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/+/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":670,"y":980,"wires":[["5c8d4cad.a75b24"]]},{"id":"5c8d4cad.a75b24","type":"function","z":"b5b83123.ab91a8","name":"logger","func":"var player = msg.topic;\nplayer=player.substr(7,2);\nmsg.topic=player;\n\nvar a = global.get(\"score\")||{'p1':null, 'p2':null,'p3':null,'p4':null};\na[player]=msg.payload;\nglobal.set(\"score\",a);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":980,"wires":[["dd592925.ad3ed","bb32db14.f0dc1"]]},{"id":"639cbd21.4b93ac","type":"ui_gauge","z":"b5b83123.ab91a8","name":"2Ammo","group":"2b7841ca.e9488e","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":620,"y":580,"wires":[]},{"id":"dd7114c8.66b898","type":"ui_template","z":"b5b83123.ab91a8","group":"648778d9.13a46","name":"Map widget","order":2,"width":15,"height":8,"format":"<iframe \n    id='frame'\n    src='/worldmap'\n    width='100%'  \n    height='100%'\n>\n</iframe>\n\n<script>\n window.setInterval(\"reloadIFrame();\", 3000);\n function reloadIFrame() {\n  document.frames[\"frame\"].location.reload();\n }\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":750,"y":60,"wires":[[]]},{"id":"f8091c74.a6605","type":"comment","z":"b5b83123.ab91a8","name":"Iframe embedded inside Map widget node","info":"","x":660,"y":100,"wires":[]},{"id":"86ff3c30.5c9e5","type":"inject","z":"b5b83123.ab91a8","name":"","topic":"","payload":"[{\"lat\":49.268311,\"lng\":-123.148146,\"description\":\"awefa\",\"iconUrl\":\"http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/pink-jelly-icons-arrows/009173-pink-jelly-icon-arrows-triangle-solid-left.png\"},{\"lat\":49.265311,\"lng\":-123.148146,\"description\":\"awefa\",\"iconUrl\":\"http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/pink-jelly-icons-arrows/009173-pink-jelly-icon-arrows-triangle-solid-left.png\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"","x":557,"y":59,"wires":[["dd7114c8.66b898"]]},{"id":"dc216d62.ae9e2","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":580,"wires":[["26299207.902e96"]]},{"id":"6a863a30.304e4c","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":640,"wires":[["47a44a76.a75d34","28f8ba26.6ae75e"]]},{"id":"566add8.5d6e124","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":700,"wires":[["fdcf7875.24c24"]]},{"id":"47a44a76.a75d34","type":"ui_chart","z":"b5b83123.ab91a8","name":"2Speed","group":"2b7841ca.e9488e","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":640,"wires":[[]]},{"id":"fdcf7875.24c24","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":5,"width":0,"height":0,"name":"2ASpeed","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":380,"y":700,"wires":[]},{"id":"8472316b.1b0c2","type":"ui_gauge","z":"b5b83123.ab91a8","name":"3Ammo","group":"","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1420,"y":240,"wires":[]},{"id":"177de509.94044b","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":240,"wires":[[]]},{"id":"c63ba95b.bf72d8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":300,"wires":[[]]},{"id":"35dde0fe.802b3","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":360,"wires":[[]]},{"id":"637b48ef.a44d7","type":"ui_text","z":"b5b83123.ab91a8","group":"","order":5,"width":0,"height":0,"name":"3ASPEED","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1120,"y":360,"wires":[]},{"id":"3f1f0d6d.df720a","type":"ui_gauge","z":"b5b83123.ab91a8","name":"4Ammo","group":"ba9105f8.7c9208","order":2,"width":0,"height":0,"gtype":"gage","title":"Ammo","label":"shots","format":"{{value}}","min":0,"max":10,"colors":["#d50000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":1360,"y":580,"wires":[]},{"id":"f63e84ab.fc6fb","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/ammo","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":580,"wires":[["bc3577f4.6c6288"]]},{"id":"d6dc3aa.1881948","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/bspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":640,"wires":[["78bde143.b78e6","f3136fc5.bd01a"]]},{"id":"dda28712.540938","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/aspd","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":700,"wires":[["e701f73.3db7608"]]},{"id":"78bde143.b78e6","type":"ui_chart","z":"b5b83123.ab91a8","name":"4Speed","group":"ba9105f8.7c9208","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":640,"wires":[[]]},{"id":"e701f73.3db7608","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":5,"width":0,"height":0,"name":"4ASPEED","label":"Average Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":1120,"y":700,"wires":[]},{"id":"4f6cbc6.a2ae3c4","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":14,"width":0,"height":0,"passthru":false,"label":"Sign Up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":180,"y":880,"wires":[["3a3235e4.c3fa92"]]},{"id":"984559c.eb70da8","type":"function","z":"b5b83123.ab91a8","name":"fixer","func":"//var pidlist = global.get('pidlist');\n//var id = pidlist[focus];\n// query = {\"uid\": id};\nvar a = {\"payload\":msg.topic, \"topic\":\"profile\"};\nreturn a;","outputs":1,"noerr":0,"x":550,"y":1080,"wires":[["a00bff3.790fe8"]]},{"id":"4ebd3e62.79772","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":3,"width":0,"height":0,"name":"1Total Shots","label":"Total Shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":400,"wires":[]},{"id":"7dd9b63.f895dc8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":400,"wires":[["4ebd3e62.79772"]]},{"id":"34e8d843.aa358","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":3,"width":0,"height":0,"name":"2Total Shots","label":"Total Shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":760,"wires":[]},{"id":"50780d2b.a177e4","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":180,"y":760,"wires":[["34e8d843.aa358"]]},{"id":"9ed78643.086f8","type":"ui_text","z":"b5b83123.ab91a8","group":"4be17c6.e34b404","order":2,"width":"8","height":"13","name":"3total Shots","label":"Total Shots fired: ","format":"<h1>{{msg.payload}}</h1>","layout":"col-center","x":1130,"y":420,"wires":[]},{"id":"cbe0071e.18cde","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":420,"wires":[["9ed78643.086f8","a32617f1.17d5c"]]},{"id":"fd980d11.481ea8","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":3,"width":0,"height":0,"name":"Total Shots","label":"Total Shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":760,"wires":[]},{"id":"1cf73d2f.bf332b","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/tshot","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":760,"wires":[["fd980d11.481ea8"]]},{"id":"26299207.902e96","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":580,"wires":[["57edcf25.bf4a6"]]},{"id":"e15d227f.d211a","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":240,"wires":[["71a94c0f.bea894"]]},{"id":"5946feb5.3df528","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["ddcfdd1d.4a10b"]]},{"id":"ddcfdd1d.4a10b","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["c51c9889.5c80c8"]]},{"id":"57edcf25.bf4a6","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["639cbd21.4b93ac"]]},{"id":"71a94c0f.bea894","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":240,"wires":[["8472316b.1b0c2"]]},{"id":"bc3577f4.6c6288","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":580,"wires":[["4103c764.65c18"]]},{"id":"4103c764.65c18","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.value = msg.payload.value;\ndelete msg.payload.value;\nmsg.ui_control= msg.payload;\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":580,"wires":[["3f1f0d6d.df720a"]]},{"id":"2ee40082.a78bd","type":"ui_button","z":"b5b83123.ab91a8","name":"","group":"4a39a197.00c2f","order":1,"width":0,"height":0,"passthru":false,"label":"Start/End Game","tooltip":"","color":"","bgcolor":"DodgerBlue","icon":"","payload":"","payloadType":"date","topic":"startend","x":200,"y":1120,"wires":[["a00bff3.790fe8"]]},{"id":"a00bff3.790fe8","type":"mqtt out","z":"b5b83123.ab91a8","name":"","topic":"","qos":"","retain":"","broker":"30076b62.06030c","x":670,"y":1120,"wires":[]},{"id":"e1de8744.96a45","type":"ui_button","z":"b5b83123.ab91a8","name":"Log Everyone Out","group":"4a39a197.00c2f","order":15,"width":0,"height":0,"passthru":false,"label":"Log Everyone Out","tooltip":"Will clear the players logged in","color":"","bgcolor":"","icon":"","payload":"a","payloadType":"str","topic":"logout","x":190,"y":1160,"wires":[["a00bff3.790fe8"]]},{"id":"291f25df.f656b2","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":3,"width":0,"height":0,"name":"","label":"Last login time is :","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1120,"wires":[]},{"id":"f4e4256.0f04d58","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":4,"width":0,"height":0,"name":"","label":"Total Time played :","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":1160,"wires":[]},{"id":"d89e075e.491f5","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":5,"width":0,"height":0,"name":"","label":"Total shots fired: ","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":1200,"wires":[]},{"id":"6f15ca88.604d4c","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":2,"width":0,"height":0,"name":"","label":"Last Gun used was: ","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":1080,"wires":[]},{"id":"c63cef0a.20e4f","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/model","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1080,"wires":[["6f15ca88.604d4c"]]},{"id":"9bc08e15.108dd8","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/time","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":860,"y":1120,"wires":[["291f25df.f656b2"]]},{"id":"4cc173d4.c4b3bc","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/ttime","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1160,"wires":[["f4e4256.0f04d58"]]},{"id":"fe896b8e.3f2e4","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"profile/allshots","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1200,"wires":[["d89e075e.491f5"]]},{"id":"8aea5e90.afc85","type":"mqtt in","z":"b5b83123.ab91a8","name":"to clear","topic":"profile","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":870,"y":1240,"wires":[["6f15ca88.604d4c","291f25df.f656b2","f4e4256.0f04d58","d89e075e.491f5"]]},{"id":"e30a775c.669c9","type":"ui_text","z":"b5b83123.ab91a8","group":"5abf8915.3e04a8","order":6,"width":0,"height":0,"name":"","label":"Game Time: ","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":920,"wires":[]},{"id":"fdc62477.639eb","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"gtime","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":920,"y":920,"wires":[["e30a775c.669c9"]]},{"id":"cd0fb6e.d5b9ec8","type":"ui_gauge","z":"b5b83123.ab91a8","name":"Countdown","group":"5abf8915.3e04a8","order":8,"width":6,"height":8,"gtype":"wave","title":"Time Elapsed","label":"seconds","format":"{{value}}","min":0,"max":"900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":860,"wires":[]},{"id":"6f143e68.b67f38","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"counterup","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":720,"y":920,"wires":[["cd0fb6e.d5b9ec8"]]},{"id":"d9eec75d.9cdfe8","type":"ui_text","z":"b5b83123.ab91a8","group":"221bcfcf.6ebb4","order":4,"width":0,"height":0,"name":"1Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":520,"y":320,"wires":[]},{"id":"2f15529b.c1a246","type":"catch","z":"b5b83123.ab91a8","name":"","scope":null,"uncaught":false,"x":160,"y":80,"wires":[[]]},{"id":"e9f3d150.4ceb6","type":"ui_button","z":"b5b83123.ab91a8","name":"1imu","group":"221bcfcf.6ebb4","order":7,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":440,"wires":[[]]},{"id":"e06b45d1.d08278","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p1/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":170,"y":440,"wires":[["2f80b9e4.31a386"]]},{"id":"2f80b9e4.31a386","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":440,"wires":[["587bea2e.99d2f4"]]},{"id":"587bea2e.99d2f4","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["e9f3d150.4ceb6"]]},{"id":"e96319bd.60eb1","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p3/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":1330,"y":360,"wires":[["63bcd701.c133c"]]},{"id":"63bcd701.c133c","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1510,"y":360,"wires":[["72af756f.b91864"]]},{"id":"72af756f.b91864","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":360,"wires":[["549a8e13.fe6068"]]},{"id":"549a8e13.fe6068","type":"ui_button","z":"b5b83123.ab91a8","name":"3imu","group":"541e7bbf.84c99c","order":3,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1770,"y":360,"wires":[[]]},{"id":"7addf777.cb748","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p2/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":170,"y":820,"wires":[["68a0e15a.6b8158"]]},{"id":"68a0e15a.6b8158","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":820,"wires":[["3ae6de01.32e012"]]},{"id":"3ae6de01.32e012","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":820,"wires":[["f9a95d97.ed61f8"]]},{"id":"f9a95d97.ed61f8","type":"ui_button","z":"b5b83123.ab91a8","name":"2imu","group":"2b7841ca.e9488e","order":7,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":610,"y":820,"wires":[[]]},{"id":"ebf92b87.33b188","type":"mqtt in","z":"b5b83123.ab91a8","name":"","topic":"player/p4/imu","qos":"2","datatype":"auto","broker":"30076b62.06030c","x":1290,"y":700,"wires":[["9233118a.a7b5f"]]},{"id":"9233118a.a7b5f","type":"json","z":"b5b83123.ab91a8","name":"","property":"payload","action":"","pretty":false,"x":1470,"y":700,"wires":[["ad0e6338.6db5f"]]},{"id":"ad0e6338.6db5f","type":"function","z":"b5b83123.ab91a8","name":"","func":"msg.ui_control = {'icon': msg.payload.icon};\nmsg.colour= msg.payload.color;\nmsg.text=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":700,"wires":[["d4042cda.83664"]]},{"id":"d4042cda.83664","type":"ui_button","z":"b5b83123.ab91a8","name":"4imu","group":"ba9105f8.7c9208","order":7,"width":0,"height":0,"passthru":false,"label":"{{text}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1730,"y":700,"wires":[[]]},{"id":"28f8ba26.6ae75e","type":"ui_text","z":"b5b83123.ab91a8","group":"2b7841ca.e9488e","order":4,"width":0,"height":0,"name":"2Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":560,"y":680,"wires":[]},{"id":"b9e8923c.cdecd8","type":"ui_text","z":"b5b83123.ab91a8","group":"","order":4,"width":0,"height":0,"name":"3Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":1280,"y":280,"wires":[]},{"id":"f3136fc5.bd01a","type":"ui_text","z":"b5b83123.ab91a8","group":"ba9105f8.7c9208","order":4,"width":0,"height":0,"name":"4Bullet Speed","label":"Lastest Bullet Speed:","format":"{{msg.payload}} m/s","layout":"row-spread","x":1120,"y":680,"wires":[]},{"id":"bb32db14.f0dc1","type":"debug","z":"b5b83123.ab91a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":1020,"wires":[]},{"id":"95a6f9f3.c7a8a8","type":"inject","z":"b5b83123.ab91a8","name":"","topic":"","payload":"score","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":870,"y":1020,"wires":[["bb32db14.f0dc1"]]},{"id":"a32617f1.17d5c","type":"ui_template","z":"b5b83123.ab91a8","group":"541e7bbf.84c99c","name":"","order":2,"width":"8","height":"13","format":"<div style=\"text-align: center;font-size:45px;\">\n    <h1>SHOTS FIRED</h1>\n\n    <break></break>\n    <div>{{msg.payload}}</div>\n\n</div>\n    ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1180,"y":460,"wires":[[]]},{"id":"1cbd9382.e3a7ec","type":"ui_chart","z":"b5b83123.ab91a8","name":"3Speed","group":"","order":6,"width":0,"height":0,"label":"Ammo Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":300,"wires":[[]]},{"id":"30076b62.06030c","type":"mqtt-broker","z":"","name":"ME","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"221bcfcf.6ebb4","type":"ui_group","z":"","name":"P1","tab":"38ae2bbe.a18a24","order":2,"disp":true,"width":8,"collapse":false},{"id":"2b7841ca.e9488e","type":"ui_group","z":"","name":"P2","tab":"38ae2bbe.a18a24","order":3,"disp":true,"width":8,"collapse":false},{"id":"4a39a197.00c2f","type":"ui_group","z":"","name":"Menu","tab":"38ae2bbe.a18a24","order":1,"disp":true,"width":3,"collapse":false},{"id":"541e7bbf.84c99c","type":"ui_group","z":"","name":"P3","tab":"38ae2bbe.a18a24","order":4,"disp":true,"width":8,"collapse":false},{"id":"ba9105f8.7c9208","type":"ui_group","z":"","name":"P4","tab":"38ae2bbe.a18a24","order":5,"disp":true,"width":8,"collapse":false},{"id":"648778d9.13a46","type":"ui_group","z":"","name":"Mappp","tab":"38ae2bbe.a18a24","order":7,"disp":false,"width":"15","collapse":false},{"id":"4be17c6.e34b404","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"24"},{"id":"5abf8915.3e04a8","type":"ui_group","z":"","name":"Profile","tab":"38ae2bbe.a18a24","order":6,"disp":false,"width":"8","collapse":false},{"id":"38ae2bbe.a18a24","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]