Old Prototype blowdart game.json
[{"id":"ccdfb1e5.1e28f","type":"tab","label":"prototype blow gart game","disabled":true,"info":"{old}"},{"id":"4c18c58e.aa5914","type":"ui_text","z":"ccdfb1e5.1e28f","group":"597f7f2c.968ce","order":1,"width":0,"height":0,"name":"","label":"MAX SPEED","format":"<h1 style=\"font-size:70px;\">{{msg.payload}} m/s</h1>","layout":"row-center","x":910,"y":280,"wires":[]},{"id":"d068befe.2c574","type":"function","z":"ccdfb1e5.1e28f","name":"spped maths","func":"var d = 0.13;\nvar t = Number(msg.payload)/1000000;\nvar spd=(d/t).toFixed(2);\nmsg.payload=spd;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["eafd588e.c7d6e","d0e933a9.ceca","fe7c6a8e.943e88"]]},{"id":"eafd588e.c7d6e","type":"ui_gauge","z":"ccdfb1e5.1e28f","name":"gauge","group":"2d2c9884.13511","order":1,"width":0,"height":0,"gtype":"gage","title":"SPEED","label":"units","format":"{{msg.payload}} m/s","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"d0e933a9.ceca","type":"function","z":"ccdfb1e5.1e28f","name":"voiceover","func":"var a = msg.payload;\nif (a<5){\n    msg.payload = \"BOOO! YOU ARE TOO SLOW\";\n}else if (a<8){\n    msg.payload = \"HOW AVERAGE!\"\n}else if (a<10){\n    msg.payload = \"YOU THINK YOU'RE FAST?!\"\n}else if (a<12){\n    msg.payload = \"THATS GOOD!\"\n}else if (a>=14){\n    msg.payload = \"DING DING DING! YOU'RE A SOPERSTAR\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["a2536433.9cb9c8"]]},{"id":"a2536433.9cb9c8","type":"ui_audio","z":"ccdfb1e5.1e28f","name":"","group":"2d2c9884.13511","voice":"en-GB","always":true,"x":700,"y":480,"wires":[]},{"id":"fe7c6a8e.943e88","type":"function","z":"ccdfb1e5.1e28f","name":"scoreborad","func":"var list = flow.get('list')||[];\nvar max  = context.get('max')||0;\nvar uscore = msg.payload;\nlist.push(uscore);\nlist.sort(function(a, b){return b - a});\nif (max<list[0]){\n    max=list[0];\n}\n\nmsg.payload=max;\n\nflow.set('list',list);\ncontext.set('max',max);\n\n//GET AVG\nvar total=0;\nfor (var i = 0;i<list.length;i++){\n    total+=Number(list[i]);\n}\nvar avg = Number(total/list.length).toFixed(4);\nvar bbb = {\"payload\":avg};\nvar ccc = {\"payload\":list};\nvar ddd = {\"payload\":list, \"uscore\":uscore};\nreturn [msg,bbb,ccc,ddd];","outputs":4,"noerr":0,"x":650,"y":300,"wires":[["4c18c58e.aa5914"],["e55fbc69.841f"],[],["a8822657.85872","3f824c06.7b005c"]]},{"id":"e55fbc69.841f","type":"ui_text","z":"ccdfb1e5.1e28f","group":"597f7f2c.968ce","order":2,"width":0,"height":0,"name":"","label":"AVERAGE:","format":"<h1 style=\"font-size:70px;\">{{msg.payload}} m/s</h1>","layout":"row-center","x":910,"y":320,"wires":[]},{"id":"3f824c06.7b005c","type":"debug","z":"ccdfb1e5.1e28f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":200,"wires":[]},{"id":"ee192d92.6a1c9","type":"ui_template","z":"ccdfb1e5.1e28f","group":"597f7f2c.968ce","name":"","order":3,"width":0,"height":0,"format":"<div style=\"text-align: center;font-size:45px;\">\n    <h1>SCORE</h1>\n\n    <break></break>\n    <div>{{msg.payload[0][0]}} : {{msg.payload[0][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[1][0]}} : {{msg.payload[1][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[2][0]}} : {{msg.payload[2][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[3][0]}} : {{msg.payload[3][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[4][0]}} : {{msg.payload[4][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[5][0]}} : {{msg.payload[5][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[6][0]}} : {{msg.payload[6][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[7][0]}} : {{msg.payload[7][1]}}</div>\n        <break></break>\n    <div>{{msg.payload[8][0]}} : {{msg.payload[8][1]}}</div>\n    <break></break>\n    <div>{{msg.payload[9][0]}} : {{msg.payload[9][1]}}</div>\n</div>\n    ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1180,"y":460,"wires":[[]]},{"id":"2ea657af.8b29c8","type":"ui_toast","z":"ccdfb1e5.1e28f","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1120,"y":500,"wires":[]},{"id":"a8822657.85872","type":"function","z":"ccdfb1e5.1e28f","name":"ranking of glory for spd>13","func":"if (msg.uscore>=msg.payload[0]){\n    var amazing  =\"NEW HIGH SCORE!\";\n    var eyyyy = \"WOULD YOU LIKE TO ENTER YOUR NAME?\";\n    node.send({\"payload\":amazing});\n    msg.payload=eyyyy;\n    setTimeout(function(){ \n        node.send({\"payload\":eyyyy}); }, 3000);\n        flow.set('record',1);\n        flow.set('recent',msg.uscore);\n}\nelse{\n    flow.set('record',0);\n    flow.set('recent',msg.uscore);\n    return null;\n}\nreturn null;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["2ea657af.8b29c8","3f824c06.7b005c"]]},{"id":"f67e1b87.b11838","type":"ui_text_input","z":"ccdfb1e5.1e28f","name":"","label":"ENTER NAME HERE","tooltip":"3 LETTER NAME ","group":"597f7f2c.968ce","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":740,"y":560,"wires":[["895cc63a.8f0568"]]},{"id":"895cc63a.8f0568","type":"switch","z":"ccdfb1e5.1e28f","name":"","property":"record","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":1030,"y":560,"wires":[["3f824c06.7b005c"],["7d1c3364.f575f4"]],"outputLabels":["NO","YEA"]},{"id":"7d1c3364.f575f4","type":"function","z":"ccdfb1e5.1e28f","name":"","func":"var ranks = flow.get('ranking')||[];\nvar recent = flow.get('recent');\nvar name = msg.payload;\nvar rec = [name, recent];\nranks.push(rec);\nranks = ranks.sort(function(a,b) {\n    return b[1] - a[1];\n});\nflow.set('ranking',ranks);\nflow.set('recent',0);\nflow.set('record',0);\nmsg.payload=ranks;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":480,"wires":[["ee192d92.6a1c9","3f824c06.7b005c"]]},{"id":"32c8c9c4.efa94e","type":"inject","z":"ccdfb1e5.1e28f","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["eea81525.1f3a5"]]},{"id":"eea81525.1f3a5","type":"function","z":"ccdfb1e5.1e28f","name":"","func":"var ranking=[];\nflow.set('ranking',ranking);\nflow.set('record',0);\n    flow.set('recent',0);\n    flow.set('list',[]);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"597f7f2c.968ce","type":"ui_group","z":"","name":"Group 2","tab":"2504a96.b454cd6","order":2,"disp":true,"width":5,"collapse":false},{"id":"2d2c9884.13511","type":"ui_group","z":"","name":"Default","tab":"2504a96.b454cd6","disp":false,"width":"25","collapse":false},{"id":"2504a96.b454cd6","type":"ui_tab","z":"","name":"ARE YOU FAST ENERF?","icon":"dashboard","order":6,"disabled":true,"hidden":true}]